In [1]:
from fastai.imports import *

In [2]:
df = pd.read_excel('All2021Cohorts_merged_outlier managed_copy_2.xlsx', sheet_name='MergedRTV_Control2021',header=5)

In [4]:
df['new_status'] = np.where(df['Status'] == 'PEER', 'PEER', 
                            np.where(df['Status'] == 'RTV', 
                                    np.where(df['save_mode_7'] == 1, 
                                    'RTV_vsla', 'RTV_nonvsla'), 
                                    df['Status']))

In [6]:
peer = df[df['Status']=='PEER']
rtv = df[df['Status']=='RTV']

In [7]:
df.Status.value_counts()

Status
RTV     3897
PEER    1899
Name: count, dtype: int64

In [11]:
df.groupby('Status')[['water_distance_collect_water_round_trip','hh_water_collection_Minutes']].mean().transpose()

Status                                        PEER        RTV
water_distance_collect_water_round_trip   1.981587   1.221638
hh_water_collection_Minutes              52.885624  33.443318

1	Protected Spring
2	Borehole
3	Gravity Flow
4	Tap
5	Shallow well/Deep well
6	Pond/Swamp
7	Puddles
8	Unprotected Spring/well
9	River/Lake
97	Other

In [19]:
(df.groupby('Status')['Main_source_of_water_for_consumption'].value_counts(normalize=True)*100).unstack().transpose()

Status                                     PEER        RTV
Main_source_of_water_for_consumption
1                                     35.545024  34.744675
2                                      5.318589  10.957147
3                                      3.264876   2.745702
4                                      8.636124  17.885553
5                                     12.322275   8.929946
6                                      5.687204   1.667950
7                                      0.842549   0.461894
8                                     19.220642  12.394149
9                                      8.004213   8.288427
97                                     1.158504   1.924557

## Baseline

In [20]:
peer_cont = pd.read_excel('All2021Cohorts_merged_outlier managed_copy_2.xlsx', sheet_name='All2021ControlBaseline',header=5)
rtv_cont = pd.read_excel('All2021Cohorts_merged_outlier managed_copy_2.xlsx', sheet_name='All2021CohortBaseline',header=5)

In [25]:
peer_cont[['Distance_Travelled_to_Collect_Water_Round_Trip', 
          'Time_to_collect_Water_for_Household_use_Minutes',
          'Number_of_Daily_Trips_to_collect_Water']].mean()

Distance_Travelled_to_Collect_Water_Round_Trip      0.938618
Time_to_collect_Water_for_Household_use_Minutes    40.549315
Number_of_Daily_Trips_to_collect_Water              2.446978
dtype: float64

In [31]:
rtv_cont[['Distance_Travelled_to_Collect_Water',
          'Time_to_collect_Water_for_Household_use_Minutes',
          'Number_of_Daily_Trips_to_collect_Water']].mean()

Distance_Travelled_to_Collect_Water                 0.931958
Time_to_collect_Water_for_Household_use_Minutes    45.663354
Number_of_Daily_Trips_to_collect_Water              2.319944
dtype: float64