In [1]:
from fastai.imports import *

In [2]:
df = pd.read_excel('Rubirizi2022CohortYr1.xlsx',header=5)

In [3]:
kaliro = pd.read_excel('KALIRO yr1 AHS 2023.xlsx',sheet_name='Kaliro Aggregator_RTV_YR1',header=5)

In [4]:
kaliro.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,text_audit,district,Surveyor_Name,...,gs_pen_clean.1,gs_droppings_rem_composted.1,pg_pen_constr.1,pg_pen_clean.1,pg_droppings_rem_composted.1,WASH (%),AGRIC (%),Livestock (%),Household Compliance (%),Status
0,2023-08-18 19:02:30,2023-08-18 16:54:54,2023-08-18 17:45:05,2308161026,2362,24,24,https://rtvuganda.surveycto.com/view/submission-attachment/TA_50d64490-30f7-449f-a740-4fb4a2d9c98f.csv?uuid=uuid%3A50d64490-30f7-449f-a740-4fb4a2d9c98f,9,30,...,NaN,NaN,NaN,NaN,NaN,0.763889,0.300,NaN,0.531944,RTV
1,2023-08-19 18:58:40,2023-08-19 11:49:20,2023-08-19 12:27:13,2308182343,2228,22,22,https://rtvuganda.surveycto.com/view/submission-attachment/TA_5f6a255d-aa2a-45a6-b98a-8d9bff8bfc40.csv?uuid=uuid%3A5f6a255d-aa2a-45a6-b98a-8d9bff8bfc40,9,30,...,NaN,NaN,NaN,NaN,NaN,0.888889,0.800,NaN,0.844444,RTV
2,2023-08-17 20:12:53,2023-08-17 17:11:09,2023-08-17 17:39:48,2308161026,1720,14,14,https://rtvuganda.surveycto.com/view/submission-attachment/TA_96d0f61d-db51-430a-8715-9265308ee48b.csv?uuid=uuid%3A96d0f61d-db51-430a-8715-9265308ee48b,9,33,...,NaN,NaN,NaN,NaN,NaN,0.333333,0.400,NaN,0.366667,RTV
3,2023-08-15 19:16:53,2023-08-15 14:34:34,2023-08-15 15:07:41,2308132155,1967,5,5,https://rtvuganda.surveycto.com/view/submission-attachment/TA_096e73d7-a817-463e-aed5-b1706087a2b5.csv?uuid=uuid%3A096e73d7-a817-463e-aed5-b1706087a2b5,9,38,...,0.0,1.0,NaN,NaN,NaN,0.812500,0.975,NaN,0.893750,RTV
4,2023-08-18 07:32:18,2023-08-17 12:37:44,2023-08-17 13:43:39,2308132155,3872,30,30,https://rtvuganda.surveycto.com/view/submission-attachment/TA_b9edd42b-8f3e-4c77-beb6-f5f1fc84dc17.csv?uuid=uuid%3Ab9edd42b-8f3e-4c77-beb6-f5f1fc84dc17,9,31,...,0.0,1.0,NaN,NaN,NaN,0.763889,0.275,NaN,0.519444,RTV

In [3]:
df.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,text_audit,district,Surveyor_Name,...,gs_pen_clean.1,gs_droppings_rem_composted.1,pg_pen_constr.1,pg_pen_clean.1,pg_droppings_rem_composted.1,WASH (%),AGRIC (%),Livestock (%),Household Compliance (%),Status
0,2023-08-23 20:09:46,2023-08-23 08:53:30,2023-08-23 09:52:24,2308202234,1465,12.0,12.0,https://rtvuganda.surveycto.com/view/submission-attachment/TA_d8d0529f-ab1b-4448-af39-c188001b4e78.csv?uuid=uuid%3Ad8d0529f-ab1b-4448-af39-c188001b4e78,13,127,...,NaN,NaN,NaN,NaN,NaN,0.708333,0.375,NaN,0.541667,RTV
1,2023-08-28 17:04:11,2023-08-28 12:41:06,2023-08-28 16:19:07,2308280814,1547,7.0,7.0,https://rtvuganda.surveycto.com/view/submission-attachment/TA_2e8bc8f8-97e4-4ac0-aebd-00919da536ff.csv?uuid=uuid%3A2e8bc8f8-97e4-4ac0-aebd-00919da536ff,13,144,...,NaN,NaN,NaN,NaN,NaN,0.812500,0.100,NaN,0.456250,RTV
2,2023-08-25 19:54:24,2023-08-25 09:14:08,2023-08-25 10:26:14,2308250033,1769,3.0,3.0,https://rtvuganda.surveycto.com/view/submission-attachment/TA_555cefc1-4ba9-4920-8181-932168a75078.csv?uuid=uuid%3A555cefc1-4ba9-4920-8181-932168a75078,13,127,...,NaN,NaN,NaN,NaN,NaN,0.513889,0.450,NaN,0.481944,RTV
3,2023-08-26 15:17:42,2023-08-26 08:48:40,2023-08-26 10:01:15,2308250033,1520,4.0,4.0,https://rtvuganda.surveycto.com/view/submission-attachment/TA_799f9252-0ab2-4f04-bd27-2bdd283ec4ff.csv?uuid=uuid%3A799f9252-0ab2-4f04-bd27-2bdd283ec4ff,13,127,...,1.0,0.0,NaN,NaN,NaN,0.652778,0.100,NaN,0.376389,RTV
4,2023-08-24 16:56:27,2023-08-24 11:20:43,2023-08-24 12:05:12,2308240653,931,3.0,3.0,https://rtvuganda.surveycto.com/view/submission-attachment/TA_ad73ce4e-0194-4309-ad56-5dd957b57b2d.csv?uuid=uuid%3Aad73ce4e-0194-4309-ad56-5dd957b57b2d,13,127,...,1.0,0.0,NaN,NaN,NaN,0.479167,0.100,NaN,0.289583,RTV

- Total Land Owned
- Land for Crop Agriculture
- Average Crop Varieties grown
- VSLA partcipation
- HH Participation in crop agriculture

In [ ]:
df['Season1_cropped']

In [ ]:
df['Season2_cropped']

In [ ]:
df['Size_land_owned','Land_size_for_Crop_Agriculture_Acres', 'seasonal_crops_planted', 'season2_crops_planted'

In [9]:
df['Average Crop Varieties grown'] = df[['seasonal_crops_planted','season2_crops_planted']].sum(axis=1)

In [34]:
kaliro[['seasonal_crops_planted','season2_crops_planted']]

     seasonal_crops_planted  season2_crops_planted
0                         1                      0
1                         0                      2
2                         0                      0
3                         1                      0
4                         2                      2
..                      ...                    ...
939                       8                      8
940                       2                      2
941                       6                      5
942                       6                      5
943                       2                      2

[944 rows x 2 columns]

In [35]:
kaliro[['seasonal_crops_planted','season2_crops_planted']].sum(axis=1).mean()

5.705508474576271

In [26]:
df[['seasonal_crops_planted','season2_crops_planted']].mean()

seasonal_crops_planted    2.979478
season2_crops_planted     3.010261
dtype: float64

In [30]:
kaliro[['seasonal_crops_planted','season2_crops_planted']].mean()

seasonal_crops_planted    3.282839
season2_crops_planted     2.422669
dtype: float64

In [36]:
(3.282839 + 2.422669)/2

2.852754

In [23]:
df['HH Participation in crop agriculture'] = ((df['Season1_cropped'] == 1.0) | (df['Season2_cropped'] == 1.0)).astype(int)

In [46]:
df['vsla_participation'] = ((df['save_mode_7']==1) | (df['save_mode_8']==1)).astype(int)

In [50]:
df[['Size_land_owned','Land_size_for_Crop_Agriculture_Acres', 
    'Average Crop Varieties grown', 'HH Participation in crop agriculture',
    'vsla_participation',
    'save_mode_7','save_mode_8',
     ]].mean()

Size_land_owned                         2.316518
Land_size_for_Crop_Agriculture_Acres    2.006273
Average Crop Varieties grown            5.989739
HH Participation in crop agriculture    0.973881
vsla_participation                      0.688433
save_mode_7                             0.459888
save_mode_8                             0.436567
dtype: float64

## Business

Type of Personal Business/Self Employment Title	
1	Fishing/Fish Mongering
2	Retail Shop/Whole sale Shop/Produce dealer (store)
3	Mobile Money
4	Hawker
5	Timber/Trees trade/Carpentry
6	Livestock trading
7	Driver/Motorbike rider/Bicycle rider
8	Butchery/Butcher
9	Restaurant/Bar
10	Hairdresser/Barber
11	Tailor/Cobbler
12	Charcoal / Firewood
13	Grain milling (Posho/Millet/Cassava)
14	Mechanic (Motorbikes/cars/bicycle)
15	Drug shop (Human&Vet)/Health Facility
16	Brewing
17	Craft Making (Baskets/Mats/Molding)
18	Hardware
19	Brick making
20	Masonry
21	Fuel Station (Petrol/Diesel/Paraffin)
22	Mining (Sand/Rocks/Aggregate/Gold)
23	Food vendor(food/drinks/Cereals/vegetables
24	Private School
25	Scrap (Metal/Plastic)
26	Welding
27	Stone Quarrying

In [55]:
df['Business_type_1'].value_counts()

Business_type_1
0.0    226
1.0      6
Name: count, dtype: int64

In [53]:
df[['Business_type_1','Business_type_2','Business_type_3','Business_type_4','Business_type_5','Business_type_6',
   'Business_type_7','Business_type_8','Business_type_9','Business_type_10','Business_type_11','Business_type_12',
   'Business_type_13','Business_type_14','Business_type_15','Business_type_16','Business_type_17','Business_type_18',
   'Business_type_19','Business_type_20','Business_type_21','Business_type_22','Business_type_23','Business_type_24',
   'Business_type_25','Business_type_26','Business_type_27']].mean()

Business_type_1     0.025862
Business_type_2     0.284483
Business_type_3     0.004310
Business_type_4     0.012931
Business_type_5     0.021552
Business_type_6     0.004310
Business_type_7     0.086207
Business_type_8     0.000000
Business_type_9     0.051724
Business_type_10    0.025862
Business_type_11    0.017241
Business_type_12    0.008621
Business_type_13    0.004310
Business_type_14    0.012931
Business_type_15    0.017241
Business_type_16    0.310345
Business_type_17    0.012931
Business_type_18    0.004310
Business_type_19    0.012931
Business_type_20    0.008621
Business_type_21    0.000000
Business_type_22    0.008621
Business_type_23    0.090517
Business_type_24    0.000000
Business_type_25    0.004310
Business_type_26    0.008621
Business_type_27    0.000000
dtype: float64

## Livestock

- Goats
- Sheep
- Chicken
- Pigs
- Rabbits
- Cows
- Turkey
- Bees
- Guinea Pigs
- Ducks
- Quails
- None

Has the household owned any of the following livestock animals during the last 12 months?
FO go through each type of livestock with the interviewee and select all that the household owns. Please select other for any livestock the household owns that is not on the list

1	Goats
2	Sheep
3	Chicken
4	Pigs
5	Rabbits
6	Cows
7	Turkey
8	Bees
9	Guinea Pigs
10	Ducks
11	Quails
-99	None

In [64]:
df[['Livestock_list_1','Livestock_list_2','Livestock_list_3','Livestock_list_4',
   'Livestock_list_5','Livestock_list_6','Livestock_list_7','Livestock_list_8',
   'Livestock_list_9','Livestock_list_10','Livestock_list_11','Livestock_list__99']].mean()

Livestock_list_1      0.695201
Livestock_list_2      0.076524
Livestock_list_3      0.564202
Livestock_list_4      0.206226
Livestock_list_5      0.011673
Livestock_list_6      0.011673
Livestock_list_7      0.023346
Livestock_list_8      0.002594
Livestock_list_9      0.000000
Livestock_list_10     0.090791
Livestock_list_11     0.000000
Livestock_list__99    0.000000
dtype: float64