In [23]:
import pandas as pd
import numpy as np

## 2020 year2

## 2020 year3

In [5]:
year3 = pd.read_excel('All2020CohortsMonth36.xlsx', sheet_name='ALL2020CohortsMonth36_OutlierMa',header=5)

/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D136 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D155 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D296 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D537 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D848 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D939 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/Users/rtv-lpt-127/mambaforge/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell D1072 is marked as a date but the serial value 2308202234 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

In [6]:
year3.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,text_audit,district,Surveyor_Name,...,Livestock Asset Value (USD_PPP),HH Income (USD_PPP),Consumption + Residues (USD_PPP),HH Income + Consumption + Residues (USD_PPP),HH Income + Consumption+ Assets + Residues (USD_PPP),Assets (USD_PPP),HH Income/Day (USD_PPP),Consumption/Day (USD_PPP),HH Income + Consumption + Residues/Day (USD_PPP),HH Income + Consumption + Assets + Residues / Day (USD_PPP)
0,2023-08-21 22:53:41,2023-08-21 09:15:06,2023-08-21 12:18:46,2.308202e+09,1917,8.0,8.0,https://rtvuganda.surveycto.com/view/submissio...,2,27,...,0.000000,147.911708,310.424143,458.335852,458.335852,0.000000,0.405238,0.850477,1.255715,1.255715
1,2023-08-19 21:57:31,2023-08-19 12:38:09,2023-08-19 14:55:13,2.308161e+09,1720,7.0,7.0,https://rtvuganda.surveycto.com/view/submissio...,2,18,...,0.000000,334.864490,128.549875,463.414365,463.414365,0.000000,0.917437,0.352191,1.269628,1.269628
2,2023-08-22 01:50:41,2023-08-21 13:35:32,2023-08-22 01:17:58,2.308202e+09,1924,3.0,3.0,https://rtvuganda.surveycto.com/view/submissio...,2,40,...,0.000000,220.915341,253.925680,474.841021,474.841021,0.000000,0.605248,0.695687,1.300934,1.300934
3,2023-08-19 21:48:51,2023-08-19 08:35:20,2023-08-19 17:19:21,2.308161e+09,1846,4.0,4.0,https://rtvuganda.surveycto.com/view/submissio...,2,27,...,69.829562,127.089803,279.064322,406.154125,475.983687,69.829562,0.348191,0.764560,1.112751,1.304065
4,2023-08-22 01:50:57,2023-08-21 13:53:31,2023-08-21 21:53:06,2.308202e+09,2386,3.0,3.0,https://rtvuganda.surveycto.com/view/submissio...,2,40,...,0.000000,249.164573,230.120147,479.284720,479.284720,0.000000,0.682643,0.630466,1.313109,1.313109

In [7]:
def gender_age_processing(df):
    sex_mapping = {1: 'Male', 2: 'Female'}
    df['Gender'] = df['hhh_sex'].replace(sex_mapping)
    df['Household_Head_Gender'] = df['Gender']
    df['Household_Head_Gender'] = df.apply(
        lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1
    )
    return df

In [8]:
rate = 3700
ppp_rate = 1270.608
adj = 80.66

In [11]:
(year3['HH Income + Consumption + Residues']/rate/365).mean()

3.1894907340390586

In [16]:
year3['HH Income + Consumption + Residues/Day'] = year3['HH Income + Consumption + Residues']/rate/365

In [17]:
year3['HH Income + Consumption + Residues/Day']

0       0.534617
1       0.540541
2       0.553869
3       0.473750
4       0.559052
          ...
3651    6.065902
3652    3.902999
3653    6.127730
3654    5.490559
3655    6.544243
Name: HH Income + Consumption + Residues/Day, Length: 3656, dtype: float64

In [18]:
year3['HH Income + Consumption + Residues (USD Const) / day'] = year3['HH Income + Consumption + Residues/Day'] * (adj /100)

In [19]:
(year3['HH Income + Consumption + Residues']/ppp_rate/365) * (adj /100)

0        1.255715
1        1.269628
2        1.300934
3        1.112751
4        1.313109
          ...
3651    14.247666
3652     9.167413
3653    14.392890
3654    12.896294
3655    15.371200
Name: HH Income + Consumption + Residues, Length: 3656, dtype: float64

In [20]:
year3['HH Income + Consumption + Residues ((USD Const PPP Adj)) / day'] = (year3['HH Income + Consumption + Residues']/ppp_rate/365) * (adj /100)

In [21]:
year3[['HH Income + Consumption + Residues (USD Const) / day','HH Income + Consumption + Residues ((USD Const PPP Adj)) / day']]

,HH Income + Consumption + Residues (USD Const) / day,HH Income + Consumption + Residues ((USD Const PPP Adj)) / day
0,0.431222,1.255715
1,0.436000,1.269628
2,0.446751,1.300934
3,0.382127,1.112751
4,0.450932,1.313109
...,...,...
3651,4.892756,14.247666
3652,3.148159,9.167413
3653,4.942627,14.392890
3654,4.428685,12.896294
3655,5.278586,15.371200

In [24]:
year3['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'] = year3['HH Income + Consumption + Residues (USD Const) / day']/np.sqrt(year3['# HH Members'])

In [25]:
year3['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'] = year3['HH Income + Consumption + Residues ((USD Const PPP Adj)) / day']/np.sqrt(year3['# HH Members'])

In [26]:
year3[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]

,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
0,0.215611,0.627857
1,0.308299,0.897763
2,0.148917,0.433645
3,0.156003,0.454279
4,0.225466,0.656554
...,...,...
3651,1.412417,4.112947
3652,1.189892,3.464956
3653,1.747483,5.088655
3654,3.131553,9.119057
3655,1.995118,5.809767

In [27]:
year3.groupby('Quartile')[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].agg(['median','mean'])

         HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)  \
                                                                   median
Quartile
Group 1                                            1.046813
Group 2                                            1.070173
Group 3                                            1.045205
Group 4                                            1.109589

                    \
              mean
Quartile
Group 1   1.206810
Group 2   1.247624
Group 3   1.236993
Group 4   1.282863

         HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)  \
                                                               median
Quartile
Group 1                                            3.048311
Group 2                                            3.116336
Group 3                                            3.043630
Group 4                                            3.231113


              mean
Quartile
Group 1   3.514220
Group 2   3.633071
Group 3   3.602113
Group 4   3.735685

In [55]:
boundaries = [0, 0.25, 0.45, 0.63,0.75,1.05,float('inf')]
labels = ["0-<0.25/Day", "0.25-<.45/Day", "0.45-<0.63/Day", "0.63-<0.75/Day", "0.75-<1.05/Day", ">1.05+/Day"]

In [56]:
boundaries_ppp = [0, 0.75, 1.25, 1.77,2.15,3,float('inf')]
labels_ppp = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<1.77/Day", "1.77-<2.15 /Day", "2.15-3/Day", ">3+/Day"]

In [57]:
year2['income_group_usdconst'] = pd.cut(year2['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [59]:
year2['income_group_pp'] = pd.cut(year2['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_ppp, labels=labels_ppp, right=False)

In [60]:
year2['income_group_usdconst'].value_counts(normalize=True)

income_group_usdconst
>1.05+/Day        0.351491
0.75-<1.05/Day    0.176423
0.25-<.45/Day     0.161518
0.45-<0.63/Day    0.148509
0.63-<0.75/Day    0.098916
0-<0.25/Day       0.063144
Name: proportion, dtype: float64

In [61]:
year2['income_group_pp'].value_counts(normalize=True)

income_group_pp
>3+/Day            0.375881
2.15-3/Day         0.174255
1.25-<1.77/Day     0.147696
0.75-<1.25/Day     0.131436
1.77-<2.15 /Day    0.107046
0-<0.75/Day        0.063686
Name: proportion, dtype: float64

In [65]:
year2 = gender_age_processing(year2)

In [71]:
year2.groupby(['Household_Head_Gender', 'Quartile'])[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                              'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

                                HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)  \
Household_Head_Gender Quartile
Female Headed         Group 1                                            0.728039
                      Group 2                                            0.703092
                      Group 3                                            0.699438
                      Group 4                                            0.752961
Male Headed           Group 1                                            0.842672
                      Group 2                                            0.770065
                      Group 3                                            0.905937
                      Group 4                                            0.829855
Youth Headed          Group 1                                            0.745787
                      Group 2                                            0.731409
                      Group 3                                            0.797082
                      Group 4                                            0.837744

                                HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender Quartile
Female Headed         Group 1                                            2.177342
                      Group 2                                            2.102732
                      Group 3                                            2.091805
                      Group 4                                            2.251877
Male Headed           Group 1                                            2.520174
                      Group 2                                            2.303029
                      Group 3                                            2.709380
                      Group 4                                            2.481844
Youth Headed          Group 1                                            2.230420
                      Group 2                                            2.187422
                      Group 3                                            2.383827
                      Group 4                                            2.505436

In [68]:
year2.groupby('Household_Head_Gender')['income_group_usdconst'].value_counts(normalize=True)

Household_Head_Gender  income_group_usdconst
Female Headed          >1.05+/Day               0.312245
                       0.45-<0.63/Day           0.172449
                       0.75-<1.05/Day           0.171429
                       0.25-<.45/Day            0.153061
                       0.63-<0.75/Day           0.107143
                       0-<0.25/Day              0.083673
Male Headed            >1.05+/Day               0.372549
                       0.75-<1.05/Day           0.178253
                       0.25-<.45/Day            0.166667
                       0.45-<0.63/Day           0.135918
                       0.63-<0.75/Day           0.089572
                       0-<0.25/Day              0.057041
Youth Headed           >1.05+/Day               0.332618
                       0.75-<1.05/Day           0.178112
                       0.45-<0.63/Day           0.158798
                       0.25-<.45/Day            0.154506
                       0.63-<0.75/Day           0.126609
                       0-<0.25/Day              0.049356
Name: proportion, dtype: float64

In [69]:
year2.groupby('Household_Head_Gender')['income_group_pp'].value_counts(normalize=True)

Household_Head_Gender  income_group_pp
Female Headed          >3+/Day            0.338776
                       2.15-3/Day         0.170408
                       1.25-<1.77/Day     0.161224
                       0.75-<1.25/Day     0.126531
                       1.77-<2.15 /Day    0.119388
                       0-<0.75/Day        0.083673
Male Headed            >3+/Day            0.396613
                       2.15-3/Day         0.176025
                       1.25-<1.77/Day     0.143048
                       0.75-<1.25/Day     0.135027
                       1.77-<2.15 /Day    0.091355
                       0-<0.75/Day        0.057932
Youth Headed           >3+/Day            0.354077
                       2.15-3/Day         0.173820
                       1.77-<2.15 /Day    0.156652
                       1.25-<1.77/Day     0.141631
                       0.75-<1.25/Day     0.124464
                       0-<0.75/Day        0.049356
Name: proportion, dtype: float64

## 2017 base

In [137]:
base_17 = pd.read_excel('Copy of Kiso2017Cohort_60month_EvaluationFileFinal_1%_4%_24_08_2022.xlsx', sheet_name='2017cohortBaseOutlierMan')

In [138]:
base_17 = base_17.iloc[:1224,:]

In [139]:
base_rate = 3600
base_ppp_rate = 1270.608

In [140]:
base_17['HH Income + Consumption']/base_rate/365

0       5.296804
1       4.166667
2       2.180365
3       3.063166
4       5.106545
          ...
1219    0.108828
1220    0.261035
1221    0.156012
1222    0.205479
1223    0.251142
Name: HH Income + Consumption, Length: 1224, dtype: float64

In [141]:
base_17['HH Income + Consumption + Residues (USD Const) / day'] = base_17['HH Income + Consumption']/base_rate/365

In [142]:
(base_17['HH Income + Consumption']/base_ppp_rate/365)

0       15.007377
1       11.805372
2        6.177606
3        8.678835
4       14.468319
          ...
1219     0.308341
1220     0.739588
1221     0.442028
1222     0.582183
1223     0.711557
Name: HH Income + Consumption, Length: 1224, dtype: float64

In [143]:
base_17['HH Income + Consumption + Residues ((USD Const PPP Adj)) / day'] = (base_17['HH Income + Consumption']/base_ppp_rate/365)

In [144]:
base_17[['HH Income + Consumption + Residues (USD Const) / day','HH Income + Consumption + Residues ((USD Const PPP Adj)) / day']]

,HH Income + Consumption + Residues (USD Const) / day,HH Income + Consumption + Residues ((USD Const PPP Adj)) / day
0,5.296804,15.007377
1,4.166667,11.805372
2,2.180365,6.177606
3,3.063166,8.678835
4,5.106545,14.468319
...,...,...
1219,0.108828,0.308341
1220,0.261035,0.739588
1221,0.156012,0.442028
1222,0.205479,0.582183
1223,0.251142,0.711557

In [145]:
base_17['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'] = base_17['HH Income + Consumption + Residues (USD Const) / day']/np.sqrt(base_17['# HH Members'])

In [146]:
base_17['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'] = base_17['HH Income + Consumption + Residues ((USD Const PPP Adj)) / day']/np.sqrt(base_17['# HH Members'])

In [147]:
base_17[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]

,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
0,2.368803,6.711503
1,1.473139,4.173829
2,0.975089,2.762709
3,1.369889,3.881293
4,2.084738,5.906666
...,...,...
1219,0.048669,0.137894
1220,0.098662,0.279538
1221,0.055159,0.156280
1222,0.083887,0.237675
1223,0.125571,0.355778

In [148]:
base_17.groupby('Quartile')[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Quartile,,
Group 1,0.632758,1.792786
Group 2,0.400874,1.135792
Group 3,0.314730,0.891722
Group 4,0.224855,0.637078

In [149]:
boundaries = [0, 0.25, 0.45, 0.63,0.75,1.05,float('inf')]
labels = ["0-<0.25/Day", "0.25-<.45/Day", "0.45-<0.63/Day", "0.63-<0.75/Day", "0.75-<1.05/Day", ">1.05+/Day"]

In [150]:
boundaries_ppp = [0, 0.75, 1.25, 1.77,2.15,3,float('inf')]
labels_ppp = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<1.77/Day", "1.77-<2.15 /Day", "2.15-3/Day", ">3+/Day"]

In [151]:
base_17['income_group_usdconst'] = pd.cut(base_17['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [152]:
base_17['income_group_pp'] = pd.cut(base_17['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_ppp, labels=labels_ppp, right=False)

In [153]:
base_17['income_group_usdconst'].value_counts(normalize=True)

income_group_usdconst
0.25-<.45/Day     0.291667
0-<0.25/Day       0.268791
0.45-<0.63/Day    0.167484
>1.05+/Day        0.106209
0.75-<1.05/Day    0.100490
0.63-<0.75/Day    0.065359
Name: proportion, dtype: float64

In [154]:
base_17['income_group_pp'].value_counts(normalize=True)

income_group_pp
0-<0.75/Day        0.294118
0.75-<1.25/Day     0.257353
1.25-<1.77/Day     0.170752
>3+/Day            0.105392
2.15-3/Day         0.097222
1.77-<2.15 /Day    0.075163
Name: proportion, dtype: float64

## 2017 Year 2

In [155]:
grad_17= pd.read_excel('Copy of Kiso2017Cohort_60month_EvaluationFileFinal_1%_4%_24_08_2022.xlsx', sheet_name='2017CohortY2OutlierMan')

In [156]:
grad_17 = grad_17.iloc[:1326,:]

In [157]:
rate_year2 = 3700
adj_y2 = 95.28
base_ppp_rate = 1270.608

In [158]:
grad_17['HH Income + Consumption + Residues']/rate_year2/365 * (adj_y2 / 100)

0        0.364752
1        0.541131
2         0.40285
3        0.585579
4        0.451707
          ...
1321     3.962181
1322    10.536889
1323     11.04486
1324     6.943975
1325     2.647803
Name: HH Income + Consumption + Residues, Length: 1326, dtype: object

In [159]:
grad_17['HH Income + Consumption + Residues (USD Const) / day'] = grad_17['HH Income + Consumption + Residues']/rate_year2/365 * (adj_y2 / 100)

In [160]:
(grad_17['HH Income + Consumption + Residues']/base_ppp_rate/365) * (adj_y2 / 100)

0        1.062155
1        1.575769
2        1.173096
3          1.7052
4        1.315367
          ...
1321    11.537837
1322    30.683332
1323    32.162542
1324    20.220799
1325     7.710381
Name: HH Income + Consumption + Residues, Length: 1326, dtype: object

In [161]:
grad_17['HH Income + Consumption + Residues ((USD Const PPP Adj)) / day'] = (grad_17['HH Income + Consumption + Residues']/base_ppp_rate/365) * (adj_y2 / 100)

In [162]:
grad_17[['HH Income + Consumption + Residues (USD Const) / day','HH Income + Consumption + Residues ((USD Const PPP Adj)) / day']]

,HH Income + Consumption + Residues (USD Const) / day,HH Income + Consumption + Residues ((USD Const PPP Adj)) / day
0,0.364752,1.062155
1,0.541131,1.575769
2,0.40285,1.173096
3,0.585579,1.7052
4,0.451707,1.315367
...,...,...
1321,3.962181,11.537837
1322,10.536889,30.683332
1323,11.04486,32.162542
1324,6.943975,20.220799
1325,2.647803,7.710381

In [163]:
grad_17['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'] = grad_17['HH Income + Consumption + Residues (USD Const) / day']/np.sqrt(grad_17['# HH Members'])

In [164]:
grad_17['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'] = grad_17['HH Income + Consumption + Residues ((USD Const PPP Adj)) / day']/np.sqrt(grad_17['# HH Members'])

In [165]:
grad_17[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]

,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
0,0.163122,0.47501
1,0.191319,0.557119
2,0.201425,0.586548
3,0.338084,0.984498
4,0.202009,0.58825
...,...,...
1321,1.497563,4.360892
1322,4.71224,13.722003
1323,5.52243,16.081271
1324,4.009106,11.674484
1325,1.000776,2.91425

In [166]:
grad_17.groupby('Quartile')[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Quartile,,
Group 1,0.947743,2.759819
Group 2,0.695394,2.024982
Group 3,0.775375,2.257885
Group 4,0.968909,2.821456

In [167]:
boundaries = [0, 0.25, 0.45, 0.63,0.75,1.05,float('inf')]
labels = ["0-<0.25/Day", "0.25-<.45/Day", "0.45-<0.63/Day", "0.63-<0.75/Day", "0.75-<1.05/Day", ">1.05+/Day"]

In [168]:
boundaries_ppp = [0, 0.75, 1.25, 1.77,2.15,3,float('inf')]
labels_ppp = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<1.77/Day", "1.77-<2.15 /Day", "2.15-3/Day", ">3+/Day"]

In [169]:
grad_17['income_group_usdconst'] = pd.cut(grad_17['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [170]:
grad_17['income_group_pp'] = pd.cut(grad_17['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_ppp, labels=labels_ppp, right=False)

In [171]:
grad_17['income_group_usdconst'].value_counts(normalize=True)

income_group_usdconst
>1.05+/Day        0.414027
0.75-<1.05/Day    0.180995
0.25-<.45/Day     0.141780
0.45-<0.63/Day    0.138763
0.63-<0.75/Day    0.092760
0-<0.25/Day       0.031674
Name: proportion, dtype: float64

In [172]:
grad_17['income_group_pp'].value_counts(normalize=True)

income_group_pp
>3+/Day            0.426848
2.15-3/Day         0.176471
1.25-<1.77/Day     0.146305
0.75-<1.25/Day     0.113876
1.77-<2.15 /Day    0.102564
0-<0.75/Day        0.033937
Name: proportion, dtype: float64

## Baseline 2021

In [1]:
import numpy as np

In [4]:
base = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021CohortBaseline',header=5)
rub_base = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='Rubanda2021Cohort_Base',header=5)

In [94]:
base['HH Income (USD_Cons_rate)']

0         17.581667
1         17.581667
2         45.210000
3         60.280000
4         30.140000
           ...
1414     509.868333
1415     781.128333
1416    1306.066667
1417    1940.513667
1418    1584.861667
Name: HH Income (USD_Cons_rate), Length: 1419, dtype: float64

In [19]:
base.shape

(1419, 6736)

In [20]:
rub_base.shape

(319, 6715)

In [5]:
base['HH Income + Consumption + Residues (USD_Cons_rate)'].

0         72.838333
1         72.838333
2         90.420000
3         90.671167
4         60.531167
           ...
1414     587.730000
1415     900.181333
1416    1632.583333
1417    2145.968000
1418    2190.173333
Name: HH Income + Consumption + Residues (USD_Cons_rate), Length: 1419, dtype: float64

In [6]:
base_cohort = pd.concat([base[['Quartile','hhh_sex','hhh_age','HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)', 'HH Income + Consumption + Residues (USD_Cons_rate)']],
               rub_base[['Quartile','hhh_sex','hhh_age','HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)', 'HH Income + Consumption + Residues (USD_Cons_rate)']]])

In [7]:
base_cohort.head()

,Quartile,hhh_sex,hhh_age,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues (USD_Cons_rate)
0,Group 4,1,31,0.099779,0.282701,72.838333
1,Group 4,2,52,0.115214,0.326436,72.838333
2,Group 3,1,42,0.087584,0.248152,90.420000
3,Group 3,1,62,0.143422,0.406356,90.671167
4,Group 3,2,52,0.082919,0.234935,60.531167

In [11]:
base_cohort['HH Income + Consumption + Residues (USD_Cons_rate)'].agg(['mean', 'median'])

mean      310.977039
median    219.519667
Name: HH Income + Consumption + Residues (USD_Cons_rate), dtype: float64

In [70]:
sex_mapping = {1: 'Male', 2: 'Female'}
base_cohort['Gender'] = base_cohort['hhh_sex'].replace(sex_mapping)
base_cohort['Gender'].value_counts()

Gender
Male      1307
Female     431
Name: count, dtype: int64

In [37]:
base_cohort['Household_Head_Gender'] = base_cohort['Gender']

In [72]:
base_cohort['Household_Head_Gender'] = base_cohort.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [73]:
base_cohort['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed Headed      1034
Female Headed Headed     396
Youth Headed             308
Name: count, dtype: int64

In [42]:
base_cohort.to_excel("base_cohort.xlsx", index=False)

In [43]:
import pandas as pd

In [44]:
base_cohort = pd.read_excel("base_cohort.xlsx")

In [45]:
base_cohort.head()

,Quartile,hhh_sex,hhh_age,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj),Gender,Household_Head_Gender
0,Group 4,1,31,0.099779,0.282701,Male,Male Headed
1,Group 4,2,52,0.115214,0.326436,Female,Female Headed
2,Group 3,1,42,0.087584,0.248152,Male,Male Headed
3,Group 3,1,62,0.143422,0.406356,Male,Male Headed
4,Group 3,2,52,0.082919,0.234935,Female,Female Headed

In [101]:
base_cohort['Quartile'].value_counts(normalize=True)

Quartile
Group 4    0.346375
Group 2    0.263521
Group 3    0.246835
Group 1    0.143268
Name: proportion, dtype: float64

In [102]:
base_cohort.groupby('Quartile')[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].agg(['median','mean'])

         HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)  \
                                                                   median
Quartile
Group 1                                            0.473111
Group 2                                            0.376065
Group 3                                            0.289515
Group 4                                            0.198903

                    \
              mean
Quartile
Group 1   0.760744
Group 2   0.477772
Group 3   0.362693
Group 4   0.255443

         HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)  \
                                                               median
Quartile
Group 1                                            1.340460
Group 2                                            1.065500
Group 3                                            0.820280
Group 4                                            0.563549


              mean
Quartile
Group 1   2.155407
Group 2   1.353665
Group 3   1.027615
Group 4   0.723745

0-<0.25/Day
0.25-<.45/Day
0.45-<0.63/Day
0.63-<0.75/Day
0.75-<1.05/Day
1.05+/Day

0-<0.75/Day
0.75-<1.25/Day
1.25-<1.77/Day
1.77-<2.15 /Day
2.15-3/Day
3+/Day

In [59]:
base_cohort['income_group_usdconst'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [61]:
base_cohort['income_group_pp'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_ppp, labels=labels_ppp, right=False)

In [62]:
base_cohort['income_group_usdconst'].value_counts(normalize=True)

income_group_usdconst
0-<0.25/Day       0.426928
0.25-<.45/Day     0.300345
0.45-<0.63/Day    0.118527
0.75-<1.05/Day    0.060414
>1.05+/Day        0.056387
0.63-<0.75/Day    0.037399
Name: proportion, dtype: float64

In [63]:
base_cohort['income_group_pp'].value_counts(normalize=True)

income_group_pp
0-<0.75/Day        0.450518
0.75-<1.25/Day     0.265247
1.25-<1.77/Day     0.130035
2.15-3/Day         0.058113
>3+/Day            0.055811
1.77-<2.15 /Day    0.040276
Name: proportion, dtype: float64

In [74]:
base_cohort.head()

,Quartile,hhh_sex,hhh_age,HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj),Gender,Household_Head_Gender,income_group_usdconst,income_group_pp
0,Group 4,1,31,0.099779,0.282701,Male,Male Headed Headed,0-<0.25/Day,0-<0.75/Day
1,Group 4,2,52,0.115214,0.326436,Female,Female Headed Headed,0-<0.25/Day,0-<0.75/Day
2,Group 3,1,42,0.087584,0.248152,Male,Male Headed Headed,0-<0.25/Day,0-<0.75/Day
3,Group 3,1,62,0.143422,0.406356,Male,Male Headed Headed,0-<0.25/Day,0-<0.75/Day
4,Group 3,2,52,0.082919,0.234935,Female,Female Headed Headed,0-<0.25/Day,0-<0.75/Day

In [76]:
base_cohort['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed Headed      1034
Female Headed Headed     396
Youth Headed             308
Name: count, dtype: int64

In [104]:
base_cohort.groupby(['Household_Head_Gender', 'Quartile'])[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                              'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].agg(['median','mean'])

                               HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)  \
                                                                                         median
Household_Head_Gender Quartile
Female Headed Headed  Group 1                                            0.477151
                      Group 2                                            0.359945
                      Group 3                                            0.344172
                      Group 4                                            0.209879
Male Headed Headed    Group 1                                            0.466450
                      Group 2                                            0.379870
                      Group 3                                            0.275045
                      Group 4                                            0.184900
Youth Headed          Group 1                                            0.537641
                      Group 2                                            0.360556
                      Group 3                                            0.302088
                      Group 4                                            0.245918

                                          \
                                    mean
Household_Head_Gender Quartile
Female Headed Headed  Group 1   0.735399
                      Group 2   0.451564
                      Group 3   0.404391
                      Group 4   0.259862
Male Headed Headed    Group 1   0.771952
                      Group 2   0.483592
                      Group 3   0.335366
                      Group 4   0.239383
Youth Headed          Group 1   0.748150
                      Group 2   0.493921
                      Group 3   0.397803
                      Group 4   0.303308

                               HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)  \
                                                                                     median
Household_Head_Gender Quartile
Female Headed Headed  Group 1                                            1.351907
                      Group 2                                            1.019830
                      Group 3                                            0.975140
                      Group 4                                            0.594648
Male Headed Headed    Group 1                                            1.321588
                      Group 2                                            1.076280
                      Group 3                                            0.779283
                      Group 4                                            0.523876
Youth Headed          Group 1                                            1.523293
                      Group 2                                            1.021559
                      Group 3                                            0.855903
                      Group 4                                            0.696757


                                    mean
Household_Head_Gender Quartile
Female Headed Headed  Group 1   2.083597
                      Group 2   1.279411
                      Group 3   1.145756
                      Group 4   0.736263
Male Headed Headed    Group 1   2.187162
                      Group 2   1.370156
                      Group 3   0.950190
                      Group 4   0.678241
Youth Headed          Group 1   2.119725
                      Group 2   1.399421
                      Group 3   1.127092
                      Group 4   0.859359

In [90]:
base_cohort.groupby('Household_Head_Gender')['income_group_usdconst'].value_counts(normalize=True)

Household_Head_Gender  income_group_usdconst
Female Headed Headed   0-<0.25/Day              0.396465
                       0.25-<.45/Day            0.308081
                       0.45-<0.63/Day           0.136364
                       0.75-<1.05/Day           0.063131
                       0.63-<0.75/Day           0.058081
                       >1.05+/Day               0.037879
Male Headed Headed     0-<0.25/Day              0.452611
                       0.25-<.45/Day            0.303675
                       0.45-<0.63/Day           0.104449
                       >1.05+/Day               0.061896
                       0.75-<1.05/Day           0.050290
                       0.63-<0.75/Day           0.027079
Youth Headed           0-<0.25/Day              0.379870
                       0.25-<.45/Day            0.279221
                       0.45-<0.63/Day           0.142857
                       0.75-<1.05/Day           0.090909
                       >1.05+/Day               0.061688
                       0.63-<0.75/Day           0.045455
Name: proportion, dtype: float64

In [91]:
base_cohort.groupby('Household_Head_Gender')['income_group_pp'].value_counts(normalize=True)

Household_Head_Gender  income_group_pp
Female Headed Headed   0-<0.75/Day        0.419192
                       0.75-<1.25/Day     0.267677
                       1.25-<1.77/Day     0.154040
                       2.15-3/Day         0.063131
                       1.77-<2.15 /Day    0.058081
                       >3+/Day            0.037879
Male Headed Headed     0-<0.75/Day        0.473888
                       0.75-<1.25/Day     0.269826
                       1.25-<1.77/Day     0.117021
                       >3+/Day            0.060928
                       2.15-3/Day         0.049323
                       1.77-<2.15 /Day    0.029014
Youth Headed           0-<0.75/Day        0.412338
                       0.75-<1.25/Day     0.246753
                       1.25-<1.77/Day     0.142857
                       2.15-3/Day         0.081169
                       >3+/Day            0.061688
                       1.77-<2.15 /Day    0.055195
Name: proportion, dtype: float64

In [99]:
base_cohort['Quartile'].value_counts(normalize=True)

Quartile
Group 4    0.346375
Group 2    0.263521
Group 3    0.246835
Group 1    0.143268
Name: proportion, dtype: float64

## Peer

# Year 2

In [ ]:
peer_grad = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlYr2',header=5)

In [ ]:
peer_grad['Gender'] = peer_grad['hhh_sex'].replace(sex_mapping)
peer_grad['Gender'].value_counts()

In [ ]:
peer_grad['Household_Head_Gender'] = peer_grad['Gender']

In [ ]:
peer_grad['Household_Head_Gender'] = peer_grad.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [ ]:
peer_grad['Household_Head_Gender'].value_counts()

In [ ]:
peer_grad.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

In [ ]:
peer_grad.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

In [ ]:
peer_grad['HH Income/Day (USD_adult_equiv_adj)'].mean(), peer_grad['HH Income/Day (USD_adult_equiv_adj)'].median()

In [ ]:
peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

# Year one

In [ ]:
peer_grad_y1 = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlYr1',header=5)

In [ ]:
peer_grad_y1['Gender'] = peer_grad_y1['hhh_sex'].replace(sex_mapping)
peer_grad_y1['Gender'].value_counts()

In [ ]:
peer_grad_y1['Household_Head_Gender'] = peer_grad_y1['Gender']

In [ ]:
peer_grad_y1['Household_Head_Gender'] = peer_grad_y1.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [ ]:
peer_grad_y1['Household_Head_Gender'].value_counts()

In [ ]:
peer_grad_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

In [ ]:
peer_grad_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

In [ ]:
peer_grad_y1['HH Income/Day (USD_adult_equiv_adj)'].mean(), peer_grad_y1['HH Income/Day (USD_adult_equiv_adj)'].median()

In [ ]:
peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

# Baseline

In [54]:
base_peer = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlBaseline',header=5)
rub_base_peer = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='Rubanda2021Control_Base',header=5)

In [ ]:
base_peer.shape

In [ ]:
rub_base_peer.shape

In [55]:
base_peer = pd.concat([base_peer[['Quartile','hhh_sex','hhh_age','HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']],
               rub_base_peer[['Quartile','hhh_sex','hhh_age','HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]])

In [103]:
base_peer.groupby('Quartile')[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].agg(['median','mean'])

         HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)  \
                                                                   median
Quartile
Group 1                                            0.616446
Group 2                                            0.434151
Group 3                                            0.352591
Group 4                                            0.332382

                    \
              mean
Quartile
Group 1   0.735998
Group 2   0.500356
Group 3   0.370039
Group 4   0.322558

         HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)  \
                                                               median
Quartile
Group 1                                            1.746570
Group 2                                            1.230075
Group 3                                            0.998992
Group 4                                            0.941733


              mean
Quartile
Group 1   2.085295
Group 2   1.417653
Group 3   1.048428
Group 4   0.913899

In [65]:
base_peer['income_group_usdconst'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [66]:
base_peer['income_group_pp'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_ppp, labels=labels_ppp, right=False)

In [67]:
base_peer['income_group_usdconst'].value_counts(normalize=True)

income_group_usdconst
0.25-<.45/Day     0.337263
0.45-<0.63/Day    0.214762
0-<0.25/Day       0.145054
0.75-<1.05/Day    0.124039
>1.05+/Day        0.095336
0.63-<0.75/Day    0.083547
Name: proportion, dtype: float64

In [69]:
base_peer['income_group_pp'].value_counts(normalize=True)

income_group_pp
0.75-<1.25/Day     0.303947
1.25-<1.77/Day     0.227063
0-<0.75/Day        0.162993
2.15-3/Day         0.123014
>3+/Day            0.093285
1.77-<2.15 /Day    0.089698
Name: proportion, dtype: float64

In [79]:
sex_mapping = {1: 'Male', 2: 'Female'}
base_peer['Gender'] = base_peer['hhh_sex'].replace(sex_mapping)
base_peer['Gender'].value_counts()

Gender
Male      1479
Female     472
Name: count, dtype: int64

In [80]:
base_peer['Household_Head_Gender'] = base_peer['Gender']

In [81]:
base_peer['Household_Head_Gender'] = base_peer.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [82]:
base_peer['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1193
Female Headed     444
Youth Headed      314
Name: count, dtype: int64

In [106]:
base_peer.groupby(['Household_Head_Gender', 'Quartile'])[['HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)',
                                              'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].agg(['median','mean'])

                               HH Income + Consumption + Residues/Day (USD_con_adult_equiv_adj)  \
                                                                                         median
Household_Head_Gender Quartile
Female Headed         Group 1                                            0.574880
                      Group 2                                            0.452519
                      Group 3                                            0.357710
                      Group 4                                            0.384398
Male Headed           Group 1                                            0.608940
                      Group 2                                            0.417910
                      Group 3                                            0.348454
                      Group 4                                            0.312867
Youth Headed          Group 1                                            0.700663
                      Group 2                                            0.503884
                      Group 3                                            0.392056
                      Group 4                                            0.277488

                                          \
                                    mean
Household_Head_Gender Quartile
Female Headed         Group 1   0.686279
                      Group 2   0.516180
                      Group 3   0.382124
                      Group 4   0.426768
Male Headed           Group 1   0.741408
                      Group 2   0.480280
                      Group 3   0.350556
                      Group 4   0.298938
Youth Headed          Group 1   0.778967
                      Group 2   0.548889
                      Group 3   0.428090
                      Group 4   0.265122

                               HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)  \
                                                                                     median
Household_Head_Gender Quartile
Female Headed         Group 1                                            1.628801
                      Group 2                                            1.282118
                      Group 3                                            1.013497
                      Group 4                                            1.089111
Male Headed           Group 1                                            1.725304
                      Group 2                                            1.184059
                      Group 3                                            0.987272
                      Group 4                                            0.886441
Youth Headed          Group 1                                            1.985182
                      Group 2                                            1.427649
                      Group 3                                            1.110808
                      Group 4                                            0.786203


                                    mean
Household_Head_Gender Quartile
Female Headed         Group 1   1.944426
                      Group 2   1.462486
                      Group 3   1.082667
                      Group 4   1.209157
Male Headed           Group 1   2.100623
                      Group 2   1.360773
                      Group 3   0.993225
                      Group 4   0.846977
Youth Headed          Group 1   2.207040
                      Group 2   1.555160
                      Group 3   1.212903
                      Group 4   0.751168

In [92]:
base_peer.groupby('Household_Head_Gender')['income_group_usdconst'].value_counts(normalize=True)

Household_Head_Gender  income_group_usdconst
Female Headed          0.25-<.45/Day            0.337838
                       0.45-<0.63/Day           0.231982
                       0-<0.25/Day              0.162162
                       0.75-<1.05/Day           0.117117
                       >1.05+/Day               0.081081
                       0.63-<0.75/Day           0.069820
Male Headed            0.25-<.45/Day            0.351215
                       0.45-<0.63/Day           0.208718
                       0-<0.25/Day              0.146689
                       0.75-<1.05/Day           0.119866
                       >1.05+/Day               0.096396
                       0.63-<0.75/Day           0.077117
Youth Headed           0.25-<.45/Day            0.283439
                       0.45-<0.63/Day           0.213376
                       0.75-<1.05/Day           0.149682
                       0.63-<0.75/Day           0.127389
                       0-<0.25/Day              0.114650
                       >1.05+/Day               0.111465
Name: proportion, dtype: float64

In [93]:
base_peer.groupby('Household_Head_Gender')['income_group_pp'].value_counts(normalize=True)

Household_Head_Gender  income_group_pp
Female Headed          0.75-<1.25/Day     0.306306
                       1.25-<1.77/Day     0.243243
                       0-<0.75/Day        0.175676
                       2.15-3/Day         0.114865
                       >3+/Day            0.081081
                       1.77-<2.15 /Day    0.078829
Male Headed            0.75-<1.25/Day     0.318525
                       1.25-<1.77/Day     0.220453
                       0-<0.75/Day        0.165130
                       2.15-3/Day         0.116513
                       >3+/Day            0.095557
                       1.77-<2.15 /Day    0.083822
Youth Headed           0.75-<1.25/Day     0.245223
                       1.25-<1.77/Day     0.229299
                       2.15-3/Day         0.159236
                       0-<0.75/Day        0.136943
                       1.77-<2.15 /Day    0.127389
                       >3+/Day            0.101911
Name: proportion, dtype: float64

In [100]:
base_peer['Quartile'].value_counts(normalize=True)

Quartile
Group 1    0.482829
Group 3    0.278831
Group 2    0.205536
Group 4    0.032804
Name: proportion, dtype: float64