In [1]:
import pandas as pd

In [2]:
base = pd.read_excel("Copy of Kiso2017Cohort_60month_EvaluationFileFinal_1%_4%_24_08_2022.xlsx", sheet_name="2017cohortBaseOutlierMan")

In [3]:
base.head()

,Village Name,Village Survey #,Name of Household Head,PPI Score,$1.25 / Day\n2005 PPP,Labour / Business,Rent Income,Farming Income,Livestock Income,Season 1 Agriculture Value,Season 2 Agriculture Value,Livestock Income / Consumed,Livestock Assets,# HH Members,HH Income,HH Consumption,HH Income + Consumption,HH Income + Consumption+Assets,HH Assets
0,Higabiro,HOUSEHOLD #15,TWEBAZE ADONIA,43.0,20.1,0.0,0.0,5270000.0,0.0,5600000.0,1360000.0,0.0,0.0,5.0,5270000.0,1690000,6960000.0,6960000.0,0.0
1,Nyabaremura,HOUSEHOLD #24,RWABASIGAZI GALATIUS,37.0,23.9,0.0,30000.0,2950000.0,0.0,1860000.0,3370000.0,215000.0,1480000.0,8.0,2980000.0,2495000,5475000.0,6955000.0,1480000.0
2,Nyabaremura,HOUSEHOLD #20,BAHINYANZI FEREDIANA,42.0,20.1,0.0,0.0,750000.0,815000.0,800000.0,1250000.0,815000.0,4075000.0,5.0,1565000.0,1300000,2865000.0,6940000.0,4075000.0
3,Kashaka,HOUSEHOLD #2,KABALEBE TEREZA,28.0,45.3,2400000.0,0.0,202500.0,1080000.0,445000.0,100000.0,1080000.0,2895000.0,5.0,3682500.0,342500,4025000.0,6920000.0,2895000.0
4,Gacaca,HOUSEHOLD #14,MUJANAMO NELSON,39.0,23.9,5400000.0,0.0,0.0,0.0,660000.0,650000.0,0.0,160000.0,6.0,5400000.0,1310000,6710000.0,6870000.0,160000.0

In [20]:
base = base.iloc[:1224,:]

In [26]:
base_sorted = base.sort_values(by='HH Income + Consumption', ascending=False)

In [31]:
df_aggregated = base.groupby('Village Name').agg({'HH Income + Consumption': 'mean'}).reset_index()

In [34]:
df_aggregated_sorted = df_aggregated.sort_values(by='HH Income + Consumption', ascending=False)

In [35]:
df_aggregated_sorted['Group'] = pd.qcut(df_aggregated_sorted['HH Income + Consumption'], 4, labels=['Group 1', 'Group 2', 'Group 3', 'Group 4'])

In [36]:
df_aggregated_sorted

   Village Name  HH Income + Consumption    Group
32  Nyabaremura             3.238414e+06  Group 4
36   Nyamasinda             2.946000e+06  Group 4
8      Higabiro             2.746963e+06  Group 4
31        Nombe             2.730667e+06  Group 4
23        Kilwa             2.606286e+06  Group 4
44      Rushaga             2.310134e+06  Group 4
4        Gacaca             2.068483e+06  Group 4
33   Nyabicence             2.029486e+06  Group 4
37   Nyarurambi             2.014540e+06  Group 4
22      Kigombe             1.750000e+06  Group 4
28      Murambi             1.682704e+06  Group 4
19      Kashija             1.675764e+06  Group 4
40      Rugandu             1.660031e+06  Group 3
27     Kishaaru             1.594316e+06  Group 3
3        Butobo             1.591333e+06  Group 3
26      Kirundo             1.557903e+06  Group 3
9       Igabiro             1.541125e+06  Group 3
0        Bugina             1.515560e+06  Group 3
20       Kibale             1.490500e+06  Group 3
35    Nyamabuye             1.322868e+06  Group 3
16       Kalehe             1.312577e+06  Group 3
10        Igali             1.308708e+06  Group 3
5        Gahiza             1.214525e+06  Group 3
17     Kamukumu             1.194105e+06  Group 2
18      Kashaka             1.184405e+06  Group 2
7        Gitovu             1.170773e+06  Group 2
21       Kibugu             1.148095e+06  Group 2
46       Ruvumu             1.145267e+06  Group 2
2      Busanani             1.136100e+06  Group 2
45      Rutooma             1.125480e+06  Group 2
14   Kaburasazi             1.109738e+06  Group 2
30       Muyove             1.075706e+06  Group 2
43       Ruseke             1.060059e+06  Group 2
41  Rugendabare             9.982174e+05  Group 2
11      Iremela             9.940000e+05  Group 2
24     Kinanira             9.812353e+05  Group 1
29       Murehe             9.644524e+05  Group 1
6       Gakenke             9.548158e+05  Group 1
1        Buhozi             9.519444e+05  Group 1
39     Rugambwa             9.441957e+05  Group 1
15       Kafuga             9.361739e+05  Group 1
25       Kiriba             8.749286e+05  Group 1
34   Nyagatanda             7.856053e+05  Group 1
42    Rurangara             7.512042e+05  Group 1
38       Rubona             6.495417e+05  Group 1
13     Kabaya B             5.681176e+05  Group 1
12     Kabaya A             4.997222e+05  Group 1

In [38]:
df_aggregated_sorted.to_excel("2017Cohortgroups.xlsx", index=None)