In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('All2021Cohorts_merged_outlier managed.xlsx', sheet_name='MergedRTV_Control2021',header=5)

In [3]:
rtv = df[df['Status'] == "RTV"]
peer = df[df['Status'] == "PEER"]

In [4]:
rtv.shape, peer.shape

((3897, 5670), (1899, 5670))

In [79]:
rtv['agric_comp'] = rtv['AGRIC (%)'].apply(lambda x: 1 if x>0.9 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/482993967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['agric_comp'] = rtv['AGRIC (%)'].apply(lambda x: 1 if x>0.9 else 0)

In [80]:
rtv['agric_comp'].value_counts()

agric_comp
0    3467
1     430
Name: count, dtype: int64

In [81]:
rtv.groupby('agric_comp')[['HH Income (USD_Cons_rate)','Agriculture Value (USD_Cons_rate)']].mean()

            HH Income (USD_Cons_rate)  Agriculture Value (USD_Cons_rate)
agric_comp
0                          479.837586                         573.693821
1                          519.530300                         634.981212

In [24]:
rtv['wash_comp'] = rtv['WASH (%)'].apply(lambda x: 1 if x>0.9 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/526816272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['wash_comp'] = rtv['WASH (%)'].apply(lambda x: 1 if x>0.9 else 0)

In [68]:
rtv.groupby('wash_comp')[['HH Income (USD_Cons_rate)','Agriculture Value (USD_Cons_rate)']].mean()

           HH Income (USD_Cons_rate)  Agriculture Value (USD_Cons_rate)
wash_comp
0                         476.393432                         569.658944
1                         509.972435                         615.999794

In [69]:
rtv.groupby('borrowed_past_12_months')[['HH Income (USD_Cons_rate)','Agriculture Value (USD_Cons_rate)']].mean()

,HH Income (USD_Cons_rate),Agriculture Value (USD_Cons_rate)
borrowed_past_12_months,,
0,476.591485,571.313697
1,511.027085,612.598657

In [33]:
rtv["composts_num"]

0       0
1       3
2       0
3       3
4       0
       ..
3892    3
3893    3
3894    3
3895    3
3896    0
Name: composts_num, Length: 3897, dtype: int64

In [86]:
rtv['Agric_Income'] = rtv[['Seasonal Crops Income (USD_Cons_rate)', 'Perenial Crops Income (USD_Cons_rate)']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/3569106956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['Agric_Income'] = rtv[['Seasonal Crops Income (USD_Cons_rate)', 'Perenial Crops Income (USD_Cons_rate)']].sum(axis=1)

In [36]:
rtv['3_composts'] = rtv["composts_num"].apply(lambda x: 1 if x == 3 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/2884246111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['3_composts'] = rtv["composts_num"].apply(lambda x: 1 if x == 3 else 0)

In [99]:
rtv.groupby('3_composts')[['Agriculture Value (USD_Cons_rate)','Agric_Income']].mean()

            Agriculture Value (USD_Cons_rate)  Agric_Income
3_composts
0                                  550.256175    234.513078
1                                  612.003333    265.510122

In [97]:
rtv['3_composts'].value_counts(normalize=True)

3_composts
0    0.510906
1    0.489094
Name: proportion, dtype: float64

In [41]:
rtv['Organic Farming Practices (%)']

0       0.0
1       0.0
2       0.0
3       1.0
4       0.5
       ...
3892    0.0
3893    1.0
3894    1.0
3895    1.0
3896    0.0
Name: Organic Farming Practices (%), Length: 3897, dtype: float64

In [49]:
rtv['organic_manure__'] = rtv["Organic Farming Practices (%)"].apply(lambda x: 1 if x > 0.0 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/2188776299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['organic_manure__'] = rtv["Organic Farming Practices (%)"].apply(lambda x: 1 if x > 0.0 else 0)

In [100]:
rtv.groupby('organic_manure__')[['Agriculture Value (USD_Cons_rate)','Agric_Income']].mean()

                  Agriculture Value (USD_Cons_rate)  Agric_Income
organic_manure__
0                                        567.436013    243.800733
1                                        612.902191    264.308235

In [101]:
rtv.groupby('water_control_practise')[['Agriculture Value (USD_Cons_rate)','Agric_Income']].mean()

                        Agriculture Value (USD_Cons_rate)  Agric_Income
water_control_practise
1                                               580.45635    249.673551

In [102]:
rtv.groupby('soil_management')[['Agriculture Value (USD_Cons_rate)','Agric_Income']].mean()

                 Agriculture Value (USD_Cons_rate)  Agric_Income
soil_management
0                                       516.550225    182.149280
1                                       580.868967    250.109529

In [57]:
rtv['soil_management'].value_counts()

soil_management
1    3872
0      25
Name: count, dtype: int64

Which of the following crops did your household plant during the last complete Season 1?
FO go through each type of crop with the interviewee and select all that were cropped

1	Beans
2	Ground Nuts
3	Soya
4	Peas
5	Maize
6	Millet
7	Sorghum
8	Barley
9	Rice
10	Irish Potatoes
11	Sweet Potatoes
12	Cassava
13	Yams
14	Garlic
15	Ginger
16	Tobbacco
97	Other,specify

In [ ]:
rtv['Season_1_1

In [108]:
rtv['beans_presence'] = rtv.apply(lambda row: row['Season_1_1'] or row['Season_2_1'], axis=1)
rtv['gnuts_presence'] = rtv.apply(lambda row: row['Season_1_2'] or row['Season_2_2'], axis=1)
rtv['soya_presence'] = rtv.apply(lambda row: row['Season_1_3'] or row['Season_2_3'], axis=1)
rtv['peas_presence'] = rtv.apply(lambda row: row['Season_1_4'] or row['Season_2_4'], axis=1)
rtv['maize_presence'] = rtv.apply(lambda row: row['Season_1_5'] or row['Season_2_5'], axis=1)
rtv['millet_presence'] = rtv.apply(lambda row: row['Season_1_6'] or row['Season_2_6'], axis=1)
rtv['sorghum_presence'] = rtv.apply(lambda row: row['Season_1_7'] or row['Season_2_7'], axis=1)
rtv['barley_presence'] = rtv.apply(lambda row: row['Season_1_8'] or row['Season_2_8'], axis=1)
rtv['rice_presence'] = rtv.apply(lambda row: row['Season_1_9'] or row['Season_2_9'], axis=1)
rtv['irish_presence'] = rtv.apply(lambda row: row['Season_1_10'] or row['Season_2_10'], axis=1)
rtv['sweet_presence'] = rtv.apply(lambda row: row['Season_1_11'] or row['Season_2_11'], axis=1)
rtv['cassava_presence'] = rtv.apply(lambda row: row['Season_1_12'] or row['Season_2_12'], axis=1)
rtv['yams_presence'] = rtv.apply(lambda row: row['Season_1_13'] or row['Season_2_13'], axis=1)
rtv['garlic_presence'] = rtv.apply(lambda row: row['Season_1_14'] or row['Season_2_14'], axis=1)
rtv['ginger_presence'] = rtv.apply(lambda row: row['Season_1_15'] or row['Season_2_15'], axis=1)
rtv['tobacco_presence'] = rtv.apply(lambda row: row['Season_1_16'] or row['Season_2_16'], axis=1)
rtv['other_presence'] = rtv.apply(lambda row: row['Season_1_97'] or row['Season_2_97'], axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['beans_presence'] = rtv.apply(lambda row: row['Season_1_1'] or row['Season_2_1'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['gnuts_presence'] = rtv.apply(lambda row: row['Season_1_2'] or row['Season_2_2'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['soya_presence'] = rtv.apply(lambda row: row['Season_1_3'] or row['Season_2_3'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['peas_presence'] = rtv.apply(lambda row: row['Season_1_4'] or row['Season_2_4'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['maize_presence'] = rtv.apply(lambda row: row['Season_1_5'] or row['Season_2_5'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['millet_presence'] = rtv.apply(lambda row: row['Season_1_6'] or row['Season_2_6'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['sorghum_presence'] = rtv.apply(lambda row: row['Season_1_7'] or row['Season_2_7'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['barley_presence'] = rtv.apply(lambda row: row['Season_1_8'] or row['Season_2_8'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['rice_presence'] = rtv.apply(lambda row: row['Season_1_9'] or row['Season_2_9'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['irish_presence'] = rtv.apply(lambda row: row['Season_1_10'] or row['Season_2_10'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['sweet_presence'] = rtv.apply(lambda row: row['Season_1_11'] or row['Season_2_11'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['cassava_presence'] = rtv.apply(lambda row: row['Season_1_12'] or row['Season_2_12'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['yams_presence'] = rtv.apply(lambda row: row['Season_1_13'] or row['Season_2_13'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['garlic_presence'] = rtv.apply(lambda row: row['Season_1_14'] or row['Season_2_14'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['ginger_presence'] = rtv.apply(lambda row: row['Season_1_15'] or row['Season_2_15'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['tobacco_presence'] = rtv.apply(lambda row: row['Season_1_16'] or row['Season_2_16'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/1533810247.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['other_presence'] = rtv.apply(lambda row: row['Season_1_97'] or row['Season_2_97'], axis=1)

In [121]:
rtv['crop_varieties'] = rtv[['beans_presence','gnuts_presence','soya_presence','peas_presence','maize_presence','millet_presence','sorghum_presence',
'barley_presence','rice_presence','irish_presence','sweet_presence','cassava_presence','yams_presence','garlic_presence',
'ginger_presence','tobacco_presence','other_presence'
]].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/537933729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['crop_varieties'] = rtv[['beans_presence','gnuts_presence','soya_presence','peas_presence','maize_presence','millet_presence','sorghum_presence',

In [125]:
rtv['crop_varieties'].value_counts()

crop_varieties
4.0     959
3.0     886
5.0     832
6.0     458
2.0     401
7.0     133
0.0     100
1.0      79
8.0      42
9.0       6
10.0      1
Name: count, dtype: int64

In [ ]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [127]:
boundaries = [0.0,1.0, 2.0, 3.0, 4.0, float('inf')]
labels = ["Zero", "one", "two", "three", "fourplus"]

In [128]:
rtv['varity_num'] = pd.cut(rtv['crop_varieties'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/529393542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtv['varity_num'] = pd.cut(rtv['crop_varieties'], bins=boundaries, labels=labels, right=False)

     varity_num  crop_varieties
0          Zero             0.0
1         three             3.0
2      fourplus             4.0
3      fourplus             4.0
4           two             2.0
...         ...             ...
3892   fourplus             5.0
3893   fourplus             5.0
3894   fourplus             4.0
3895   fourplus             4.0
3896   fourplus             7.0

[3897 rows x 2 columns]

In [131]:
rtv['varity_num'].value_counts()

varity_num
fourplus    2431
three        886
two          401
Zero         100
one           79
Name: count, dtype: int64

In [135]:
rtv.groupby('varity_num')[['Seasonal Crops Income (USD_Cons_rate)','Perenial Crops Income (USD_Cons_rate)',
                          'Seasonal  Agriculture Value (USD_Cons_rate)','Perennial Agriculture Value (USD_Cons_rate)']].mean()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_97705/3149177729.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rtv.groupby('varity_num')[['Seasonal Crops Income (USD_Cons_rate)','Perenial Crops Income (USD_Cons_rate)',

,Seasonal Crops Income (USD_Cons_rate),Perenial Crops Income (USD_Cons_rate),Seasonal Agriculture Value (USD_Cons_rate),Perennial Agriculture Value (USD_Cons_rate)
varity_num,,,,
Zero,55.521415,114.995618,152.206540,218.608093
one,84.583808,90.736828,153.362483,200.653095
two,87.900637,129.249045,200.006097,255.804982
three,109.011853,138.043321,260.384143,265.174624
fourplus,134.494247,127.170866,363.343600,273.663555

In [ ]:
rtv[['S