In [2]:
import pandas as pd

## Graduating cohorts

In [3]:
df1 = pd.read_excel('All2021Cohorts_merged_outlier managed.xlsx', sheet_name='MergedRTV_Control2021',header=5)

In [4]:
df = df1[df1['Status'] == "RTV"]

In [5]:
df.shape

(3897, 5670)

In [6]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [7]:
df['income_group'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2164301761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_group'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [8]:
df['income_group'].value_counts(normalize=True)

income_group
3+/Day            0.420580
2-<3/Day          0.275340
1.25-<2/Day       0.209392
0.75-<1.25/Day    0.073646
0-<0.75/Day       0.021042
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [9]:
boundaries = [0, 2.15,float('inf')]
labels = ["0-<2.15/Day", "3+/Day"]

In [10]:
df['income_group_1'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/1597046779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_group_1'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [11]:
df['income_group_1'].value_counts(normalize=True)

income_group_1
3+/Day         0.651783
0-<2.15/Day    0.348217
Name: proportion, dtype: float64

In [12]:
boundaries_2 = [0, 0.75, 1.25, 2.15, 3, float('inf')]
labels_2 = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2.15/Day", "2.5-<3/Day", "3+/Day"]

0-<0.75/Day
0.75-<1.25/Day
1.25-<2.15/Day
2.15-<3/Day
3+/Day

In [13]:
df['income_group_2'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/3197324783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_group_2'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [14]:
df['income_group_2'].value_counts(normalize=True)

income_group_2
3+/Day            0.420580
1.25-<2.15/Day    0.253528
2.5-<3/Day        0.231203
0.75-<1.25/Day    0.073646
0-<0.75/Day       0.021042
Name: proportion, dtype: float64

## Gender

In [6]:
sex_mapping = {1: 'Male', 2: 'Female'}

In [16]:
df['Gender'] = df['hhh_sex'].replace(sex_mapping)
df['Gender'].value_counts()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/1841865522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['hhh_sex'].replace(sex_mapping)

Gender
Male      2780
Female    1117
Name: count, dtype: int64

In [17]:
df['Household_Head_Gender'] = df['Gender']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/3609605823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Household_Head_Gender'] = df['Gender']

In [18]:
df['Household_Head_Gender'] = df.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/1821649342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Household_Head_Gender'] = df.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [19]:
df['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      2422
Female Headed    1070
Youth Headed      405
Name: count, dtype: int64

In [20]:
df.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,1.925332,3.380974
Male Headed,1.813333,3.021307
Youth Headed,1.894796,3.118754

In [21]:
df.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,1.486138,2.879421
Male Headed,1.413147,2.615283
Youth Headed,1.488323,2.704357

In [22]:
df['HH Income/Day (USD_adult_equiv_adj)'].mean(), df['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.8525508053997848, 1.4467107542912363)

In [23]:
df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(3.1301879342027688, 2.7047657594140104)

In [24]:
df.shape

(3897, 5675)

In [25]:
'hhh_age', 'hh_size', 'Size_land_owned'

('hhh_age', 'hh_size', 'Size_land_owned')

In [26]:
df.groupby('Quartile')[['hhh_age', 'hh_size', 'Size_land_owned','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,hhh_age,hh_size,Size_land_owned,HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Quartile,,,,
Group 1,51.012868,4.913603,1.776384,3.140071
Group 2,52.107073,4.766208,1.849960,3.091513
Group 3,51.133534,4.706827,2.104562,3.144407
Group 4,49.544901,4.959665,1.991133,3.141367

In [27]:
df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']

0       1.378681
1       1.388220
2       1.633805
3       0.904773
4       1.470823
          ...
3892    7.459116
3893    5.642950
3894    7.050770
3895    9.588845
3896    6.140915
Name: HH Income + Consumption + Residues/Day (USD_adult_equiv_adj), Length: 3897, dtype: float64

In [28]:
df['above2'] = df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].apply(lambda x: "above 2.15" if x >= 2.15 else "below 2.15")

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/3415046989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['above2'] = df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].apply(lambda x: "above 2.15" if x >= 2.15 else "below 2.15")

In [29]:
df['above2'].value_counts()

above2
above 2.15    2540
below 2.15    1357
Name: count, dtype: int64

In [30]:
df['above2'].value_counts(normalize=True)

above2
above 2.15    0.651783
below 2.15    0.348217
Name: proportion, dtype: float64

In [48]:
df.groupby('Household_Head_Gender')[['above2']].value_counts(normalize=True).unstack()

above2                 above 2.15  below 2.15
Household_Head_Gender
Female Headed            0.700935    0.299065
Male Headed              0.627581    0.372419
Youth Headed             0.666667    0.333333

In [65]:
df.groupby('above2')[['Household_Head_Gender']].value_counts(normalize=True).unstack()

Household_Head_Gender  Female Headed  Male Headed  Youth Headed
above2
above 2.15                  0.295276     0.598425      0.106299
below 2.15                  0.235814     0.664702      0.099484

In [33]:
df.groupby('hhh_read_write')[['above2']].value_counts(normalize=True).unstack()

above2          above 2.15  below 2.15
hhh_read_write
0                 0.644996    0.355004
1                 0.654692    0.345308

In [63]:
df.groupby('above2')[['hhh_read_write']].value_counts(normalize=True).unstack()

hhh_read_write         0         1
above2
above 2.15      0.296850  0.703150
below 2.15      0.305822  0.694178

In [34]:
df.groupby('Household_Head_Gender')[['above2','hhh_read_write']].value_counts(normalize=True).unstack()

hhh_read_write                           0         1
Household_Head_Gender above2
Female Headed         above 2.15  0.382243  0.318692
                      below 2.15  0.162617  0.136449
Male Headed           above 2.15  0.127168  0.500413
                      below 2.15  0.090008  0.282411
Youth Headed          above 2.15  0.091358  0.575309
                      below 2.15  0.056790  0.276543

In [35]:
(df.groupby(['above2'])[['hh_size']]).mean().unstack()

         above2
hh_size  above 2.15    4.474803
         below 2.15    5.526161
dtype: float64

In [36]:
(df.groupby(['Household_Head_Gender','above2'])[['hh_size']]).mean().unstack()

                         hh_size
above2                above 2.15 below 2.15
Household_Head_Gender
Female Headed           3.577333   4.709375
Male Headed             5.096711   5.958980
Youth Headed            3.466667   4.570370

In [37]:
(df.groupby(['Household_Head_Gender','above2'])[['Size_land_owned']]).mean().unstack()

                      Size_land_owned
above2                     above 2.15 below 2.15
Household_Head_Gender
Female Headed                1.846545   1.582767
Male Headed                  2.286551   1.923485
Youth Headed                 1.272176   1.150379

In [69]:
(df.groupby(['above2'])[['Size_land_owned']]).mean().unstack()

                 above2
Size_land_owned  above 2.15    2.050544
                 below 2.15    1.767830
dtype: float64

In [39]:
(df.groupby(['leadership_head'])[['above2']]).value_counts(normalize=True).unstack()

above2           above 2.15  below 2.15
leadership_head
0                  0.641531    0.358469
1                  0.673291    0.326709

In [62]:
(df.groupby(['above2'])[['leadership_head']]).value_counts(normalize=True).unstack()

leadership_head         0         1
above2
above 2.15       0.666535  0.333465
below 2.15       0.697126  0.302874

In [40]:
(df.groupby(['Household_Head_Gender','above2'])[['leadership_head']]).value_counts(normalize=True).unstack()

leadership_head                          0         1
Household_Head_Gender above2
Female Headed         above 2.15  0.718667  0.281333
                      below 2.15  0.803125  0.196875
Male Headed           above 2.15  0.626974  0.373026
                      below 2.15  0.651885  0.348115
Youth Headed          above 2.15  0.744444  0.255556
                      below 2.15  0.748148  0.251852

In [41]:
(df.groupby(['Household_Head_Gender','above2'])[['hhh_age']]).mean().unstack()

                         hhh_age
above2                above 2.15 below 2.15
Household_Head_Gender
Female Headed          61.645333  56.384375
Male Headed            50.767763  50.522173
Youth Headed           27.277778  27.200000

In [67]:
df.groupby('daily_meals')['above2'].value_counts(normalize=True).unstack()

above2       above 2.15  below 2.15
daily_meals
1              0.612500    0.387500
2              0.632431    0.367569
3              0.730038    0.269962

In [49]:
df.groupby('above2')['daily_meals'].value_counts(normalize=True).unstack()

daily_meals         1         2         3
above2
above 2.15   0.019291  0.753937  0.226772
below 2.15   0.022845  0.820192  0.156964

In [80]:
df.groupby(['Household_Head_Gender','above2'])['daily_meals'].value_counts(normalize=True).unstack()

daily_meals                              1         2         3
Household_Head_Gender above2
Female Headed         above 2.15  0.024000  0.746667  0.229333
                      below 2.15  0.034375  0.831250  0.134375
Male Headed           above 2.15  0.019079  0.755263  0.225658
                      below 2.15  0.017738  0.814856  0.167406
Youth Headed          above 2.15  0.007407  0.766667  0.225926
                      below 2.15  0.029630  0.829630  0.140741

In [53]:
df['vsla_participation'] = ((df['save_mode_7']==1) | (df['save_mode_8']==1)).astype(int)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2885387722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vsla_participation'] = ((df['save_mode_7']==1) | (df['save_mode_8']==1)).astype(int)

In [54]:
df.groupby('above2')['vsla_participation'].value_counts(normalize=True).unstack()

vsla_participation         0         1
above2
above 2.15          0.388976  0.611024
below 2.15          0.409727  0.590273

In [81]:
df.groupby(['Household_Head_Gender','above2'])['vsla_participation'].value_counts(normalize=True).unstack()

vsla_participation                       0         1
Household_Head_Gender above2
Female Headed         above 2.15  0.429333  0.570667
                      below 2.15  0.471875  0.528125
Male Headed           above 2.15  0.370395  0.629605
                      below 2.15  0.375831  0.624169
Youth Headed          above 2.15  0.381481  0.618519
                      below 2.15  0.488889  0.511111

In [68]:
df.groupby('vsla_participation')['above2'].value_counts(normalize=True).unstack()

above2              above 2.15  below 2.15
vsla_participation
0                     0.639896    0.360104
1                     0.659584    0.340416

In [55]:
df['beans_presence'] = df.apply(lambda row: row['Season_1_1'] or row['Season_2_1'], axis=1)
df['gnuts_presence'] = df.apply(lambda row: row['Season_1_2'] or row['Season_2_2'], axis=1)
df['soya_presence'] = df.apply(lambda row: row['Season_1_3'] or row['Season_2_3'], axis=1)
df['peas_presence'] = df.apply(lambda row: row['Season_1_4'] or row['Season_2_4'], axis=1)
df['maize_presence'] = df.apply(lambda row: row['Season_1_5'] or row['Season_2_5'], axis=1)
df['millet_presence'] = df.apply(lambda row: row['Season_1_6'] or row['Season_2_6'], axis=1)
df['sorghum_presence'] = df.apply(lambda row: row['Season_1_7'] or row['Season_2_7'], axis=1)
df['barley_presence'] = df.apply(lambda row: row['Season_1_8'] or row['Season_2_8'], axis=1)
df['rice_presence'] = df.apply(lambda row: row['Season_1_9'] or row['Season_2_9'], axis=1)
df['irish_presence'] = df.apply(lambda row: row['Season_1_10'] or row['Season_2_10'], axis=1)
df['sweet_presence'] = df.apply(lambda row: row['Season_1_11'] or row['Season_2_11'], axis=1)
df['cassava_presence'] = df.apply(lambda row: row['Season_1_12'] or row['Season_2_12'], axis=1)
df['yams_presence'] = df.apply(lambda row: row['Season_1_13'] or row['Season_2_13'], axis=1)
df['garlic_presence'] = df.apply(lambda row: row['Season_1_14'] or row['Season_2_14'], axis=1)
df['ginger_presence'] = df.apply(lambda row: row['Season_1_15'] or row['Season_2_15'], axis=1)
df['tobacco_presence'] = df.apply(lambda row: row['Season_1_16'] or row['Season_2_16'], axis=1)
df['other_presence'] = df.apply(lambda row: row['Season_1_97'] or row['Season_2_97'], axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_presence'] = df.apply(lambda row: row['Season_1_1'] or row['Season_2_1'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_presence'] = df.apply(lambda row: row['Season_1_2'] or row['Season_2_2'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['soya_presence'] = df.apply(lambda row: row['Season_1_3'] or row['Season_2_3'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['peas_presence'] = df.apply(lambda row: row['Season_1_4'] or row['Season_2_4'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_presence'] = df.apply(lambda row: row['Season_1_5'] or row['Season_2_5'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['millet_presence'] = df.apply(lambda row: row['Season_1_6'] or row['Season_2_6'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sorghum_presence'] = df.apply(lambda row: row['Season_1_7'] or row['Season_2_7'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['barley_presence'] = df.apply(lambda row: row['Season_1_8'] or row['Season_2_8'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rice_presence'] = df.apply(lambda row: row['Season_1_9'] or row['Season_2_9'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_presence'] = df.apply(lambda row: row['Season_1_10'] or row['Season_2_10'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sweet_presence'] = df.apply(lambda row: row['Season_1_11'] or row['Season_2_11'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cassava_presence'] = df.apply(lambda row: row['Season_1_12'] or row['Season_2_12'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['yams_presence'] = df.apply(lambda row: row['Season_1_13'] or row['Season_2_13'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['garlic_presence'] = df.apply(lambda row: row['Season_1_14'] or row['Season_2_14'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ginger_presence'] = df.apply(lambda row: row['Season_1_15'] or row['Season_2_15'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tobacco_presence'] = df.apply(lambda row: row['Season_1_16'] or row['Season_2_16'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/2423799788.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['other_presence'] = df.apply(lambda row: row['Season_1_97'] or row['Season_2_97'], axis=1)

In [56]:
df['crop_varieties'] = df[['beans_presence','gnuts_presence','soya_presence','peas_presence','maize_presence','millet_presence','sorghum_presence',
'barley_presence','rice_presence','irish_presence','sweet_presence','cassava_presence','yams_presence','garlic_presence',
'ginger_presence','tobacco_presence','other_presence'
]].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/3436129895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crop_varieties'] = df[['beans_presence','gnuts_presence','soya_presence','peas_presence','maize_presence','millet_presence','sorghum_presence',

In [60]:
df.groupby('above2')['crop_varieties'].mean()

above2
above 2.15    4.221654
below 2.15    3.604274
Name: crop_varieties, dtype: float64

In [85]:
df.groupby(['Household_Head_Gender','above2'])['crop_varieties'].mean().unstack()

above2                 above 2.15  below 2.15
Household_Head_Gender
Female Headed            4.270667    3.606250
Male Headed              4.236184    3.648559
Youth Headed             4.003704    3.303704

In [71]:
df[['Formal Employment (USD)','Personal Business & Self Employment (USD)','Casual Labour (USD)','Remittances & Gifts (USD)','Rent Income (Property & Land) USD','Seasonal Crops Income (USD)','Perenial Crops Income (USD)','Livestock Income (USD)']]

,Formal Employment (USD),Personal Business & Self Employment (USD),Casual Labour (USD),Remittances & Gifts (USD),Rent Income (Property & Land) USD,Seasonal Crops Income (USD),Perenial Crops Income (USD),Livestock Income (USD)
0,0.000000,0.000000,54.054054,40.540541,0.0,55.405405,37.837838,0.000000
1,0.000000,0.000000,0.000000,8.108108,0.0,15.945946,124.324324,0.000000
2,0.000000,0.000000,110.270270,32.432432,0.0,77.567568,17.837838,0.000000
3,0.000000,5.405405,0.000000,0.000000,0.0,152.702703,33.513514,0.000000
4,0.000000,0.000000,0.000000,148.648649,0.0,28.108108,0.000000,0.000000
...,...,...,...,...,...,...,...,...
3892,1581.081081,0.000000,0.000000,16.216216,0.0,491.891892,0.000000,0.000000
3893,0.000000,367.567568,0.000000,40.540541,0.0,1259.459459,6.486486,0.000000
3894,0.000000,297.297297,0.000000,108.108108,0.0,656.486486,106.756757,0.000000
3895,0.000000,0.000000,0.000000,0.000000,0.0,707.837838,0.000000,297.297297
3896,0.000000,0.000000,0.000000,54.054054,0.0,536.081081,97.513514,60.810811

In [72]:
specified_columns = ['Formal Employment (USD)','Personal Business & Self Employment (USD)','Casual Labour (USD)',
                     'Remittances & Gifts (USD)','Rent Income (Property & Land) USD','Seasonal Crops Income (USD)',
                     'Perenial Crops Income (USD)','Livestock Income (USD)']

In [73]:
binary_df = (df[specified_columns] != 0).astype(int)
binary_df

,Formal Employment (USD),Personal Business & Self Employment (USD),Casual Labour (USD),Remittances & Gifts (USD),Rent Income (Property & Land) USD,Seasonal Crops Income (USD),Perenial Crops Income (USD),Livestock Income (USD)
0,0,0,1,1,0,1,1,0
1,0,0,0,1,0,1,1,0
2,0,0,1,1,0,1,1,0
3,0,1,0,0,0,1,1,0
4,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
3892,1,0,0,1,0,1,0,0
3893,0,1,0,1,0,1,1,0
3894,0,1,0,1,0,1,1,0
3895,0,0,0,0,0,1,0,1
3896,0,0,0,1,0,1,1,1

In [74]:
binary_df = (df[specified_columns] != 0).astype(int)

In [75]:
df['Income Sources Count'] = binary_df.sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_34903/1304738042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Income Sources Count'] = binary_df.sum(axis=1)

In [79]:
df.groupby('above2')['Income Sources Count'].mean()

above2
above 2.15    3.917323
below 2.15    3.434046
Name: Income Sources Count, dtype: float64

In [83]:
df.groupby(['Household_Head_Gender','above2'])['Income Sources Count'].mean().unstack()

above2                 above 2.15  below 2.15
Household_Head_Gender
Female Headed            3.870667    3.409375
Male Headed              3.959868    3.454545
Youth Headed             3.807407    3.355556

In [87]:
df.groupby('above2')['Land_size_for_Crop_Agriculture_Acres'].mean()

above2
above 2.15    1.661611
below 2.15    1.437143
Name: Land_size_for_Crop_Agriculture_Acres, dtype: float64

In [90]:
df.groupby('above2')['borrowed_past_12_months'].value_counts(normalize=True)

above2      borrowed_past_12_months
above 2.15  0                          0.783071
            1                          0.216929
below 2.15  0                          0.770081
            1                          0.229919
Name: proportion, dtype: float64

In [91]:
df.groupby('borrowed_past_12_months')['above2'].value_counts(normalize=True)

borrowed_past_12_months  above2
0                        above 2.15    0.65557
                         below 2.15    0.34443
1                        above 2.15    0.63847
                         below 2.15    0.36153
Name: proportion, dtype: float64

## Year one

In [2]:
import pandas as pd

In [3]:
df_y1 = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021CohortYr1',header=5)

In [4]:
df_y1.iloc[:3918,:]

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,WASH (%),AGRIC (%),Status,Unnamed: 4650,hh_size.1,hh_size_adjusted.1,HH Income/Day (USD_adult_equiv_adj),Consumption/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj),HH Income + Consumption + Assets + Residues / Day (USD_adult_equiv_adj)
0,"Aug 18, 2022 10:47:35 PM","Aug 18, 2022 2:40:30 PM","Aug 18, 2022 9:57:10 PM",2.208122e+09,4054.0,3.0,3.0,2.0,27.0,Godwin Rukundo,...,0.535714,0.333333,RTV,NaN,7.0,2.645751,0.286840,0.441187,0.728027,0.728027
1,"Aug 20, 2022 7:05:30 PM","Aug 20, 2022 8:58:31 AM","Aug 20, 2022 6:22:37 PM",2.208122e+09,2852.0,2.0,2.0,2.0,32.0,Jallah Kembabazi,...,0.857143,0.638889,RTV,NaN,2.0,1.414214,1.106988,0.336032,1.443020,1.443020
2,"Aug 22, 2022 7:49:27 PM","Aug 22, 2022 10:55:03 AM","Aug 22, 2022 5:30:42 PM",2.208122e+09,1468.0,3.0,3.0,2.0,14.0,Agatha Babirye,...,0.500000,0.305556,RTV,NaN,3.0,1.732051,0.224294,0.970201,1.194495,1.194495
3,"Aug 19, 2022 7:26:56 PM","Aug 19, 2022 10:40:08 AM","Aug 19, 2022 3:13:17 PM",2.208122e+09,2821.0,20.0,20.0,2.0,22.0,Dickens Ainebyona,...,0.464286,0.555556,RTV,NaN,3.0,1.732051,0.787011,0.274369,1.061379,1.207431
4,"Aug 22, 2022 5:39:13 PM","Aug 22, 2022 2:53:16 PM","Aug 22, 2022 4:16:27 PM",2.208122e+09,3735.0,27.0,27.0,2.0,27.0,Godwin Rukundo,...,0.607143,0.500000,RTV,NaN,5.0,2.236068,0.175063,0.095192,0.270254,0.965204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3913,"Aug 5, 2022 6:10:02 PM","Aug 5, 2022 12:05:07 PM","Aug 5, 2022 1:19:00 PM",2.208042e+09,4375.0,24.0,24.0,7.0,116.0,Akatukunda Nosi,...,0.500000,0.500000,RTV,NaN,5.0,2.236068,6.145451,0.268283,6.413734,6.893734
3914,"Aug 12, 2022 8:45:26 AM","Aug 11, 2022 12:00:08 PM","Aug 11, 2022 10:09:35 PM",2.208100e+09,6878.0,2.0,2.0,7.0,117.0,Manzi Patrick,...,0.428571,0.833333,RTV,NaN,2.0,1.414214,3.094559,0.587736,3.682295,11.028997
3915,"Aug 6, 2022 8:52:26 PM","Aug 6, 2022 12:02:31 PM","Aug 6, 2022 8:28:39 PM",2.208052e+09,4968.0,3.0,3.0,7.0,127.0,Akandwanaho Charles,...,0.785714,0.472222,RTV,NaN,9.0,3.000000,2.106571,0.808598,2.915169,5.225018
3916,"Aug 6, 2022 8:52:29 PM","Aug 6, 2022 1:24:45 PM","Aug 6, 2022 8:51:27 PM",2.208052e+09,4548.0,3.0,3.0,7.0,127.0,Akandwanaho Charles,...,0.785714,0.472222,RTV,NaN,8.0,2.828427,2.107545,1.116379,3.223924,5.549315
3917,"Aug 4, 2022 6:58:05 PM","Aug 4, 2022 2:54:25 PM","Aug 4, 2022 4:17:44 PM",2.208012e+09,4942.0,6.0,6.0,7.0,105.0,Mugabe Dickson,...,0.392857,0.416667,RTV,NaN,7.0,2.645751,3.181535,0.182690,3.364224,6.027739

In [7]:
df_y1['Gender'] = df_y1['hhh_sex'].replace(sex_mapping)
df_y1['Gender'].value_counts()

Gender
Male      2719
Female    1199
Name: count, dtype: int64

In [8]:
df_y1['Household_Head_Gender'] = df_y1['Gender']

In [9]:
df_y1['Household_Head_Gender'] = df_y1.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [10]:
df_y1['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      2367
Female Headed    1153
Youth Headed      398
nan Headed          2
Name: count, dtype: int64

In [11]:
df_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,1.340591,2.281453
Male Headed,1.495538,2.403108
Youth Headed,1.721100,2.588078
nan Headed,NaN,NaN

In [12]:
df_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.980256,1.897269
Male Headed,1.153268,2.015757
Youth Headed,1.311826,2.199827
nan Headed,NaN,NaN

In [13]:
df_y1['HH Income/Day (USD_adult_equiv_adj)'].mean(), df_y1['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.4728526520828218, 1.128702795652476)

In [14]:
df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(2.386096820884156, 2.0036418895636734)

In [15]:
boundaries_ppp = [0, 0.75, 1.25, 1.77,2.15,3,float('inf')]
labels_ppp = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<1.77/Day", "1.77-<2.15 /Day", "2.15-3/Day", ">3+/Day"]

In [16]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [17]:
df_y1['income_group'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [18]:
df_y1['income_group'].value_counts(normalize=True)

income_group
3+/Day            0.262124
1.25-<2/Day       0.258806
2-<3/Day          0.238897
0.75-<1.25/Day    0.149566
0-<0.75/Day       0.090607
Name: proportion, dtype: float64

In [19]:
df_y1['income_group_add'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_ppp, labels=labels_ppp, right=False)

In [20]:
df_y1['income_group_add'].value_counts(normalize=True)

income_group_add
>3+/Day            0.262124
2.15-3/Day         0.189638
1.25-<1.77/Day     0.175089
0.75-<1.25/Day     0.149566
1.77-<2.15 /Day    0.132976
0-<0.75/Day        0.090607
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [42]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [43]:
df_y1['income_group_1'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [44]:
df_y1['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.548239
2.15+/Day      0.451761
Name: proportion, dtype: float64

In [45]:
df_y1['income_group_2'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [46]:
df_y1['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.308065
3+/Day            0.262124
2.5-<3/Day        0.189638
0.75-<1.25/Day    0.149566
0-<0.75/Day       0.090607
Name: proportion, dtype: float64

## Baseline

In [47]:
import numpy as np

In [48]:
base = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021CohortBaseline',header=5)
rub_base = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='Rubanda2021Cohort_Base',header=5)

In [5]:
base.shape

(1419, 6736)

In [6]:
rub_base.shape

(319, 6715)

Income

In [7]:
not_rub = np.array(base['HH Income/Day (USD_adult_equiv_adj)'])

In [8]:
rub = np.array(rub_base['HH Income/Day (USD_adult_equiv_adj)'])

In [9]:
base_income = np.concatenate([rub, not_rub])
base_income.mean()

0.6349192540696366

In [27]:
base_cohort['HH Income/Day (USD_adult_equiv_adj)'].mean(), base_cohort['HH Income/Day (USD_adult_equiv_adj)'].median()

(0.6349192540696368, 0.36896133476836035)

Income and production

In [11]:
not_rub_ = np.array(base['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [12]:
rub_ = np.array(rub_base['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [13]:
base_income_production = np.concatenate([rub_, not_rub_])
base_income_production.mean()

1.1698599562155263

In [14]:
base.shape, rub_base.shape

((1419, 6736), (319, 6715))

In [15]:
base_cohort = pd.concat([base[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']],
               rub_base[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]])

In [68]:
base_cohort.shape

(1738, 6)

In [17]:
base_cohort['Gender'] = base_cohort['hhh_sex'].replace(sex_mapping)
base_cohort['Gender'].value_counts()

NameError: name 'sex_mapping' is not defined

In [22]:
base_cohort['Household_Head_Gender'] = base_cohort['Gender']

In [23]:
base_cohort['Household_Head_Gender'] = base_cohort.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [24]:
base_cohort['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1034
Female Headed     396
Youth Headed      308
Name: count, dtype: int64

In [105]:
base_cohort.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.529179,1.159329
Male Headed,0.644360,1.152417
Youth Headed,0.739178,1.241958

In [106]:
base_cohort.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.368777,0.863817
Male Headed,0.337692,0.782185
Youth Headed,0.448730,0.863416

In [59]:
base_cohort.to_excel("base_cohort.xlsx")

In [74]:
## with median

In [104]:
base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.1698599562155263, 0.8124417601652123)

In [102]:
base_cohort['income_group'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [103]:
base_cohort['income_group'].value_counts(normalize=True)

income_group
0-<0.75/Day       0.450518
0.75-<1.25/Day    0.265247
1.25-<2/Day       0.157652
2-<3/Day          0.070771
3+/Day            0.055811
Name: proportion, dtype: float64

In [18]:
base_cohort['income_group_1'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [19]:
base_cohort['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.886076
3+/Day         0.113924
Name: proportion, dtype: float64

In [56]:
base_cohort['income_group_2'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [58]:
base_cohort['income_group_2'].value_counts(normalize=True)

income_group_2
0-<0.75/Day       0.450518
0.75-<1.25/Day    0.265247
1.25-<2.15/Day    0.170311
2.5-<3/Day        0.058113
3+/Day            0.055811
Name: proportion, dtype: float64

## Peer

# Year 2

In [30]:
peer_grad = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlYr2',header=5)

In [32]:
df1['Status'].value_counts()

Status
RTV     3897
PEER    1899
Name: count, dtype: int64

In [33]:
peer_grad = df1[df1['Status'] == "PEER"]

In [34]:
peer_grad.shape

(1899, 5670)

In [63]:
peer_grad['Gender'] = peer_grad['hhh_sex'].replace(sex_mapping)
peer_grad['Gender'].value_counts()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_3524/439533858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['Gender'] = peer_grad['hhh_sex'].replace(sex_mapping)

Gender
Male      1357
Female     542
Name: count, dtype: int64

In [65]:
peer_grad['Household_Head_Gender'] = peer_grad['Gender']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_3524/1685898727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['Household_Head_Gender'] = peer_grad['Gender']

In [66]:
peer_grad['Household_Head_Gender'] = peer_grad.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_3524/2411608141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['Household_Head_Gender'] = peer_grad.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [67]:
peer_grad['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1152
Female Headed     512
Youth Headed      235
Name: count, dtype: int64

In [71]:
peer_grad.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.904958,1.767008
Male Headed,1.045394,1.799758
Youth Headed,1.349831,2.059824

In [72]:
peer_grad.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.687371,1.531812
Male Headed,0.794294,1.598325
Youth Headed,1.110576,1.806055

In [69]:
peer_grad['HH Income/Day (USD_adult_equiv_adj)'].mean(), peer_grad['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.045204170284326, 0.7948221617212186)

In [70]:
peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.8231110959752512, 1.6087757102672366)

In [21]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [35]:
peer_grad['income_group'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_71511/3354475881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['income_group'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [36]:
peer_grad['income_group'].value_counts(normalize=True)

income_group
1.25-<2/Day       0.272249
2-<3/Day          0.226962
0.75-<1.25/Day    0.211164
0-<0.75/Day       0.152712
3+/Day            0.136914
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [25]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [37]:
peer_grad['income_group_1'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_71511/3264097000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['income_group_1'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [38]:
peer_grad['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.681411
2.15+/Day      0.318589
Name: proportion, dtype: float64

In [59]:
peer_grad['income_group_2'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_71511/1083476796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['income_group_2'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [60]:
peer_grad['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.317536
0.75-<1.25/Day    0.211164
2.5-<3/Day        0.181675
0-<0.75/Day       0.152712
3+/Day            0.136914
Name: proportion, dtype: float64

# Year one

In [39]:
peer_grad_y1 = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlYr1',header=5)

In [122]:
peer_grad_y1['Gender'] = peer_grad_y1['hhh_sex'].replace(sex_mapping)
peer_grad_y1['Gender'].value_counts()

Gender
Male      1369
Female     524
Name: count, dtype: int64

In [123]:
peer_grad_y1['Household_Head_Gender'] = peer_grad_y1['Gender']

In [124]:
peer_grad_y1['Household_Head_Gender'] = peer_grad_y1.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [125]:
peer_grad_y1['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1200
Female Headed     496
Youth Headed      197
Name: count, dtype: int64

In [126]:
peer_grad_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.886557,1.587980
Male Headed,1.116796,1.802425
Youth Headed,1.235355,1.970656

In [127]:
peer_grad_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.598974,1.228293
Male Headed,0.727223,1.340883
Youth Headed,0.884135,1.563892

In [82]:
peer_grad_y1['HH Income/Day (USD_adult_equiv_adj)'].mean(), peer_grad_y1['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.0688074882256249, 0.7041784240993112)

In [76]:
peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.7637438616537733, 1.3416400889471705)

In [21]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [40]:
peer_grad_y1['income_group'] = pd.cut(peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [41]:
peer_grad_y1['income_group'].value_counts(normalize=True)

income_group
1.25-<2/Day       0.266772
0.75-<1.25/Day    0.250924
0-<0.75/Day       0.208663
2-<3/Day          0.151083
3+/Day            0.122557
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [25]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [42]:
peer_grad_y1['income_group_1'] = pd.cut(peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [43]:
peer_grad_y1['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.755415
2.15+/Day      0.244585
Name: proportion, dtype: float64

In [61]:
peer_grad_y1['income_group_2'] = pd.cut(peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [62]:
peer_grad_y1['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.295827
0.75-<1.25/Day    0.250924
0-<0.75/Day       0.208663
3+/Day            0.122557
2.5-<3/Day        0.122029
Name: proportion, dtype: float64

# Baseline

In [44]:
base_peer = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlBaseline',header=5)
rub_base_peer = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='Rubanda2021Control_Base',header=5)

In [74]:
base_peer.shape

(1241, 4280)

In [75]:
rub_base_peer.shape

(710, 4493)

## Income

In [82]:
not_rub_peer = np.array(base_peer['HH Income/Day (USD_adult_equiv_adj)'])

In [83]:
rub_peer = np.array(rub_base_peer['HH Income/Day (USD_adult_equiv_adj)'])

In [84]:
base_income_peer = np.concatenate([rub_peer, not_rub_peer])
base_income_peer.mean()

0.9674011587096087

In [87]:
base_peer['HH Income/Day (USD_adult_equiv_adj)'].mean(), base_peer['HH Income/Day (USD_adult_equiv_adj)'].median()

(0.9674011587096087, 0.7699375968395449)

Income and production

In [46]:
prod_not_rub_ = np.array(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [47]:
prod_rub_ = np.array(rub_base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [129]:
base_income_production = np.concatenate([prod_rub_, prod_not_rub_])
base_income_production.mean()

1.620533365795722

In [128]:
base_peer.shape, rub_base_peer.shape

((1951, 2), (710, 4488))

In [45]:
base_peer = pd.concat([base_peer[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']],
               rub_base_peer[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]])

In [146]:
base_peer.head()

,hhh_sex,hhh_age,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
0,1,58,0.215799,0.443370
1,1,27,0.290348,0.497341
2,1,70,0.293836,0.543204
3,1,78,0.360799,0.573547
4,2,36,0.302555,0.573721

In [89]:
base_peer['Gender'] = base_peer['hhh_sex'].replace(sex_mapping)
base_peer['Gender'].value_counts()

Gender
Male      1479
Female     472
Name: count, dtype: int64

In [90]:
base_peer['Household_Head_Gender'] = base_peer['Gender']

In [91]:
base_peer['Household_Head_Gender'] = base_peer.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [92]:
base_peer['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1260
Female Headed     453
Youth Headed      238
Name: count, dtype: int64

In [93]:
base_peer.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.859761,1.525616
Male Headed,0.964693,1.613478
Youth Headed,1.186615,1.838549

In [152]:
base_peer.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.725275,1.268257
Male Headed,0.747561,1.274203
Youth Headed,1.070241,1.631893

In [80]:
base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.9436957903052967, 1.6217652665883164)

In [58]:
base_peer.to_excel("base_peer.xlsx")

In [21]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [46]:
base_peer['income_group'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [47]:
base_peer['income_group'].value_counts(normalize=True)

income_group
0.75-<1.25/Day    0.303947
1.25-<2/Day       0.285495
0-<0.75/Day       0.162993
2-<3/Day          0.154280
3+/Day            0.093285
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [25]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [48]:
base_peer['income_group_1'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [49]:
base_peer['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.783701
2.15+/Day      0.216299
Name: proportion, dtype: float64

In [63]:
base_peer['income_group_2'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [64]:
base_peer['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.316761
0.75-<1.25/Day    0.303947
0-<0.75/Day       0.162993
2.5-<3/Day        0.123014
3+/Day            0.093285
Name: proportion, dtype: float64