In [1]:
import pandas as pd
from scipy.stats import f_oneway
import pingouin as pg
from scipy.stats import chi2_contingency

## Graduating cohorts

In [2]:
df1 = pd.read_excel('All2021Cohorts_merged_outlier managed.xlsx', sheet_name='MergedRTV_Control2021',header=5)

In [4]:
df = df1[df1['Status'] == "RTV"]

In [5]:
df['Quartile']

0       Group 4
1       Group 2
2       Group 3
3       Group 3
4       Group 4
         ...
3892    Group 3
3893    Group 2
3894    Group 2
3895    Group 2
3896    Group 3
Name: Quartile, Length: 3897, dtype: object

In [65]:
def perform_anova_for_gender_and_variable(gender, variable):
    return f_oneway(
        above[above['Household_Head_Gender'] == gender][variable].dropna(), 
        below[below['Household_Head_Gender'] == gender][variable].dropna()
    )

In [336]:
joint = df[df['Household_Head_Gender'] == 'Male Headed']
female = df[df['Household_Head_Gender'] == 'Female Headed']
youth = df[df['Household_Head_Gender'] == 'Youth Headed']

In [391]:
below = df[df['above2'] == 'above 2.15']
above = df[df['above2'] == 'below 2.15']

In [364]:
group4 = df[df['Quartile']== 'Group 4']
group3 = df[df['Quartile']== 'Group 3']

In [7]:
df.shape

(3897, 5670)

In [8]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [9]:
df['income_group'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2164301761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_group'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [10]:
df['income_group'].value_counts(normalize=True)

income_group
3+/Day            0.420580
2-<3/Day          0.275340
1.25-<2/Day       0.209392
0.75-<1.25/Day    0.073646
0-<0.75/Day       0.021042
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [11]:
boundaries = [0, 2.15,float('inf')]
labels = ["0-<2.15/Day", "3+/Day"]

In [12]:
df['income_group_1'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1597046779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_group_1'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [13]:
df['income_group_1'].value_counts(normalize=True)

income_group_1
3+/Day         0.651783
0-<2.15/Day    0.348217
Name: proportion, dtype: float64

In [14]:
boundaries_2 = [0, 0.75, 1.25, 2.15, 3, float('inf')]
labels_2 = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2.15/Day", "2.5-<3/Day", "3+/Day"]

0-<0.75/Day
0.75-<1.25/Day
1.25-<2.15/Day
2.15-<3/Day
3+/Day

In [15]:
df['income_group_2'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3197324783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_group_2'] = pd.cut(df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [16]:
df['income_group_2'].value_counts(normalize=True)

income_group_2
3+/Day            0.420580
1.25-<2.15/Day    0.253528
2.5-<3/Day        0.231203
0.75-<1.25/Day    0.073646
0-<0.75/Day       0.021042
Name: proportion, dtype: float64

In [17]:
def gender_age_processing(df):
    sex_mapping = {1: 'Male', 2: 'Female'}
    df['Gender'] = df['hhh_sex'].replace(sex_mapping)
    df['Household_Head_Gender'] = df['Gender']
    df['Household_Head_Gender'] = df.apply(
        lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1
    )
    return df

In [18]:
df = gender_age_processing(df)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2134579218.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['hhh_sex'].replace(sex_mapping)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2134579218.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Household_Head_Gender'] = df['Gender']
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2134579218.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Household_Head_Gender'] = df.apply(

In [19]:
df['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      2422
Female Headed    1070
Youth Headed      405
Name: count, dtype: int64

In [20]:
'hhh_age', 'hh_size', 'Size_land_owned'

('hhh_age', 'hh_size', 'Size_land_owned')

In [21]:
df.groupby('Quartile')[['hhh_age', 'hh_size', 'Size_land_owned']].mean()

            hhh_age   hh_size  Size_land_owned
Quartile
Group 1   51.012868  4.913603         1.776384
Group 2   52.107073  4.766208         1.849960
Group 3   51.133534  4.706827         2.104562
Group 4   49.544901  4.959665         1.991133

In [22]:
df['above2'] = df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].apply(lambda x: "above 2.15" if x >= 2.15 else "below 2.15")

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3415046989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['above2'] = df['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].apply(lambda x: "above 2.15" if x >= 2.15 else "below 2.15")

In [23]:
df['above2'].value_counts()

above2
above 2.15    2540
below 2.15    1357
Name: count, dtype: int64

In [24]:
df['above2'].value_counts(normalize=True)

above2
above 2.15    0.651783
below 2.15    0.348217
Name: proportion, dtype: float64

In [25]:
df.groupby('above2')[['Household_Head_Gender']].value_counts(normalize=True).unstack()

Household_Head_Gender  Female Headed  Male Headed  Youth Headed
above2
above 2.15                  0.295276     0.598425      0.106299
below 2.15                  0.235814     0.664702      0.099484

In [26]:
chi2_contingency(pd.crosstab(df["Household_Head_Gender"], df["above2"]))

Chi2ContingencyResult(statistic=18.035714047179997, pvalue=0.00012122563175153323, dof=2, expected_freq=array([[ 697.40826277,  372.59173723],
       [1578.61945086,  843.38054914],
       [ 263.97228637,  141.02771363]]))

In [39]:
chi2_contingency(pd.crosstab(youth["vsla_participation"], youth["above2"]))

Chi2ContingencyResult(statistic=3.839650611774145, pvalue=0.05005395054793521, dof=1, expected_freq=array([[112.66666667,  56.33333333],
       [157.33333333,  78.66666667]]))

In [40]:
df['hh_size_adjusted']

0       2
1       1
2       1
3       6
4       3
       ..
3892    3
3893    3
3894    4
3895    1
3896    2
Name: hh_size_adjusted, Length: 3897, dtype: int64

In [41]:
df[['Seasonal Crops Income (USD_PPP)','Perenial Crops Income (USD_PPP)','Livestock Income (USD_PPP)','Livestock Income / Consumed (USD_PPP)','Assets (USD_PPP)']]

,Seasonal Crops Income (USD_PPP),Perenial Crops Income (USD_PPP),Livestock Income (USD_PPP),Livestock Income / Consumed (USD_PPP),Assets (USD_PPP)
0,130.136911,88.873988,0.000000,0.000000,0.000000
1,37.454038,292.014532,0.000000,0.000000,0.000000
2,182.191675,41.897737,0.000000,0.000000,171.399834
3,358.670023,78.716961,0.000000,0.000000,158.703550
4,66.020677,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...
3892,1155.361843,0.000000,0.000000,38.088852,26.662196
3893,2958.234168,15.235541,0.000000,0.000000,1698.127983
3894,1541.963690,250.751609,0.000000,0.000000,555.462424
3895,1662.578388,0.000000,698.295619,698.295619,1396.591238
3896,1259.153964,229.040963,142.833195,257.100385,1904.442598

In [42]:
import numpy as np

In [43]:
np.sqrt(df['hh_size'])

0       1.732051
1       1.732051
2       1.414214
3       2.828427
4       2.236068
          ...
3892    2.236068
3893    2.236068
3894    2.236068
3895    1.414214
3896    2.000000
Name: hh_size, Length: 3897, dtype: float64

In [44]:
df['hh_size_adjusted'].unique()

array([ 2,  1,  6,  3,  0,  5,  4,  9,  7,  8, -1, 13, 11, 10, 25, 14, 18])

In [45]:
df['seasonal adjusted'] = (df['Seasonal Crops Income (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/978518938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['seasonal adjusted'] = (df['Seasonal Crops Income (USD_PPP)'] / np.sqrt(df['hh_size']))

In [134]:
df['Seasonal Crops Income (USD_PPP)'].mean()

342.45388848549277

In [135]:
df['Seasonal Crops Income (USD_PPP)'].median()

228.85051880674447

In [47]:
df['seasonal adjusted'].mean()

170.3574248401325

In [48]:
df.groupby('above2')['seasonal adjusted'].mean()

above2
above 2.15    210.382709
below 2.15     95.439059
Name: seasonal adjusted, dtype: float64

In [136]:
df.groupby('above2')['seasonal adjusted'].median()

above2
above 2.15    146.394062
below 2.15     78.558257
Name: seasonal adjusted, dtype: float64

In [49]:
df.groupby(['Household_Head_Gender','above2'])['seasonal adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    255.452691
                       below 2.15     93.889340
Male Headed            above 2.15    191.840986
                       below 2.15     95.742276
Youth Headed           above 2.15    189.571347
                       below 2.15     97.086535
Name: seasonal adjusted, dtype: float64

In [137]:
df.groupby(['Household_Head_Gender','above2'])['seasonal adjusted'].median()

Household_Head_Gender  above2
Female Headed          above 2.15    177.589272
                       below 2.15     74.220548
Male Headed            above 2.15    133.310982
                       below 2.15     79.990089
Youth Headed           above 2.15    143.626713
                       below 2.15     76.971058
Name: seasonal adjusted, dtype: float64

In [54]:
f_oneway(above['seasonal adjusted'], below['seasonal adjusted'])

F_onewayResult(statistic=320.6110562916895, pvalue=5.782911998153647e-69)

In [57]:
perform_anova_for_gender_and_variable('Female Headed','seasonal adjusted')

F_onewayResult(statistic=102.13964977822697, pvalue=5.383302136152957e-23)

In [58]:
perform_anova_for_gender_and_variable('Male Headed','seasonal adjusted')

F_onewayResult(statistic=183.4772405507059, pvalue=2.3996727350705765e-40)

In [59]:
perform_anova_for_gender_and_variable('Youth Headed','seasonal adjusted')

F_onewayResult(statistic=32.21552735517031, pvalue=2.6415476840797258e-08)

In [60]:
df['formal adjusted'] = (df['Formal Employment (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2896051539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['formal adjusted'] = (df['Formal Employment (USD_PPP)'] / np.sqrt(df['hh_size']))

In [61]:
df['formal adjusted'].mean()

53.79290302443397

In [62]:
df.groupby('above2')['formal adjusted'].mean()

above2
above 2.15    79.992830
below 2.15     4.752509
Name: formal adjusted, dtype: float64

In [138]:
df.groupby('above2')['formal adjusted'].median()

above2
above 2.15    0.0
below 2.15    0.0
Name: formal adjusted, dtype: float64

In [63]:
df.groupby(['Household_Head_Gender','above2'])['formal adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    47.641029
                       below 2.15     1.863105
Male Headed            above 2.15    93.699653
                       below 2.15     4.942567
Youth Headed           above 2.15    92.694608
                       below 2.15    10.331596
Name: formal adjusted, dtype: float64

In [71]:
f_oneway(above['formal adjusted'], below['formal adjusted'])

F_onewayResult(statistic=84.51744252922528, pvalue=6.048698411295179e-20)

In [72]:
perform_anova_for_gender_and_variable('Female Headed','formal adjusted')

F_onewayResult(statistic=12.576734021884935, pvalue=0.0004075161134577198)

In [73]:
perform_anova_for_gender_and_variable('Male Headed','formal adjusted')

F_onewayResult(statistic=68.520820509272, pvalue=2.049156903499835e-16)

In [74]:
perform_anova_for_gender_and_variable('Youth Headed','formal adjusted')

F_onewayResult(statistic=7.636964641433572, pvalue=0.00598059953336991)

In [75]:
df['business adjusted'] = (df['Personal Business & Self Employment (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3348647454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['business adjusted'] = (df['Personal Business & Self Employment (USD_PPP)'] / np.sqrt(df['hh_size']))

In [76]:
df.groupby('above2')['business adjusted'].mean()

above2
above 2.15    139.574271
below 2.15     22.291642
Name: business adjusted, dtype: float64

In [139]:
df.groupby('above2')['business adjusted'].median()

above2
above 2.15    0.0
below 2.15    0.0
Name: business adjusted, dtype: float64

In [77]:
df.groupby(['Household_Head_Gender','above2'])['business adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    106.126571
                       below 2.15     13.975564
Male Headed            above 2.15    145.242130
                       below 2.15     24.899268
Youth Headed           above 2.15    200.576597
                       below 2.15     24.581024
Name: business adjusted, dtype: float64

In [140]:
df.groupby(['Household_Head_Gender','above2'])['business adjusted'].median()

Household_Head_Gender  above2
Female Headed          above 2.15    0.0
                       below 2.15    0.0
Male Headed            above 2.15    0.0
                       below 2.15    0.0
Youth Headed           above 2.15    0.0
                       below 2.15    0.0
Name: business adjusted, dtype: float64

In [82]:
f_oneway(above['seasonal adjusted'], below['business adjusted'])

F_onewayResult(statistic=22.81608352940884, pvalue=1.8483098817683121e-06)

In [83]:
perform_anova_for_gender_and_variable('Female Headed','business adjusted')

F_onewayResult(statistic=32.72400309391091, pvalue=1.3783463236279638e-08)

In [84]:
perform_anova_for_gender_and_variable('Male Headed','business adjusted')

F_onewayResult(statistic=128.88927973291885, pvalue=3.860725785708198e-29)

In [85]:
perform_anova_for_gender_and_variable('Youth Headed','business adjusted')

F_onewayResult(statistic=15.206410624006066, pvalue=0.00011287808184529234)

In [86]:
df['perenial adjusted'] = (df['Perenial Crops Income (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1727886828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['perenial adjusted'] = (df['Perenial Crops Income (USD_PPP)'] / np.sqrt(df['hh_size']))

In [87]:
df.groupby('above2')['perenial adjusted'].mean()

above2
above 2.15    241.246280
below 2.15     68.565753
Name: perenial adjusted, dtype: float64

In [141]:
df.groupby('above2')['perenial adjusted'].median()

above2
above 2.15    125.531302
below 2.15     38.874272
Name: perenial adjusted, dtype: float64

In [88]:
df.groupby(['Household_Head_Gender','above2'])['perenial adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    246.167359
                       below 2.15     67.680953
Male Headed            above 2.15    249.848214
                       below 2.15     69.453988
Youth Headed           above 2.15    179.150912
                       below 2.15     64.728335
Name: perenial adjusted, dtype: float64

In [93]:
f_oneway(above['seasonal adjusted'], below['perenial adjusted'])

F_onewayResult(statistic=242.80691029156065, pvalue=3.7490485454492983e-53)

In [94]:
perform_anova_for_gender_and_variable('Female Headed','perenial adjusted')

F_onewayResult(statistic=65.6741414819355, pvalue=1.4456424787834869e-15)

In [95]:
perform_anova_for_gender_and_variable('Male Headed','perenial adjusted')

F_onewayResult(statistic=268.56274651258, pvalue=2.5456741027033278e-57)

In [96]:
perform_anova_for_gender_and_variable('Youth Headed','perenial adjusted')

F_onewayResult(statistic=23.69002513425443, pvalue=1.6272287625760248e-06)

In [97]:
df['casual adjusted'] = (df['Casual Labour (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3531962587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['casual adjusted'] = (df['Casual Labour (USD_PPP)'] / np.sqrt(df['hh_size']))

In [395]:
df.groupby('above2')['casual adjusted'].mean()

above2
above 2.15    93.929049
below 2.15    62.130094
Name: casual adjusted, dtype: float64

In [142]:
df.groupby('above2')['casual adjusted'].median()

above2
above 2.15    0.0
below 2.15    0.0
Name: casual adjusted, dtype: float64

In [396]:
df.groupby(['Household_Head_Gender','above2'])['casual adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15     76.480994
                       below 2.15     52.223015
Male Headed            above 2.15     94.546312
                       below 2.15     62.618384
Youth Headed           above 2.15    138.920904
                       below 2.15     82.351037
Name: casual adjusted, dtype: float64

In [143]:
df.groupby(['Household_Head_Gender','above2'])['casual adjusted'].median()

Household_Head_Gender  above2
Female Headed          above 2.15     0.000000
                       below 2.15     0.000000
Male Headed            above 2.15     0.000000
                       below 2.15     0.000000
Youth Headed           above 2.15    36.252138
                       below 2.15    15.549709
Name: casual adjusted, dtype: float64

In [424]:
f_oneway(above['seasonal adjusted'], below['casual adjusted'])

F_onewayResult(statistic=238.60200880360824, pvalue=2.7378072816437522e-52)

In [425]:
perform_anova_for_gender_and_variable('Female Headed','casual adjusted')

F_onewayResult(statistic=7.56041845922076, pvalue=0.006067116223902904)

In [426]:
perform_anova_for_gender_and_variable('Male Headed','casual adjusted')

F_onewayResult(statistic=28.27651929562968, pvalue=1.1480213047631104e-07)

In [427]:
perform_anova_for_gender_and_variable('Youth Headed','casual adjusted')

F_onewayResult(statistic=8.5812565209504, pvalue=0.003589416679270627)

In [145]:
df['rem adjusted'] = (df['Remittances & Gifts (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1753693912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rem adjusted'] = (df['Remittances & Gifts (USD_PPP)'] / np.sqrt(df['hh_size']))

In [398]:
df.groupby('above2')['rem adjusted'].mean()

above2
above 2.15    58.007644
below 2.15    27.550025
Name: rem adjusted, dtype: float64

In [149]:
df.groupby('above2')['rem adjusted'].median()

above2
above 2.15    25.392568
below 2.15    14.253900
Name: rem adjusted, dtype: float64

In [399]:
df.groupby(['Household_Head_Gender','above2'])['rem adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    90.237158
                       below 2.15    35.264740
Male Headed            above 2.15    45.853575
                       below 2.15    25.875017
Youth Headed           above 2.15    36.904118
                       below 2.15    20.454828
Name: rem adjusted, dtype: float64

In [150]:
df.groupby(['Household_Head_Gender','above2'])['rem adjusted'].median()

Household_Head_Gender  above2
Female Headed          above 2.15    43.584958
                       below 2.15    19.044426
Male Headed            above 2.15    20.732945
                       below 2.15    13.466443
Youth Headed           above 2.15    15.870355
                       below 2.15    12.696284
Name: rem adjusted, dtype: float64

In [428]:
f_oneway(above['seasonal adjusted'], below['rem adjusted'])

F_onewayResult(statistic=158.02291284914847, pvalue=1.4861004414291947e-35)

In [429]:
perform_anova_for_gender_and_variable('Female Headed','rem adjusted')

F_onewayResult(statistic=56.09855038598245, pvalue=1.44070180439025e-13)

In [430]:
perform_anova_for_gender_and_variable('Male Headed','rem adjusted')

F_onewayResult(statistic=57.9560789909851, pvalue=3.816163526146651e-14)

In [431]:
perform_anova_for_gender_and_variable('Youth Headed','rem adjusted')

F_onewayResult(statistic=10.20496304306724, pvalue=0.0015107759895829852)

In [152]:
df['assets adjusted'] = (df['Assets (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/4104251311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['assets adjusted'] = (df['Assets (USD_PPP)'] / np.sqrt(df['hh_size']))

In [401]:
df.groupby('above2')['assets adjusted'].mean()

above2
above 2.15    269.526161
below 2.15    300.756316
Name: assets adjusted, dtype: float64

In [157]:
df.groupby('above2')['assets adjusted'].median()

above2
above 2.15    134.664428
below 2.15    175.154166
Name: assets adjusted, dtype: float64

In [402]:
df.groupby(['Household_Head_Gender','above2'])['assets adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    302.660803
                       below 2.15    268.495810
Male Headed            above 2.15    261.436052
                       below 2.15    315.230604
Youth Headed           above 2.15    223.029807
                       below 2.15    280.515971
Name: assets adjusted, dtype: float64

In [158]:
df.groupby(['Household_Head_Gender','above2'])['assets adjusted'].median()

Household_Head_Gender  above2
Female Headed          above 2.15    135.786631
                       below 2.15    111.543042
Male Headed            above 2.15    142.243883
                       below 2.15    195.556177
Youth Headed           above 2.15     90.701911
                       below 2.15    117.283248
Name: assets adjusted, dtype: float64

In [432]:
f_oneway(above['seasonal adjusted'], below['assets adjusted'])

F_onewayResult(statistic=479.0353750666495, pvalue=3.0271555268338705e-100)

In [433]:
perform_anova_for_gender_and_variable('Female Headed','assets adjusted')

F_onewayResult(statistic=1.189110396347215, pvalue=0.2757550357273408)

In [434]:
perform_anova_for_gender_and_variable('Male Headed','assets adjusted')

F_onewayResult(statistic=11.060438217210962, pvalue=0.0008950608863728058)

In [435]:
perform_anova_for_gender_and_variable('Youth Headed','assets adjusted')

F_onewayResult(statistic=2.3937615583614393, pvalue=0.12260508736632508)

In [153]:
df['live adjusted'] = (df['Livestock Income (USD_PPP)'] / np.sqrt(df['hh_size']))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1944989108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['live adjusted'] = (df['Livestock Income (USD_PPP)'] / np.sqrt(df['hh_size']))

In [404]:
df.groupby('above2')['live adjusted'].mean()

above2
above 2.15    41.686862
below 2.15    16.545258
Name: live adjusted, dtype: float64

In [159]:
df.groupby('above2')['live adjusted'].median()

above2
above 2.15    0.0
below 2.15    0.0
Name: live adjusted, dtype: float64

In [405]:
df.groupby(['Household_Head_Gender','above2'])['live adjusted'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    45.710408
                       below 2.15    13.987023
Male Headed            above 2.15    41.065572
                       below 2.15    18.146516
Youth Headed           above 2.15    34.007973
                       below 2.15    11.910445
Name: live adjusted, dtype: float64

In [160]:
df.groupby(['Household_Head_Gender','above2'])['live adjusted'].median()

Household_Head_Gender  above2
Female Headed          above 2.15    0.0
                       below 2.15    0.0
Male Headed            above 2.15    0.0
                       below 2.15    0.0
Youth Headed           above 2.15    0.0
                       below 2.15    0.0
Name: live adjusted, dtype: float64

In [436]:
f_oneway(above['seasonal adjusted'], below['live adjusted'])

F_onewayResult(statistic=26.416735313336, pvalue=2.886522769676996e-07)

In [437]:
perform_anova_for_gender_and_variable('Female Headed','live adjusted')

F_onewayResult(statistic=10.778306655417142, pvalue=0.0010602567273967003)

In [438]:
perform_anova_for_gender_and_variable('Male Headed','live adjusted')

F_onewayResult(statistic=34.788721618194856, pvalue=4.1888931246616754e-09)

In [439]:
perform_anova_for_gender_and_variable('Youth Headed','live adjusted')

F_onewayResult(statistic=5.25697920031955, pvalue=0.022373309657374243)

In [299]:
df.groupby('above2')['hhh_read_write'].mean()

above2
above 2.15    0.703150
below 2.15    0.694178
Name: hhh_read_write, dtype: float64

In [300]:
df.groupby(['above2','Quartile'])['hhh_read_write'].mean()

above2      Quartile
above 2.15  Group 1     0.718310
            Group 2     0.682258
            Group 3     0.713650
            Group 4     0.704000
below 2.15  Group 1     0.767196
            Group 2     0.668342
            Group 3     0.698758
            Group 4     0.681093
Name: hhh_read_write, dtype: float64

In [ ]:
group3_above

In [325]:
pd.crosstab(group3['hhh_read_write'],group3['above2'])

above2          above 2.15  below 2.15
hhh_read_write
0                      193          97
1                      481         225

In [440]:
df['Quartile'].unique()
array(['Group 4', 'Group 2', 'Group 3', 'Group 1'

array(['Group 4', 'Group 2', 'Group 3', 'Group 1', nan], dtype=object)

In [451]:
three_fourb = below[below['Quartile'].isin(['Group 3', 'Group 4'])]
three_foura = above[above['Quartile'].isin(['Group 3', 'Group 4'])]

In [453]:
chi2_contingency(pd.crosstab(group3['hhh_read_write'],group3['above2']))

Chi2ContingencyResult(statistic=0.1675474767194731, pvalue=0.6823007042117072, dof=1, expected_freq=array([[196.24497992,  93.75502008],
       [477.75502008, 228.24497992]]))

In [327]:
chi2_contingency(pd.crosstab(group4['hhh_read_write'],group4['above2']))

Chi2ContingencyResult(statistic=0.6211421461636355, pvalue=0.43062317376423376, dof=1, expected_freq=array([[265.69634703, 133.30365297],
       [609.30365297, 305.69634703]]))

In [30]:
above.groupby('Household_Head_Gender')['hhh_read_write'].value_counts(normalize=True)

Household_Head_Gender  hhh_read_write
Female Headed          0                 0.543750
                       1                 0.456250
Male Headed            1                 0.758315
                       0                 0.241685
Youth Headed           1                 0.829630
                       0                 0.170370
Name: proportion, dtype: float64

In [31]:
below.groupby('Household_Head_Gender')['hhh_read_write'].value_counts(normalize=True)

Household_Head_Gender  hhh_read_write
Female Headed          0                 0.545333
                       1                 0.454667
Male Headed            1                 0.797368
                       0                 0.202632
Youth Headed           1                 0.862963
                       0                 0.137037
Name: proportion, dtype: float64

In [32]:
df.groupby('above2')[['Household_Head_Gender','hhh_read_write']].value_counts(normalize=True).unstack()

hhh_read_write                           0         1
above2     Household_Head_Gender
above 2.15 Female Headed          0.161024  0.134252
           Male Headed            0.121260  0.477165
           Youth Headed           0.014567  0.091732
below 2.15 Female Headed          0.128224  0.107590
           Male Headed            0.160648  0.504053
           Youth Headed           0.016949  0.082535

In [33]:
(df.groupby(['above2'])[['hh_size']]).mean().unstack()

         above2
hh_size  above 2.15    4.474803
         below 2.15    5.526161
dtype: float64

In [297]:
df.groupby(['above2','Quartile'])['hh_size'].mean()

above2      Quartile
above 2.15  Group 1     4.552113
            Group 2     4.312903
            Group 3     4.431751
            Group 4     4.574857
below 2.15  Group 1     5.592593
            Group 2     5.472362
            Group 3     5.282609
            Group 4     5.726651
Name: hh_size, dtype: float64

In [329]:
group3['above2'].unique()

array(['below 2.15', 'above 2.15'], dtype=object)

In [130]:
group3_below = group3[group3['above2'] == 'below 2.15']
group3_above = group3[group3['above2'] == 'above 2.15']
group4_below = group4[group4['above2'] == 'below 2.15']
group4_above = group4[group4['above2'] == 'above 2.15']

In [249]:
f_oneway(above['hh_size'], below['hh_size'])

F_onewayResult(statistic=220.14198327965687, pvalue=1.7353490009335036e-48)

In [333]:
f_oneway(group3_below['hh_size'], group3_above['hh_size'])

F_onewayResult(statistic=40.07621527554386, pvalue=3.691247971107838e-10)

In [334]:
f_oneway(group4_below['hh_size'], group4_above['hh_size'])

F_onewayResult(statistic=86.57687439811545, pvalue=5.451492342321088e-20)

In [250]:
perform_anova_for_gender_and_variable('Female Headed','hh_size')

F_onewayResult(statistic=72.9713562538037, pvalue=4.479201385143984e-17)

In [251]:
perform_anova_for_gender_and_variable('Male Headed','hh_size')

F_onewayResult(statistic=98.40698285543917, pvalue=9.203867637546703e-23)

In [252]:
perform_anova_for_gender_and_variable('Youth Headed','hh_size')

F_onewayResult(statistic=57.508519896899955, pvalue=2.344938514872169e-13)

In [117]:
(df.groupby(['above2','Household_Head_Gender'])[['hh_size']]).mean()

                                   hh_size
above2     Household_Head_Gender
above 2.15 Female Headed          3.577333
           Male Headed            5.096711
           Youth Headed           3.466667
below 2.15 Female Headed          4.709375
           Male Headed            5.958980
           Youth Headed           4.570370

In [35]:
(df.groupby(['Household_Head_Gender','above2'])[['Size_land_owned']]).mean().unstack()

                      Size_land_owned
above2                     above 2.15 below 2.15
Household_Head_Gender
Female Headed                1.846545   1.582767
Male Headed                  2.286551   1.923485
Youth Headed                 1.272176   1.150379

In [36]:
(df.groupby(['above2'])[['Size_land_owned']]).mean().unstack()

                 above2
Size_land_owned  above 2.15    2.050544
                 below 2.15    1.767830
dtype: float64

In [254]:
f_oneway(above['Size_land_owned'].dropna(), below['Size_land_owned'].dropna())

F_onewayResult(statistic=12.80158649963682, pvalue=0.00035061025687323504)

In [335]:
f_oneway(group3_below['Size_land_owned'].dropna(), group3_above['Size_land_owned'].dropna())

F_onewayResult(statistic=1.9350581871579773, pvalue=0.16452216797652086)

In [336]:
f_oneway(group4_below['Size_land_owned'].dropna(), group4_above['Size_land_owned'].dropna())

F_onewayResult(statistic=2.6215514323241256, pvalue=0.1056648135458782)

In [257]:
perform_anova_for_gender_and_variable('Female Headed','Size_land_owned')

F_onewayResult(statistic=5.7767176659091986, pvalue=0.01641323024685033)

In [259]:
perform_anova_for_gender_and_variable('Male Headed','Size_land_owned')

F_onewayResult(statistic=10.243111972646517, pvalue=0.001389938796853216)

In [258]:
perform_anova_for_gender_and_variable('Youth Headed','Size_land_owned')

F_onewayResult(statistic=1.037824488719885, pvalue=0.30895629944091807)

In [37]:
(df.groupby(['leadership_head'])[['above2']]).value_counts(normalize=True).unstack()

above2           above 2.15  below 2.15
leadership_head
0                  0.641531    0.358469
1                  0.673291    0.326709

In [290]:
(df.groupby(['above2'])[['leadership_head']]).mean()

            leadership_head
above2
above 2.15         0.333465
below 2.15         0.302874

In [293]:
df.groupby(['above2','Quartile'])['leadership_head'].mean()

above2      Quartile
above 2.15  Group 1     0.309859
            Group 2     0.358065
            Group 3     0.400593
            Group 4     0.273143
below 2.15  Group 1     0.312169
            Group 2     0.304020
            Group 3     0.406832
            Group 4     0.223235
Name: leadership_head, dtype: float64

In [260]:
chi2_contingency(pd.crosstab(df['leadership_head'], df['above2']))

Chi2ContingencyResult(statistic=3.647520828682156, pvalue=0.056152738228540944, dof=1, expected_freq=array([[1720.05645368,  918.94354632],
       [ 819.94354632,  438.05645368]]))

In [337]:
chi2_contingency(pd.crosstab(group3['leadership_head'], group3['above2']))

Chi2ContingencyResult(statistic=0.014093853770384832, pvalue=0.9054991416927364, dof=1, expected_freq=array([[402.64056225, 192.35943775],
       [271.35943775, 129.64056225]]))

In [338]:
chi2_contingency(pd.crosstab(group4['leadership_head'], group4['above2']))

Chi2ContingencyResult(statistic=3.561220347877306, pvalue=0.05914424233266955, dof=1, expected_freq=array([[650.58980213, 326.41019787],
       [224.41019787, 112.58980213]]))

In [261]:
chi2_contingency(pd.crosstab(female['leadership_head'], female['above2']))

Chi2ContingencyResult(statistic=7.961284921222596, pvalue=0.004778847654599548, dof=1, expected_freq=array([[557.94392523, 238.05607477],
       [192.05607477,  81.94392523]]))

In [262]:
chi2_contingency(pd.crosstab(joint['leadership_head'], joint['above2']))

Chi2ContingencyResult(statistic=1.4121205029828103, pvalue=0.23470469644178726, dof=1, expected_freq=array([[967.10156895, 573.89843105],
       [552.89843105, 328.10156895]]))

In [263]:
chi2_contingency(pd.crosstab(youth['leadership_head'], youth['above2']))

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[201.33333333, 100.66666667],
       [ 68.66666667,  34.33333333]]))

In [39]:
(df.groupby(['Household_Head_Gender','above2'])[['leadership_head']]).value_counts(normalize=True).unstack()

leadership_head                          0         1
Household_Head_Gender above2
Female Headed         above 2.15  0.718667  0.281333
                      below 2.15  0.803125  0.196875
Male Headed           above 2.15  0.626974  0.373026
                      below 2.15  0.651885  0.348115
Youth Headed          above 2.15  0.744444  0.255556
                      below 2.15  0.748148  0.251852

In [342]:
(df.groupby(['Household_Head_Gender','above2'])['hhh_age']).mean()

Household_Head_Gender  above2
Female Headed          above 2.15    61.645333
                       below 2.15    56.384375
Male Headed            above 2.15    50.767763
                       below 2.15    50.522173
Youth Headed           above 2.15    27.277778
                       below 2.15    27.200000
Name: hhh_age, dtype: float64

In [264]:
f_oneway(above['hhh_age'],below['hhh_age'])

F_onewayResult(statistic=11.528103083063554, pvalue=0.000692376945961864)

In [339]:
f_oneway(group3_below['hhh_age'].dropna(), group3_above['hhh_age'].dropna())

F_onewayResult(statistic=0.6759549077849925, pvalue=0.41118029613119345)

In [340]:
f_oneway(group4_below['hhh_age'].dropna(), group4_above['hhh_age'].dropna())

F_onewayResult(statistic=3.246946262162299, pvalue=0.07178612825122824)

In [265]:
perform_anova_for_gender_and_variable('Female Headed','hhh_age')

F_onewayResult(statistic=25.51683537573143, pvalue=5.154839750844484e-07)

In [266]:
perform_anova_for_gender_and_variable('Male Headed','hhh_age')

F_onewayResult(statistic=0.16708059327296365, pvalue=0.6827556855002117)

In [267]:
perform_anova_for_gender_and_variable('Youth Headed','hhh_age')

F_onewayResult(statistic=0.07699265826831825, pvalue=0.7815572907088416)

Daily meals

In [41]:
df.groupby('above2')['daily_meals'].value_counts(normalize=True).unstack()

daily_meals         1         2         3
above2
above 2.15   0.019291  0.753937  0.226772
below 2.15   0.022845  0.820192  0.156964

In [42]:
table_meals_1 = pd.crosstab(df["daily_meals"], df["above2"])
table_meals_1

above2       above 2.15  below 2.15
daily_meals
1                    49          31
2                  1915        1113
3                   576         213

In [43]:
chi2_contingency(table_meals_1)

Chi2ContingencyResult(statistic=26.829167358699944, pvalue=1.4932080790640903e-06, dof=2, expected_freq=array([[  52.14267385,   27.85732615],
       [1973.60020529, 1054.39979471],
       [ 514.25712086,  274.74287914]]))

In [44]:
df.groupby(['Household_Head_Gender','above2'])['daily_meals'].value_counts(normalize=True).unstack()

daily_meals                              1         2         3
Household_Head_Gender above2
Female Headed         above 2.15  0.024000  0.746667  0.229333
                      below 2.15  0.034375  0.831250  0.134375
Male Headed           above 2.15  0.019079  0.755263  0.225658
                      below 2.15  0.017738  0.814856  0.167406
Youth Headed          above 2.15  0.007407  0.766667  0.225926
                      below 2.15  0.029630  0.829630  0.140741

In [45]:
df['Household_Head_Gender'].unique()

array(['Female Headed', 'Male Headed', 'Youth Headed'], dtype=object)

In [47]:
table_meals_joint = pd.crosstab(joint["daily_meals"], joint["above2"])
table_meals_female = pd.crosstab(female["daily_meals"], female["above2"])
table_meals_male = pd.crosstab(joint["daily_meals"], joint["above2"])

In [48]:
chi2_contingency(table_meals_joint).pvalue, chi2_contingency(table_meals_female).pvalue, chi2_contingency(table_meals_male).pvalue

(0.0024076049484862633, 0.0014772506047665524, 0.0024076049484862633)

In [34]:
df['vsla_participation'] = ((df['save_mode_7']==1) | (df['save_mode_8']==1)).astype(int)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2885387722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vsla_participation'] = ((df['save_mode_7']==1) | (df['save_mode_8']==1)).astype(int)

In [283]:
df.groupby('above2')['vsla_participation'].mean()

above2
above 2.15    0.611024
below 2.15    0.590273
Name: vsla_participation, dtype: float64

In [284]:
df.groupby(['above2','Quartile'])['vsla_participation'].mean()

above2      Quartile
above 2.15  Group 1     0.597183
            Group 2     0.622581
            Group 3     0.630564
            Group 4     0.594286
below 2.15  Group 1     0.603175
            Group 2     0.610553
            Group 3     0.574534
            Group 4     0.578588
Name: vsla_participation, dtype: float64

In [51]:
df.groupby(['Household_Head_Gender','above2'])['vsla_participation'].value_counts(normalize=True).unstack()

vsla_participation                       0         1
Household_Head_Gender above2
Female Headed         above 2.15  0.429333  0.570667
                      below 2.15  0.471875  0.528125
Male Headed           above 2.15  0.370395  0.629605
                      below 2.15  0.375831  0.624169
Youth Headed          above 2.15  0.381481  0.618519
                      below 2.15  0.488889  0.511111

In [52]:
table_vsla = pd.crosstab(df["vsla_participation"], df["above2"])
table_vsla

above2              above 2.15  below 2.15
vsla_participation
0                          988         556
1                         1552         801

In [53]:
chi2_contingency(table_vsla)

Chi2ContingencyResult(statistic=1.5064693163819072, pvalue=0.21967862882411537, dof=1, expected_freq=array([[1006.35360534,  537.64639466],
       [1533.64639466,  819.35360534]]))

In [343]:
chi2_contingency(pd.crosstab(group3["vsla_participation"], group3["above2"]))

Chi2ContingencyResult(statistic=2.650772794523169, pvalue=0.10349956982825327, dof=1, expected_freq=array([[261.20883534, 124.79116466],
       [412.79116466, 197.20883534]]))

In [344]:
chi2_contingency(pd.crosstab(group4["vsla_participation"], group4["above2"]))

Chi2ContingencyResult(statistic=0.2362771657118645, pvalue=0.6269079674051556, dof=1, expected_freq=array([[359.5890411, 180.4109589],
       [515.4109589, 258.5890411]]))

In [205]:
chi2_contingency(pd.crosstab(female["vsla_participation"], female["above2"]))

Chi2ContingencyResult(statistic=1.477879454088626, pvalue=0.22410659632451324, dof=1, expected_freq=array([[331.54205607, 141.45794393],
       [418.45794393, 178.54205607]]))

In [206]:
chi2_contingency(pd.crosstab(joint["vsla_participation"], joint["above2"]))

Chi2ContingencyResult(statistic=0.05021813243746325, pvalue=0.8226841409358666, dof=1, expected_freq=array([[566.0776218, 335.9223782],
       [953.9223782, 566.0776218]]))

In [207]:
chi2_contingency(pd.crosstab(youth["vsla_participation"], youth["above2"]))

Chi2ContingencyResult(statistic=3.839650611774145, pvalue=0.05005395054793521, dof=1, expected_freq=array([[112.66666667,  56.33333333],
       [157.33333333,  78.66666667]]))

In [54]:
df['beans_presence'] = df.apply(lambda row: row['Season_1_1'] or row['Season_2_1'], axis=1)
df['gnuts_presence'] = df.apply(lambda row: row['Season_1_2'] or row['Season_2_2'], axis=1)
df['soya_presence'] = df.apply(lambda row: row['Season_1_3'] or row['Season_2_3'], axis=1)
df['peas_presence'] = df.apply(lambda row: row['Season_1_4'] or row['Season_2_4'], axis=1)
df['maize_presence'] = df.apply(lambda row: row['Season_1_5'] or row['Season_2_5'], axis=1)
df['millet_presence'] = df.apply(lambda row: row['Season_1_6'] or row['Season_2_6'], axis=1)
df['sorghum_presence'] = df.apply(lambda row: row['Season_1_7'] or row['Season_2_7'], axis=1)
df['barley_presence'] = df.apply(lambda row: row['Season_1_8'] or row['Season_2_8'], axis=1)
df['rice_presence'] = df.apply(lambda row: row['Season_1_9'] or row['Season_2_9'], axis=1)
df['irish_presence'] = df.apply(lambda row: row['Season_1_10'] or row['Season_2_10'], axis=1)
df['sweet_presence'] = df.apply(lambda row: row['Season_1_11'] or row['Season_2_11'], axis=1)
df['cassava_presence'] = df.apply(lambda row: row['Season_1_12'] or row['Season_2_12'], axis=1)
df['yams_presence'] = df.apply(lambda row: row['Season_1_13'] or row['Season_2_13'], axis=1)
df['garlic_presence'] = df.apply(lambda row: row['Season_1_14'] or row['Season_2_14'], axis=1)
df['ginger_presence'] = df.apply(lambda row: row['Season_1_15'] or row['Season_2_15'], axis=1)
df['tobacco_presence'] = df.apply(lambda row: row['Season_1_16'] or row['Season_2_16'], axis=1)
df['other_presence'] = df.apply(lambda row: row['Season_1_97'] or row['Season_2_97'], axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_presence'] = df.apply(lambda row: row['Season_1_1'] or row['Season_2_1'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_presence'] = df.apply(lambda row: row['Season_1_2'] or row['Season_2_2'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['soya_presence'] = df.apply(lambda row: row['Season_1_3'] or row['Season_2_3'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['peas_presence'] = df.apply(lambda row: row['Season_1_4'] or row['Season_2_4'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_presence'] = df.apply(lambda row: row['Season_1_5'] or row['Season_2_5'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['millet_presence'] = df.apply(lambda row: row['Season_1_6'] or row['Season_2_6'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sorghum_presence'] = df.apply(lambda row: row['Season_1_7'] or row['Season_2_7'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['barley_presence'] = df.apply(lambda row: row['Season_1_8'] or row['Season_2_8'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rice_presence'] = df.apply(lambda row: row['Season_1_9'] or row['Season_2_9'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_presence'] = df.apply(lambda row: row['Season_1_10'] or row['Season_2_10'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sweet_presence'] = df.apply(lambda row: row['Season_1_11'] or row['Season_2_11'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cassava_presence'] = df.apply(lambda row: row['Season_1_12'] or row['Season_2_12'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['yams_presence'] = df.apply(lambda row: row['Season_1_13'] or row['Season_2_13'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['garlic_presence'] = df.apply(lambda row: row['Season_1_14'] or row['Season_2_14'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ginger_presence'] = df.apply(lambda row: row['Season_1_15'] or row['Season_2_15'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tobacco_presence'] = df.apply(lambda row: row['Season_1_16'] or row['Season_2_16'], axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2423799788.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['other_presence'] = df.apply(lambda row: row['Season_1_97'] or row['Season_2_97'], axis=1)

In [55]:
df['crop_varieties'] = df[['beans_presence','gnuts_presence','soya_presence','peas_presence','maize_presence','millet_presence','sorghum_presence',
'barley_presence','rice_presence','irish_presence','sweet_presence','cassava_presence','yams_presence','garlic_presence',
'ginger_presence','tobacco_presence','other_presence'
]].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/3436129895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crop_varieties'] = df[['beans_presence','gnuts_presence','soya_presence','peas_presence','maize_presence','millet_presence','sorghum_presence',

In [56]:
df.groupby('above2')['crop_varieties'].mean()

above2
above 2.15    4.221654
below 2.15    3.604274
Name: crop_varieties, dtype: float64

In [345]:
f_oneway(group3_below['crop_varieties'].dropna(), group3_above['crop_varieties'].dropna())

F_onewayResult(statistic=51.29997243953042, pvalue=1.5413899397061088e-12)

In [346]:
f_oneway(group4_below['crop_varieties'].dropna(), group4_above['crop_varieties'].dropna())

F_onewayResult(statistic=55.8151781807126, pvalue=1.4477303138050358e-13)

In [276]:
df.groupby(['above2','Quartile'])['crop_varieties'].mean()

above2      Quartile
above 2.15  Group 1     4.132394
            Group 2     4.148387
            Group 3     4.318991
            Group 4     4.254857
below 2.15  Group 1     3.603175
            Group 2     3.673367
            Group 3     3.602484
            Group 4     3.560364
Name: crop_varieties, dtype: float64

In [59]:
f_oneway(above['crop_varieties'], below['crop_varieties'])

F_onewayResult(statistic=142.99613668243722, pvalue=2.1591794552225597e-32)

In [60]:
df.groupby(['Household_Head_Gender','above2'])['crop_varieties'].mean().unstack()

above2                 above 2.15  below 2.15
Household_Head_Gender
Female Headed            4.270667    3.606250
Male Headed              4.236184    3.648559
Youth Headed             4.003704    3.303704

In [191]:
above[above['Household_Head_Gender']=='Female Headed']['crop_varieties']

0       0.0
2       4.0
4       2.0
6       0.0
15      4.0
       ...
3548    4.0
3572    5.0
3575    4.0
3592    5.0
3599    4.0
Name: crop_varieties, Length: 320, dtype: float64

In [197]:
f_oneway(above[above['Household_Head_Gender']=='Female Headed']['crop_varieties'], below[below['Household_Head_Gender']=='Female Headed']['crop_varieties'])

F_onewayResult(statistic=41.36602408685717, pvalue=1.9007670089797172e-10)

In [198]:
f_oneway(above[above['Household_Head_Gender']=='Male Headed']['crop_varieties'], below[below['Household_Head_Gender']=='Male Headed']['crop_varieties'])

F_onewayResult(statistic=85.01994223309367, pvalue=6.233420366863097e-20)

In [199]:
f_oneway(above[above['Household_Head_Gender']=='Youth Headed']['crop_varieties'], below[below['Household_Head_Gender']=='Youth Headed']['crop_varieties'])

F_onewayResult(statistic=17.19548694352767, pvalue=4.1142538030026707e-05)

In [201]:
perform_anova_for_gender_and_variable('Female Headed','crop_varieties')

F_onewayResult(statistic=41.36602408685717, pvalue=1.9007670089797172e-10)

In [61]:
df[['Formal Employment (USD)','Personal Business & Self Employment (USD)','Casual Labour (USD)','Remittances & Gifts (USD)','Rent Income (Property & Land) USD','Seasonal Crops Income (USD)','Perenial Crops Income (USD)','Livestock Income (USD)']]

,Formal Employment (USD),Personal Business & Self Employment (USD),Casual Labour (USD),Remittances & Gifts (USD),Rent Income (Property & Land) USD,Seasonal Crops Income (USD),Perenial Crops Income (USD),Livestock Income (USD)
0,0.000000,0.000000,54.054054,40.540541,0.0,55.405405,37.837838,0.000000
1,0.000000,0.000000,0.000000,8.108108,0.0,15.945946,124.324324,0.000000
2,0.000000,0.000000,110.270270,32.432432,0.0,77.567568,17.837838,0.000000
3,0.000000,5.405405,0.000000,0.000000,0.0,152.702703,33.513514,0.000000
4,0.000000,0.000000,0.000000,148.648649,0.0,28.108108,0.000000,0.000000
...,...,...,...,...,...,...,...,...
3892,1581.081081,0.000000,0.000000,16.216216,0.0,491.891892,0.000000,0.000000
3893,0.000000,367.567568,0.000000,40.540541,0.0,1259.459459,6.486486,0.000000
3894,0.000000,297.297297,0.000000,108.108108,0.0,656.486486,106.756757,0.000000
3895,0.000000,0.000000,0.000000,0.000000,0.0,707.837838,0.000000,297.297297
3896,0.000000,0.000000,0.000000,54.054054,0.0,536.081081,97.513514,60.810811

In [62]:
specified_columns = ['Formal Employment (USD)','Personal Business & Self Employment (USD)','Casual Labour (USD)',
                     'Remittances & Gifts (USD)','Rent Income (Property & Land) USD','Seasonal Crops Income (USD)',
                     'Perenial Crops Income (USD)','Livestock Income (USD)']

In [63]:
len(specified_columns)

8

In [64]:
binary_df = (df[specified_columns] != 0).astype(int)
binary_df

,Formal Employment (USD),Personal Business & Self Employment (USD),Casual Labour (USD),Remittances & Gifts (USD),Rent Income (Property & Land) USD,Seasonal Crops Income (USD),Perenial Crops Income (USD),Livestock Income (USD)
0,0,0,1,1,0,1,1,0
1,0,0,0,1,0,1,1,0
2,0,0,1,1,0,1,1,0
3,0,1,0,0,0,1,1,0
4,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
3892,1,0,0,1,0,1,0,0
3893,0,1,0,1,0,1,1,0
3894,0,1,0,1,0,1,1,0
3895,0,0,0,0,0,1,0,1
3896,0,0,0,1,0,1,1,1

In [65]:
binary_df = (df[specified_columns] != 0).astype(int)

In [66]:
df['Income Sources Count'] = binary_df.sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/1304738042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Income Sources Count'] = binary_df.sum(axis=1)

In [67]:
df.groupby('above2')['Income Sources Count'].mean()

above2
above 2.15    3.917323
below 2.15    3.434046
Name: Income Sources Count, dtype: float64

In [277]:
df.groupby(['above2','Quartile'])['Income Sources Count'].mean()

above2      Quartile
above 2.15  Group 1     3.842254
            Group 2     4.079032
            Group 3     3.847181
            Group 4     3.886857
below 2.15  Group 1     3.444444
            Group 2     3.417085
            Group 3     3.326087
            Group 4     3.528474
Name: Income Sources Count, dtype: float64

In [70]:
f_oneway(above['Income Sources Count'], below['Income Sources Count'])

F_onewayResult(statistic=180.24383552824804, pvalue=3.315715050277337e-40)

In [347]:
f_oneway(group3_below['Income Sources Count'].dropna(), group3_above['Income Sources Count'].dropna())

F_onewayResult(statistic=53.46557756686473, pvalue=5.407330980570627e-13)

In [348]:
f_oneway(group4_below['Income Sources Count'].dropna(), group4_above['Income Sources Count'].dropna())

F_onewayResult(statistic=38.93587216376735, pvalue=5.898509040777658e-10)

In [239]:
perform_anova_for_gender_and_variable('Female Headed','Income Sources Count')

F_onewayResult(statistic=40.7198134269943, pvalue=2.6133774675598195e-10)

In [243]:
perform_anova_for_gender_and_variable('Male Headed','Income Sources Count')

F_onewayResult(statistic=126.45839944311503, pvalue=1.2357764648493388e-28)

In [241]:
perform_anova_for_gender_and_variable('Youth Headed','Income Sources Count')

F_onewayResult(statistic=16.948810976988106, pvalue=4.6601460479493556e-05)

In [71]:
df.groupby(['Household_Head_Gender','above2'])['Income Sources Count'].mean().unstack()

above2                 above 2.15  below 2.15
Household_Head_Gender
Female Headed            3.870667    3.409375
Male Headed              3.959868    3.454545
Youth Headed             3.807407    3.355556

In [72]:
df['Size_land_owned'].mean()

1.9523239436619717

In [73]:
df.groupby('above2')['Size_land_owned'].mean()

above2
above 2.15    2.050544
below 2.15    1.767830
Name: Size_land_owned, dtype: float64

In [278]:
df.groupby(['above2','Quartile'])['Size_land_owned'].mean()

above2      Quartile
above 2.15  Group 1     1.902834
            Group 2     1.952780
            Group 3     2.158547
            Group 4     2.096466
below 2.15  Group 1     1.534722
            Group 2     1.688648
            Group 3     1.991483
            Group 4     1.781682
Name: Size_land_owned, dtype: float64

In [178]:
f_oneway(above['Size_land_owned'].dropna(), below['Size_land_owned'].dropna())

F_onewayResult(statistic=12.80158649963682, pvalue=0.00035061025687323504)

In [349]:
f_oneway(group3_below['Size_land_owned'].dropna(), group3_above['Size_land_owned'].dropna())

F_onewayResult(statistic=1.9350581871579773, pvalue=0.16452216797652086)

In [350]:
f_oneway(group4_below['Size_land_owned'].dropna(), group4_above['Size_land_owned'].dropna())

F_onewayResult(statistic=2.6215514323241256, pvalue=0.1056648135458782)

In [74]:
df.groupby('above2')['Land_size_for_Crop_Agriculture_Acres'].mean()

above2
above 2.15    1.661611
below 2.15    1.437143
Name: Land_size_for_Crop_Agriculture_Acres, dtype: float64

In [351]:
f_oneway(group3_below['Land_size_for_Crop_Agriculture_Acres'].dropna(), group3_above['Land_size_for_Crop_Agriculture_Acres'].dropna())

F_onewayResult(statistic=1.8614288861370705, pvalue=0.17277351342653433)

In [352]:
f_oneway(group4_below['Land_size_for_Crop_Agriculture_Acres'].dropna(), group4_above['Land_size_for_Crop_Agriculture_Acres'].dropna())

F_onewayResult(statistic=2.197237131361648, pvalue=0.13850164258503445)

In [279]:
df.groupby(['above2','Quartile'])['Land_size_for_Crop_Agriculture_Acres'].mean()

above2      Quartile
above 2.15  Group 1     1.625363
            Group 2     1.582642
            Group 3     1.732794
            Group 4     1.676043
below 2.15  Group 1     1.268611
            Group 2     1.384184
            Group 3     1.610095
            Group 4     1.433007
Name: Land_size_for_Crop_Agriculture_Acres, dtype: float64

In [75]:
df.groupby(['Household_Head_Gender','above2'])['Land_size_for_Crop_Agriculture_Acres'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    1.474289
                       below 2.15    1.288916
Male Headed            above 2.15    1.855809
                       below 2.15    1.556173
Youth Headed           above 2.15    1.075954
                       below 2.15    0.980682
Name: Land_size_for_Crop_Agriculture_Acres, dtype: float64

In [230]:
df.groupby('above2')['borrowed_past_12_months'].mean()

above2
above 2.15    0.216929
below 2.15    0.229919
Name: borrowed_past_12_months, dtype: float64

In [280]:
df.groupby(['above2','Quartile'])['borrowed_past_12_months'].mean()

above2      Quartile
above 2.15  Group 1     0.225352
            Group 2     0.182258
            Group 3     0.212166
            Group 4     0.242286
below 2.15  Group 1     0.280423
            Group 2     0.188442
            Group 3     0.220497
            Group 4     0.252847
Name: borrowed_past_12_months, dtype: float64

In [236]:
df['above2'].value_counts()

above2
above 2.15    2540
below 2.15    1357
Name: count, dtype: int64

In [235]:
df['borrowed_past_12_months'].value_counts()

borrowed_past_12_months
0    3034
1     863
Name: count, dtype: int64

In [233]:
df.groupby('borrowed_past_12_months')['above2'].value_counts(normalize=True)

borrowed_past_12_months  above2
0                        above 2.15    0.65557
                         below 2.15    0.34443
1                        above 2.15    0.63847
                         below 2.15    0.36153
Name: proportion, dtype: float64

In [210]:
chi2_contingency(pd.crosstab(df["borrowed_past_12_months"], df["above2"]))

Chi2ContingencyResult(statistic=0.7919086219904177, pvalue=0.37352362341502865, dof=1, expected_freq=array([[1977.51090582, 1056.48909418],
       [ 562.48909418,  300.51090582]]))

In [354]:
chi2_contingency(pd.crosstab(group3["borrowed_past_12_months"], group3["above2"]))

Chi2ContingencyResult(statistic=0.047061485878675105, pvalue=0.8282577586165807, dof=1, expected_freq=array([[529.18473896, 252.81526104],
       [144.81526104,  69.18473896]]))

In [355]:
chi2_contingency(pd.crosstab(group4["borrowed_past_12_months"], group4["above2"]))

Chi2ContingencyResult(statistic=0.123539104583103, pvalue=0.7252272987776738, dof=1, expected_freq=array([[659.91248097, 331.08751903],
       [215.08751903, 107.91248097]]))

In [211]:
chi2_contingency(pd.crosstab(female["borrowed_past_12_months"], female["above2"]))

Chi2ContingencyResult(statistic=1.2801054482996457, pvalue=0.2578794298881236, dof=1, expected_freq=array([[604.20560748, 257.79439252],
       [145.79439252,  62.20560748]]))

In [212]:
chi2_contingency(pd.crosstab(joint["borrowed_past_12_months"], joint["above2"]))

Chi2ContingencyResult(statistic=1.548826212521396, pvalue=0.2133088073679547, dof=1, expected_freq=array([[1157.88604459,  687.11395541],
       [ 362.11395541,  214.88604459]]))

In [213]:
chi2_contingency(pd.crosstab(youth["borrowed_past_12_months"], youth["above2"]))

Chi2ContingencyResult(statistic=0.4465860973888497, pvalue=0.5039606366243787, dof=1, expected_freq=array([[218., 109.],
       [ 52.,  26.]]))

In [214]:
df.groupby(['above2','Household_Head_Gender'])['borrowed_past_12_months'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.204000
            Male Headed              0.229605
            Youth Headed             0.181481
below 2.15  Female Headed            0.171875
            Male Headed              0.252772
            Youth Headed             0.214815
Name: borrowed_past_12_months, dtype: float64

Purpose for borrowing

1	School Fees
2	Home construction
3	Business
4	Agriculture inputs
5	Medicine and Sickness
6	Livestock
7	Buying land
8	Household items
9	To repay other debts
97	Others

In [223]:
df['agric_borrowing'] =df['purpose_for_borrow'].apply(lambda x: 1 if x == 4.0 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/3557922686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agric_borrowing'] =df['purpose_for_borrow'].apply(lambda x: 1 if x == 4.0 else 0)

In [244]:
chi2_contingency(pd.crosstab(df["agric_borrowing"], df["above2"]))

Chi2ContingencyResult(statistic=0.5153642217352256, pvalue=0.4728259003375668, dof=1, expected_freq=array([[2429.84860149, 1298.15139851],
       [ 110.15139851,   58.84860149]]))

In [226]:
df['purpose_for_borrow'].value_counts(normalize=True)

purpose_for_borrow
1.0     0.298957
4.0     0.195829
6.0     0.164542
3.0     0.120510
5.0     0.047509
8.0     0.046350
2.0     0.046350
7.0     0.039397
9.0     0.023175
97.0    0.017381
Name: proportion, dtype: float64

In [227]:
df.groupby('above2')['agric_borrowing'].value_counts(normalize=True)

above2      agric_borrowing
above 2.15  0                  0.954724
            1                  0.045276
below 2.15  0                  0.960206
            1                  0.039794
Name: proportion, dtype: float64

In [215]:
borrowed_agric = df[df['purpose_for_borrow'] == 4.0]

In [216]:
borrowed_agric['above2'].value_counts(normalize=True)

above2
above 2.15    0.680473
below 2.15    0.319527
Name: proportion, dtype: float64

In [217]:
chi2_contingency(pd.crosstab(borrowed_agric["borrowed_past_12_months"], borrowed_agric["above2"]))

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=0, expected_freq=array([[115.,  54.]]))

In [81]:
borrowed_agric.groupby('Household_Head_Gender')['above2'].value_counts(normalize=True)

Household_Head_Gender  above2
Female Headed          above 2.15    0.867925
                       below 2.15    0.132075
Male Headed            above 2.15    0.594059
                       below 2.15    0.405941
Youth Headed           above 2.15    0.600000
                       below 2.15    0.400000
Name: proportion, dtype: float64

In [82]:
df['livestock_present_hh'].value_counts()

livestock_present_hh
1    3050
0     847
Name: count, dtype: int64

In [356]:
chi2_contingency(pd.crosstab(group3["livestock_present_hh"], group3["above2"]))

Chi2ContingencyResult(statistic=0.4934907456495009, pvalue=0.4823742812498092, dof=1, expected_freq=array([[128.57429719,  61.42570281],
       [545.42570281, 260.57429719]]))

In [357]:
chi2_contingency(pd.crosstab(group4["livestock_present_hh"], group4["above2"]))

Chi2ContingencyResult(statistic=0.15421933577808716, pvalue=0.6945353846274672, dof=1, expected_freq=array([[220.41476408, 110.58523592],
       [654.58523592, 328.41476408]]))

In [282]:
df.groupby(['above2','Quartile'])['livestock_present_hh'].mean()

above2      Quartile
above 2.15  Group 1     0.757746
            Group 2     0.795161
            Group 3     0.816024
            Group 4     0.752000
below 2.15  Group 1     0.820106
            Group 2     0.814070
            Group 3     0.795031
            Group 4     0.740319
Name: livestock_present_hh, dtype: float64

In [172]:
table_live = pd.crosstab(df["livestock_present_hh"], df["above2"])
table_live

above2                above 2.15  below 2.15
livestock_present_hh
0                            557         290
1                           1983        1067

In [ ]:
chi2_contingency(table_live)

In [86]:
vsla_participation = df[df['vsla_participation'] == 1]

In [87]:
vsla_participation['vsla_saving'] = (vsla_participation['Total Savings (Ugx)'].apply(lambda x: 1 if x!= 0 else 0))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/2177381589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vsla_participation['vsla_saving'] = (vsla_participation['Total Savings (Ugx)'].apply(lambda x: 1 if x!= 0 else 0))

In [202]:
vsla_participation.groupby('above2')['vsla_saving'].mean()

above2
above 2.15    0.990335
below 2.15    0.980025
Name: vsla_saving, dtype: float64

In [89]:
vsla_participation.groupby('vsla_saving')['above2'].value_counts(normalize=True)

vsla_saving  above2
0            below 2.15    0.516129
             above 2.15    0.483871
1            above 2.15    0.661929
             below 2.15    0.338071
Name: proportion, dtype: float64

In [90]:
#vsla_participation[['saving_amount_rtv_vsla_cashround','saving_amount_non_rtv_vsla']].apply(lambda x,y: 1 if x,y != 0 else 0

In [91]:
df['rtv_saving'] = df['saving_amount_rtv_vsla_cashround'].fillna(0).apply(lambda x: 1 if x!= 0 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/1626854993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rtv_saving'] = df['saving_amount_rtv_vsla_cashround'].fillna(0).apply(lambda x: 1 if x!= 0 else 0)

In [92]:
df['saving_amount_rtv_vsla_cashround'].value_counts(dropna=False)

saving_amount_rtv_vsla_cashround
NaN          2329
100000.0      210
50000.0       136
60000.0       106
200000.0       96
             ...
217000.0        1
182500.0        1
3000000.0       1
341000.0        1
55000.0         1
Name: count, Length: 117, dtype: int64

In [93]:
df['saving_amount_rtv_vsla_cashround']

0             NaN
1         40000.0
2         50000.0
3         14000.0
4             NaN
          ...
3892          NaN
3893     120000.0
3894    2000000.0
3895          NaN
3896          NaN
Name: saving_amount_rtv_vsla_cashround, Length: 3897, dtype: float64

In [94]:
df['rtv_saving'].value_counts()

rtv_saving
0    2344
1    1553
Name: count, dtype: int64

In [95]:
df.groupby('above2')['rtv_saving'].mean()

above2
above 2.15    0.405512
below 2.15    0.385409
Name: rtv_saving, dtype: float64

In [119]:
df.groupby('above2')['AGRIC (%)'].mean()

above2
above 2.15    0.580295
below 2.15    0.582369
Name: AGRIC (%), dtype: float64

In [141]:
df['agric_comp'] = df['AGRIC (%)'].apply(lambda x: 1 if x >= 0.5 else 0)
df['wash_comp'] = df['WASH (%)'].apply(lambda x: 1 if x >= 0.5 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/1280631364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agric_comp'] = df['AGRIC (%)'].apply(lambda x: 1 if x >= 0.5 else 0)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/1280631364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wash_comp'] = df['WASH (%)'].apply(lambda x: 1 if x >= 0.5 else 0)

In [142]:
df.groupby('above2')['agric_comp'].value_counts()

above2      agric_comp
above 2.15  1             1649
            0              891
below 2.15  1              897
            0              460
Name: count, dtype: int64

In [143]:
df.groupby('above2')['agric_comp'].mean()

above2
above 2.15    0.649213
below 2.15    0.661017
Name: agric_comp, dtype: float64

In [294]:
df.groupby(['above2','Household_Head_Gender'])['agric_comp'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.632000
            Male Headed              0.673684
            Youth Headed             0.559259
below 2.15  Female Headed            0.637500
            Male Headed              0.681818
            Youth Headed             0.577778
Name: agric_comp, dtype: float64

In [127]:
df.groupby('above2')['wash_comp'].mean()

above2
above 2.15    0.821654
below 2.15    0.826824
Name: wash_comp, dtype: float64

In [129]:
df.groupby(['above2','Household_Head_Gender'])['wash_comp'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.809333
            Male Headed              0.852632
            Youth Headed             0.681481
below 2.15  Female Headed            0.825000
            Male Headed              0.835920
            Youth Headed             0.770370
Name: wash_comp, dtype: float64

In [102]:
df['above2'].value_counts(normalize=True)

above2
above 2.15    0.651783
below 2.15    0.348217
Name: proportion, dtype: float64

In [103]:
df.groupby(['Household_Head_Gender','above2'])['AGRIC (%)'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    0.574933
                       below 2.15    0.556797
Male Headed            above 2.15    0.595066
                       below 2.15    0.601275
Youth Headed           above 2.15    0.512037
                       below 2.15    0.516667
Name: AGRIC (%), dtype: float64

In [104]:
df.groupby('above2')['WASH (%)'].mean()

above2
above 2.15    0.711357
below 2.15    0.707146
Name: WASH (%), dtype: float64

In [105]:
df.groupby('above2')['hhh_age'].mean()

above2
above 2.15    51.482677
below 2.15    49.584377
Name: hhh_age, dtype: float64

In [115]:
df.groupby(['above2', 'Household_Head_Gender'])['hhh_age'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            61.645333
            Male Headed              50.767763
            Youth Headed             27.277778
below 2.15  Female Headed            56.384375
            Male Headed              50.522173
            Youth Headed             27.200000
Name: hhh_age, dtype: float64

In [108]:
df.groupby('above2')['children_num'].mean()

above2
above 2.15    2.096457
below 2.15    2.915254
Name: children_num, dtype: float64

In [285]:
df.groupby(['above2','Quartile'])['children_num'].mean()

above2      Quartile
above 2.15  Group 1     2.084507
            Group 2     2.000000
            Group 3     2.029674
            Group 4     2.216000
below 2.15  Group 1     3.026455
            Group 2     2.894472
            Group 3     2.655280
            Group 4     3.077449
Name: children_num, dtype: float64

In [180]:
f_oneway(above['children_num'].dropna(), below['children_num'].dropna())

F_onewayResult(statistic=220.79343708333477, pvalue=1.2732157833282639e-48)

In [358]:
f_oneway(group3_below['children_num'].dropna(), group3_above['children_num'].dropna())

F_onewayResult(statistic=33.637165796002115, pvalue=8.917671884826634e-09)

In [359]:
f_oneway(group4_below['children_num'].dropna(), group4_above['children_num'].dropna())

F_onewayResult(statistic=80.869300525878, pvalue=8.225133455269887e-19)

In [109]:
df.groupby(['above2','Household_Head_Gender'])['children_num'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            1.597333
            Male Headed              2.436842
            Youth Headed             1.566667
below 2.15  Female Headed            2.534375
            Male Headed              3.105322
            Youth Headed             2.548148
Name: children_num, dtype: float64

In [268]:
perform_anova_for_gender_and_variable('Female Headed','children_num')

F_onewayResult(statistic=89.04993103354705, pvalue=2.3264859546132643e-20)

In [269]:
perform_anova_for_gender_and_variable('Male Headed','children_num')

F_onewayResult(statistic=88.17075203021314, pvalue=1.3388044412592908e-20)

In [270]:
perform_anova_for_gender_and_variable('Youth Headed','children_num')

F_onewayResult(statistic=56.3773065836366, pvalue=3.8815115905468863e-13)

In [112]:
df['casual_participation'] = df['Casual Labour (Ugx)'].apply(lambda x: 1 if x!=0 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_61592/99410283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['casual_participation'] = df['Casual Labour (Ugx)'].apply(lambda x: 1 if x!=0 else 0)

In [113]:
df.groupby('above2')['casual_participation'].mean()

above2
above 2.15    0.411811
below 2.15    0.413412
Name: casual_participation, dtype: float64

In [286]:
df.groupby(['above2','Quartile'])['casual_participation'].mean()

above2      Quartile
above 2.15  Group 1     0.422535
            Group 2     0.420968
            Group 3     0.384273
            Group 4     0.425143
below 2.15  Group 1     0.444444
            Group 2     0.386935
            Group 3     0.341615
            Group 4     0.471526
Name: casual_participation, dtype: float64

In [114]:
df.groupby(['above2','Household_Head_Gender'])['casual_participation'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.356000
            Male Headed              0.420395
            Youth Headed             0.518519
below 2.15  Female Headed            0.378125
            Male Headed              0.411308
            Youth Headed             0.511111
Name: casual_participation, dtype: float64

In [271]:
chi2_contingency(pd.crosstab(df['casual_participation'], df['above2']))

Chi2ContingencyResult(statistic=0.003914535671853427, pvalue=0.9501119051310793, dof=1, expected_freq=array([[1492.584039,  797.415961],
       [1047.415961,  559.584039]]))

In [360]:
chi2_contingency(pd.crosstab(group3['casual_participation'], group3['above2']))

Chi2ContingencyResult(statistic=1.522151484399099, pvalue=0.21729419964445454, dof=1, expected_freq=array([[424.29518072, 202.70481928],
       [249.70481928, 119.29518072]]))

In [361]:
chi2_contingency(pd.crosstab(group4['casual_participation'], group4['above2']))

Chi2ContingencyResult(statistic=2.3669629292310113, pvalue=0.1239279426376627, dof=1, expected_freq=array([[489.44063927, 245.55936073],
       [385.55936073, 193.44063927]]))

In [272]:
chi2_contingency(pd.crosstab(female['casual_participation'], female['above2']))

Chi2ContingencyResult(statistic=0.3841520787039824, pvalue=0.5353894481267522, dof=1, expected_freq=array([[478.03738318, 203.96261682],
       [271.96261682, 116.03738318]]))

In [273]:
chi2_contingency(pd.crosstab(joint['casual_participation'], joint['above2']))

Chi2ContingencyResult(statistic=0.1566900189587808, pvalue=0.6922224013944164, dof=1, expected_freq=array([[886.14368291, 525.85631709],
       [633.85631709, 376.14368291]]))

In [274]:
chi2_contingency(pd.crosstab(youth['casual_participation'], youth['above2']))

Chi2ContingencyResult(statistic=0.0012358412264427301, pvalue=0.97195651680297, dof=1, expected_freq=array([[130.66666667,  65.33333333],
       [139.33333333,  69.66666667]]))

## Business Participation

In [98]:
df['business_participation'] = df['Personal Business & Self Employment (Ugx)'].apply(lambda x: 1 if x!=0 else 0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/867436911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['business_participation'] = df['Personal Business & Self Employment (Ugx)'].apply(lambda x: 1 if x!=0 else 0)

In [99]:
df.groupby('above2')['business_participation'].mean()

above2
above 2.15    0.401181
below 2.15    0.263080
Name: business_participation, dtype: float64

In [100]:
df.groupby(['above2','Quartile'])['business_participation'].mean()

above2      Quartile
above 2.15  Group 1     0.405634
            Group 2     0.441935
            Group 3     0.418398
            Group 4     0.354286
below 2.15  Group 1     0.201058
            Group 2     0.311558
            Group 3     0.288820
            Group 4     0.225513
Name: business_participation, dtype: float64

In [101]:
df.groupby(['above2','Household_Head_Gender'])['business_participation'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.357333
            Male Headed              0.425000
            Youth Headed             0.388889
below 2.15  Female Headed            0.246875
            Male Headed              0.273836
            Youth Headed             0.229630
Name: business_participation, dtype: float64

In [102]:
chi2_contingency(pd.crosstab(df["business_participation"], df["above2"]))

Chi2ContingencyResult(statistic=73.245695799274, pvalue=1.1447453828287854e-17, dof=1, expected_freq=array([[1643.14600975,  877.85399025],
       [ 896.85399025,  479.14600975]]))

In [110]:
chi2_contingency(pd.crosstab(group3['business_participation'], group3['above2']))

Chi2ContingencyResult(statistic=15.038129935014055, pvalue=0.00010536080419623893, dof=1, expected_freq=array([[420.23493976, 200.76506024],
       [253.76506024, 121.23493976]]))

In [111]:
chi2_contingency(pd.crosstab(group4['business_participation'], group4['above2']))

Chi2ContingencyResult(statistic=22.015721802770884, pvalue=2.7042624200725434e-06, dof=1, expected_freq=array([[602.64459665, 302.35540335],
       [272.35540335, 136.64459665]]))

In [107]:
chi2_contingency(pd.crosstab(female["business_participation"], female["above2"]))

Chi2ContingencyResult(statistic=11.989908707547935, pvalue=0.0005348941015171787, dof=1, expected_freq=array([[506.77570093, 216.22429907],
       [243.22429907, 103.77570093]]))

In [108]:
chi2_contingency(pd.crosstab(joint["business_participation"], joint["above2"]))

Chi2ContingencyResult(statistic=54.925291066053106, pvalue=1.251995169271115e-13, dof=1, expected_freq=array([[959.57060281, 569.42939719],
       [560.42939719, 332.57060281]]))

In [109]:
chi2_contingency(pd.crosstab(youth["business_participation"], youth["above2"]))

Chi2ContingencyResult(statistic=9.533009649026896, pvalue=0.002018089087435214, dof=1, expected_freq=array([[179.33333333,  89.66666667],
       [ 90.66666667,  45.33333333]]))

Perennial crops grown

In [175]:
# Creating a list of strings as requested
perenial_list = [
    "perennial_crops_grown_1", "perennial_crops_grown_2", "perennial_crops_grown_3",
    "perennial_crops_grown_4", "perennial_crops_grown_5", "perennial_crops_grown_6",
    "perennial_crops_grown_7", "perennial_crops_grown_8", "perennial_crops_grown_9",
    "perennial_crops_grown_10", "perennial_crops_grown_11", "perennial_crops_grown_12",
    "perennial_crops_grown_13", "perennial_crops_grown_14", "perennial_crops_grown_15",
    "perennial_crops_grown_16", "perennial_crops_grown_17", "perennial_crops_grown_18",
    "perennial_crops_grown_19", "perennial_crops_grown_20", "perennial_crops_grown_21",
    "perennial_crops_grown_22", "perennial_crops_grown_23", "perennial_crops_grown_24",
    "perennial_crops_grown_25", "perennial_crops_grown_26", "perennial_crops_grown_27",
    "perennial_crops_grown_28", "perennial_crops_grown_97", "other_perennial_crop_grown"
]

Which of the following perennial crops does your household own?
Select all that apply

1	Food Banana
2	Ripe Banana
3	Alcohol Banana
4	Coffee
5	Vanilla
6	Tea
7	Sugar cane
8	Jackfruit
9	Mangoes
10	Oranges
11	Passion Fruits
12	Tomato Fruits
13	Apple
14	Guava
15	Avocado
16	Eucalyptus
17	Pine
18	Mahogany
19	Cyprus
20	Oak
21	Musizi
22	Acacia
23	Hog Thorn
24	Neem
25	Caliandra
26	Graveria
27	Bamboo
28	Cocoa
97	Other,specify

Food Banana |       3326       29.37       89.58
Ripe Banana |        464        4.10       12.50
Alcohol Banana |        661        5.84       17.80
Coffee |       2359       20.83       63.53
Vanilla  perennial_crops_grown_5 |          3        0.03        0.08
Tea |        156        1.38        4.20
Sugar cane |        336        2.97        9.05
Jackfruit |        786        6.94       21.17
Mangoes |        525        4.64       14.14
Oranges |         56        0.49        1.51
Passion Fruits |        152        1.34        4.09
Tomato Fruits |         27        0.24        0.73
perennial~13 perennial_crops_grown_13 |          7        0.06        0.19
perennial~14 perennial_crops_grown_14 |        266        2.35        7.16
perennial~15 perennial_crops_grown_15 |       1556       13.74       41.91
perennial~16 perennial_crops_grown_16 |        489        4.32       13.17
perennial~17 perennial_crops_grown_17 |         44        0.39        1.19
perennial~18 perennial_crops_grown_18 |          4        0.04        0.11
perennial~19 perennial_crops_grown_19 |         22        0.19        0.59
perennial~20 perennial_crops_grown_20 |          1        0.01        0.03
perennial~21 perennial_crops_grown_21 |          0        0.00        0.00
perennial~22 perennial_crops_grown_22 |          1        0.01        0.03
perennial~23 perennial_crops_grown_23 |          0        0.00        0.00
perennial~24 perennial_crops_grown_24 |          3        0.03        0.08
perennial~25 perennial_crops_grown_25 |          6        0.05        0.16
perennial~26 perennial_crops_grown_26 |         15        0.13        0.40
perennial~27 perennial_crops_grown_27 |          1        0.01        0.03
perennial~28 perennial_crops_grown_28 |          0        0.00        0.00
perennial~97 perennial_crops_grown_97 |         59        0.52        1.59

In [182]:
df['perenial_list']

KeyError: 'perenial_list'

In [177]:
len(perenial_list)

30

In [119]:
per_df = (df[perenial_list] != 0).astype(int)
per_df

,perennial_crops_grown_1,perennial_crops_grown_2,perennial_crops_grown_3,perennial_crops_grown_4,perennial_crops_grown_5,perennial_crops_grown_6,perennial_crops_grown_7,perennial_crops_grown_8,perennial_crops_grown_9,perennial_crops_grown_10,...,perennial_crops_grown_21,perennial_crops_grown_22,perennial_crops_grown_23,perennial_crops_grown_24,perennial_crops_grown_25,perennial_crops_grown_26,perennial_crops_grown_27,perennial_crops_grown_28,perennial_crops_grown_97,other_perennial_crop_grown
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3892,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3893,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3894,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3896,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,1

In [187]:
df['food_banana_sold'].mean()

26.736636636636636

In [189]:
df.groupby('above2')['food_banana_yeild'].mean()

above2
above 2.15    113.116740
below 2.15     55.838679
Name: food_banana_yeild, dtype: float64

In [212]:
df.groupby(['Household_Head_Gender','above2'])['food_banana_yeild'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    105.168182
                       below 2.15     49.712551
Male Headed            above 2.15    120.982469
                       below 2.15     59.036262
Youth Headed           above 2.15     90.203320
                       below 2.15     47.718750
Name: food_banana_yeild, dtype: float64

In [202]:
f_oneway(above['food_banana_yeild'].dropna(), below['food_banana_yeild'].dropna())

F_onewayResult(statistic=209.57330911439638, pvalue=4.1651226485736396e-46)

In [249]:
pvalue('food_banana_yeild')

Female Headed:1.4041962365365018e-11
Male Headed:2.0760663622301267e-33
Youth Headed:8.809233994500135e-07

In [190]:
df.groupby('above2')['food_banana_sold'].mean()

above2
above 2.15    31.528194
below 2.15    16.475472
Name: food_banana_sold, dtype: float64

In [190]:
df.groupby('above2')['food_banana_sold'].mean()

above2
above 2.15    31.528194
below 2.15    16.475472
Name: food_banana_sold, dtype: float64

In [215]:
df.groupby(['Household_Head_Gender','above2'])['food_banana_sold'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    31.975758
                       below 2.15    15.056680
Male Headed            above 2.15    33.081081
                       below 2.15    17.117155
Youth Headed           above 2.15    21.481328
                       below 2.15    15.333333
Name: food_banana_sold, dtype: float64

In [203]:
f_oneway(above['food_banana_sold'].dropna(), below['food_banana_sold'].dropna())

F_onewayResult(statistic=49.449692829280856, pvalue=2.459149517127525e-12)

In [250]:
pvalue('food_banana_sold')

Female Headed:0.000174527673072616
Male Headed:3.93661022705777e-09
Youth Headed:0.21466759423953352

In [398]:
df['food_banana_price'] = (df['food_banana_price'] * 0.8066)/1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1199303882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['food_banana_price'] = (df['food_banana_price'] * 0.8066)/1270.608

In [399]:
df['food_banana_value'] = df[['food_banana_yeild','food_banana_price']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/565300336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['food_banana_value'] = df[['food_banana_yeild','food_banana_price']].product(axis=1)

In [531]:
df_ = df[df['food_banana_value'] != 0]

In [532]:
df_.groupby('above2')['food_banana_value'].mean()

above2
above 2.15    573.370634
below 2.15    209.810979
Name: food_banana_value, dtype: float64

In [533]:
df_.groupby('above2')['food_banana_value'].median()

above2
above 2.15    380.88852
below 2.15    126.96284
Name: food_banana_value, dtype: float64

In [401]:
df.groupby(['Household_Head_Gender','above2'])['food_banana_value'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    507.570184
                       below 2.15    185.901359
Male Headed            above 2.15    618.453690
                       below 2.15    222.223976
Youth Headed           above 2.15    472.618425
                       below 2.15    164.898562
Name: food_banana_value, dtype: float64

In [402]:
f_oneway(above['food_banana_sold'].dropna(), below['food_banana_value'].dropna())

F_onewayResult(statistic=738.5962240999401, pvalue=4.272296740214785e-148)

In [394]:
pvalue('food_banana_value')

Female Headed:5.892082176936991e-18
Male Headed:4.3266659438565873e-54
Youth Headed:8.162165875212351e-11

In [194]:
df['coffee_yield'] = df[['coffee_yeild_robusta','coffee_yeild_nasaland']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2659047873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_yield'] = df[['coffee_yeild_robusta','coffee_yeild_nasaland']].sum(axis=1)

In [196]:
df.groupby('above2')['coffee_yield'].mean()

above2
above 2.15    128.894488
below 2.15     66.185704
Name: coffee_yield, dtype: float64

In [213]:
df.groupby(['Household_Head_Gender','above2'])['coffee_yield'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    111.253333
                       below 2.15     51.993750
Male Headed            above 2.15    142.110526
                       below 2.15     71.296009
Youth Headed           above 2.15    103.496296
                       below 2.15     65.681481
Name: coffee_yield, dtype: float64

In [199]:
df['coffee_sold'] = df[["coffee_sold_fresh_nasaland","coffee_sold_dry_nasaland","coffee_sold_process_nasaland",
    "coffee_sold_fresh_robusta","coffee_sold_dry_robusta","coffee_sold_process_robusta"]].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/4178366304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_sold'] = df[["coffee_sold_fresh_nasaland","coffee_sold_dry_nasaland","coffee_sold_process_nasaland",

In [220]:
df["coffee_sold_fresh"] = df[["coffee_sold_fresh_nasaland","coffee_sold_fresh_robusta"]].sum(axis=1)
df["coffee_sold_dry"] = df[["coffee_sold_dry_nasaland","coffee_sold_dry_robusta"]].sum(axis=1)
df["coffee_sold_processed"] = df[["coffee_sold_process_nasaland","coffee_sold_process_robusta"]].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3937576490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["coffee_sold_fresh"] = df[["coffee_sold_fresh_nasaland","coffee_sold_fresh_robusta"]].sum(axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3937576490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["coffee_sold_dry"] = df[["coffee_sold_dry_nasaland","coffee_sold_dry_robusta"]].sum(axis=1)
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3937576490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["coffee_sold_processed"] = df[["coffee_sold_process_nasaland","coffee_sold_process_robusta"]].sum(axis=1)

In [205]:
df.groupby('above2')["coffee_sold"].mean()

above2
above 2.15    129.352756
below 2.15     62.587325
Name: coffee_sold, dtype: float64

In [251]:
pvalue('coffee_sold')

Female Headed:5.4286804418825326e-08
Male Headed:4.669981657488582e-25
Youth Headed:0.0069234348874391075

In [221]:
df.groupby('above2')["coffee_sold_fresh"].mean()

above2
above 2.15    82.146457
below 2.15    52.488578
Name: coffee_sold_fresh, dtype: float64

In [222]:
df.groupby(['Household_Head_Gender','above2'])["coffee_sold_fresh"].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    72.189333
                       below 2.15    39.775000
Male Headed            above 2.15    88.792763
                       below 2.15    56.947894
Youth Headed           above 2.15    72.388889
                       below 2.15    52.829630
Name: coffee_sold_fresh, dtype: float64

In [247]:
f_oneway(above['coffee_sold_fresh'].dropna(), below['coffee_sold_fresh'].dropna())

F_onewayResult(statistic=43.96808725879828, pvalue=3.796224404684608e-11)

In [248]:
pvalue('coffee_sold_fresh')

Female Headed:0.00018992905053891334
Male Headed:2.1681910577009e-08
Youth Headed:0.1509461839194047

In [223]:
df.groupby('above2')["coffee_sold_dry"].mean()

above2
above 2.15    31.322835
below 2.15     7.312454
Name: coffee_sold_dry, dtype: float64

In [229]:
f_oneway(above['coffee_sold_dry'].dropna(), below['coffee_sold_dry'].dropna())

F_onewayResult(statistic=52.84977441491726, pvalue=4.3295032391969604e-13)

In [224]:
df.groupby(['Household_Head_Gender','above2'])["coffee_sold_dry"].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    26.149333
                       below 2.15     5.146875
Male Headed            above 2.15    35.711842
                       below 2.15     8.467849
Youth Headed           above 2.15    20.985185
                       below 2.15     4.725926
Name: coffee_sold_dry, dtype: float64

In [240]:
def pvalue(variable):
    household_types = ['Female Headed', 'Male Headed', 'Youth Headed']
    for hh in household_types:
        print(f"{hh}:{perform_anova_for_gender_and_variable(hh,variable).pvalue}")

In [241]:
pvalue('coffee_sold_dry')

Female Headed:0.0019318503484913872
Male Headed:9.031408742902446e-11
Youth Headed:0.054435162440931176

In [243]:
df.groupby('above2')["coffee_sold_processed"].mean()

above2
above 2.15    15.883465
below 2.15     2.786293
Name: coffee_sold_processed, dtype: float64

In [244]:
df.groupby(['Household_Head_Gender','above2'])["coffee_sold_processed"].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    12.641333
                       below 2.15     3.837500
Male Headed            above 2.15    18.650000
                       below 2.15     2.431264
Youth Headed           above 2.15     9.314815
                       below 2.15     2.666667
Name: coffee_sold_processed, dtype: float64

In [245]:
f_oneway(above['coffee_sold_processed'].dropna(), below['coffee_sold_processed'].dropna())

F_onewayResult(statistic=71.10850301559697, pvalue=4.7012922258278865e-17)

In [246]:
pvalue('coffee_sold_processed')

Female Headed:0.002323841401743927
Male Headed:9.684987180109845e-15
Youth Headed:0.033414449485279864

In [242]:
df.groupby('above2')["coffee_sold_processed"].mean()

above2
above 2.15    15.883465
below 2.15     2.786293
Name: coffee_sold_processed, dtype: float64

In [222]:
df.groupby(['Household_Head_Gender','above2'])["coffee_sold_fresh"].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    72.189333
                       below 2.15    39.775000
Male Headed            above 2.15    88.792763
                       below 2.15    56.947894
Youth Headed           above 2.15    72.388889
                       below 2.15    52.829630
Name: coffee_sold_fresh, dtype: float64

In [214]:
df.groupby(['Household_Head_Gender','above2'])["coffee_sold"].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    110.980000
                       below 2.15     48.759375
Male Headed            above 2.15    143.154605
                       below 2.15     67.847007
Youth Headed           above 2.15    102.688889
                       below 2.15     60.222222
Name: coffee_sold, dtype: float64

In [210]:
f_oneway(above['coffee_sold'].dropna(), below['coffee_sold'].dropna())

F_onewayResult(statistic=137.48961717549736, pvalue=3.1374080606684217e-31)

In [ ]:
coffee_price_fresh_nasaland	coffee_price_dried_nasaland	coffee_price_process_nasaland
coffee_sold_fresh_robusta	coffee_sold_dry_robusta	coffee_sold_process_robusta

In [253]:
df[['coffee_price_fresh_nasaland','coffee_sold_fresh_robusta']]

      coffee_price_fresh_nasaland  coffee_sold_fresh_robusta
0                             NaN                        NaN
1                             NaN                        NaN
2                             NaN                       30.0
3                             NaN                       30.0
4                             NaN                        NaN
...                           ...                        ...
3892                          NaN                        NaN
3893                          NaN                        NaN
3894                          NaN                        NaN
3895                          NaN                        NaN
3896                          NaN                        0.0

[3897 rows x 2 columns]

In [256]:
df['coffee_price_fresh'] = df[['coffee_price_fresh_nasaland','coffee_sold_fresh_robusta']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3453938140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_price_fresh'] = df[['coffee_price_fresh_nasaland','coffee_sold_fresh_robusta']].mean(axis=1)

In [263]:
df.groupby('above2')['coffee_price_fresh'].mean()

above2
above 2.15    873.607317
below 2.15    913.465229
Name: coffee_price_fresh, dtype: float64

In [267]:
f_oneway(above['coffee_price_fresh'].dropna(), below['coffee_price_fresh'].dropna())

F_onewayResult(statistic=1.512656799541001, pvalue=0.21885687488649577)

In [261]:
df.groupby(['Household_Head_Gender','above2'])['coffee_price_fresh'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    906.056193
                       below 2.15    868.589172
Male Headed            above 2.15    864.679054
                       below 2.15    929.601434
Youth Headed           above 2.15    844.452381
                       below 2.15    902.263514
Name: coffee_price_fresh, dtype: float64

In [268]:
pvalue('coffee_price_fresh')

Female Headed:0.5753494028919024
Male Headed:0.10376565487212099
Youth Headed:0.5713940815229838

In [413]:
df['coffee_price_dry'] = (df['coffee_price_dry']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1109384115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_price_dry'] = (df['coffee_price_dry']*0.8066) / 1270.608

In [414]:
df['coffee_value_dry'] = df[['coffee_sold_dry','coffee_price_dry']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/744589117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_value_dry'] = df[['coffee_sold_dry','coffee_price_dry']].product(axis=1)

In [422]:
df_ = df[df['coffee_value_dry'] != 0]

In [423]:
df_.groupby('above2')['coffee_value_dry'].mean()

above2
above 2.15    364.857472
below 2.15    138.203796
Name: coffee_value_dry, dtype: float64

In [424]:
df_.groupby('above2')['coffee_value_dry'].median()

above2
above 2.15    129.152949
below 2.15     67.925119
Name: coffee_value_dry, dtype: float64

In [425]:
below = df_[df_['above2'] == 'above 2.15']
above = df_[df_['above2'] == 'below 2.15']

In [426]:
f_oneway(above['coffee_value_dry'].dropna(), below['coffee_value_dry'].dropna())

F_onewayResult(statistic=16.379397564991002, pvalue=6.133900992602114e-05)

In [427]:
df['coffee_price_fresh'] = (df['coffee_price_fresh']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3524914453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_price_fresh'] = (df['coffee_price_fresh']*0.8066) / 1270.608

In [428]:
df['coffee_value_fresh'] = df[['coffee_sold_fresh','coffee_price_fresh']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/130586935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_value_fresh'] = df[['coffee_sold_fresh','coffee_price_fresh']].product(axis=1)

In [429]:
df_ = df[df['coffee_value_fresh'] != 0]

In [430]:
df_.groupby('above2')['coffee_value_fresh'].mean()

above2
above 2.15    116.603348
below 2.15     71.788197
Name: coffee_value_fresh, dtype: float64

In [431]:
df_.groupby('above2')['coffee_value_fresh'].median()

above2
above 2.15    56.212797
below 2.15    35.232188
Name: coffee_value_fresh, dtype: float64

In [432]:
below = df_[df_['above2'] == 'above 2.15']
above = df_[df_['above2'] == 'below 2.15']

In [433]:
f_oneway(above['coffee_value_fresh'].dropna(), below['coffee_value_fresh'].dropna())

F_onewayResult(statistic=36.3510606415938, pvalue=1.9969768458020515e-09)

In [434]:
df['coffee_price_processed'] = (df['coffee_price_processed']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2343467621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_price_processed'] = (df['coffee_price_processed']*0.8066) / 1270.608

In [435]:
df['coffee_value_processed'] = df[['coffee_sold_processed','coffee_price_processed']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1941648826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_value_processed'] = df[['coffee_sold_processed','coffee_price_processed']].product(axis=1)

In [436]:
df_ = df[df['coffee_value_processed'] != 0]

In [437]:
df_.groupby('above2')['coffee_value_processed'].mean()

above2
above 2.15    440.576206
below 2.15    164.779084
Name: coffee_value_processed, dtype: float64

In [438]:
df_.groupby('above2')['coffee_value_processed'].median()

above2
above 2.15    215.836828
below 2.15    101.098129
Name: coffee_value_processed, dtype: float64

In [439]:
below = df_[df_['above2'] == 'above 2.15']
above = df_[df_['above2'] == 'below 2.15']

In [440]:
f_oneway(above['coffee_value_fresh'].dropna(), below['coffee_value_processed'].dropna())

F_onewayResult(statistic=28.20264190409435, pvalue=1.8562556020467663e-07)

In [ ]:
df['coffee_price_dry

Which of the following crops did your household plant during the last complete Season 1?
FO go through each type of crop with the interviewee and select all that were cropped

1	Beans
2	Ground Nuts
3	Soya
4	Peas
5	Maize
6	Millet
7	Sorghum
8	Barley
9	Rice
10	Irish Potatoes
11	Sweet Potatoes
12	Cassava
13	Yams
14	Garlic
15	Ginger
16	Tobbacco
97	Other,specify

In [293]:
df[['sn_1_beans_planted','sn_2_beans_planted']]

      sn_1_beans_planted  sn_2_beans_planted
0                    NaN                 6.0
1                   10.0                15.0
2                    3.0                 3.0
3                   35.0                10.0
4                    8.0                 9.0
...                  ...                 ...
3892                15.0                 7.0
3893                10.0                 NaN
3894                40.0               400.0
3895                20.0                30.0
3896                20.0                30.0

[3897 rows x 2 columns]

In [297]:
df['beans_planted'] = df[['sn_1_beans_planted','sn_2_beans_planted']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3646049930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_planted'] = df[['sn_1_beans_planted','sn_2_beans_planted']].sum(axis=1)

In [299]:
df['beans_yield'] = df[['sn_1_beans_Total_Yield','sn_2_beans_Total_Yield']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1778157539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_yield'] = df[['sn_1_beans_Total_Yield','sn_2_beans_Total_Yield']].sum(axis=1)

In [301]:
df['beans_yield_per_u'] = df['beans_yield'] / df['beans_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1435189620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_yield_per_u'] = df['beans_yield'] / df['beans_planted']

In [302]:
df.groupby('above2')['beans_yield_per_u'].mean()

above2
above 2.15    10.474305
below 2.15     6.873814
Name: beans_yield_per_u, dtype: float64

In [316]:
f_oneway(above['beans_yield_per_u'].dropna(),below['beans_yield_per_u'].dropna())

F_onewayResult(statistic=7.678807331666786, pvalue=0.005614017964793437)

In [317]:
df.groupby(['Household_Head_Gender','above2'])['beans_yield_per_u'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    14.284666
                       below 2.15     7.111766
Male Headed            above 2.15     8.667716
                       below 2.15     6.813320
Youth Headed           above 2.15    10.089382
                       below 2.15     6.713427
Name: beans_yield_per_u, dtype: float64

In [318]:
pvalue('beans_yield_per_u')

Female Headed:0.08527380908266222
Male Headed:0.03729461852494381
Youth Headed:0.3968219879600018

In [443]:
df['beans_yield_fresh'] = df[['sn_1_beans_Total_Yield_Fresh','sn_2_beans_Total_Yield_Fresh']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2616813586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_yield_fresh'] = df[['sn_1_beans_Total_Yield_Fresh','sn_2_beans_Total_Yield_Fresh']].sum(axis=1)

In [444]:
df['beans_yield_dry'] = df[['sn_1_beans_Total_Yield_dry','sn_2_beans_Total_Yield_dry']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3251361485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_yield_dry'] = df[['sn_1_beans_Total_Yield_dry','sn_2_beans_Total_Yield_dry']].sum(axis=1)

In [447]:
df['beans_price_fresh'] = df[['sn_1_beans_Market_Price_fresh','sn_2_beans_Market_Price_fresh']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1763011005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_price_fresh'] = df[['sn_1_beans_Market_Price_fresh','sn_2_beans_Market_Price_fresh']].mean(axis=1)

In [448]:
df['beans_price_dry'] = df[['sn_1_beans_Market_Price_dry','sn_2_beans_Market_Price_dry']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1676202018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_price_dry'] = df[['sn_1_beans_Market_Price_dry','sn_2_beans_Market_Price_dry']].mean(axis=1)

In [449]:
df['beans_price_dry'] = (df['beans_price_dry']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/897146517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_price_dry'] = (df['beans_price_dry']*0.8066) / 1270.608

In [450]:
df['beans_price_fresh'] = (df['beans_price_fresh']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2203152567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_price_fresh'] = (df['beans_price_fresh']*0.8066) / 1270.608

In [453]:
df['beans_dry_value'] = df[['beans_yield_dry','beans_price_dry']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/489576516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_dry_value'] = df[['beans_yield_dry','beans_price_dry']].product(axis=1)

In [455]:
df['beans_fresh_value'] = df[['beans_yield_fresh','beans_price_fresh']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1885115140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_fresh_value'] = df[['beans_yield_fresh','beans_price_fresh']].product(axis=1)

In [458]:
df['total_bean_value'] = df[['beans_dry_value','beans_fresh_value']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3236075683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_bean_value'] = df[['beans_dry_value','beans_fresh_value']].sum(axis=1)

In [455]:
df['beans_fresh_value'] = df[['beans_yield_fresh','beans_price_fresh']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1885115140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['beans_fresh_value'] = df[['beans_yield_fresh','beans_price_fresh']].product(axis=1)

In [525]:
df_ = df[df['total_bean_value'] != 0]

In [527]:
below_ = df_[df_['above2'] == 'above 2.15']
above_ = df_[df_['above2'] == 'below 2.15']

In [528]:
df_.groupby('above2')['total_bean_value'].mean()

above2
above 2.15    355.751924
below 2.15    250.624990
Name: total_bean_value, dtype: float64

In [529]:
df_.groupby('above2')['total_bean_value'].median()

above2
above 2.15    284.872872
below 2.15    214.249792
Name: total_bean_value, dtype: float64

In [530]:
f_oneway(above_['total_bean_value'].dropna(),below_['total_bean_value'].dropna())

F_onewayResult(statistic=166.9695831733368, pvalue=2.0023521983931575e-37)

## Maize

In [466]:
df['maize_yield_fresh'] = df[['sn_1_maize_Total_Yield_Fresh','sn_2_maize_Total_Yield_Fresh']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2339827010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_yield_fresh'] = df[['sn_1_maize_Total_Yield_Fresh','sn_2_maize_Total_Yield_Fresh']].sum(axis=1)

In [467]:
df['maize_yield_dry'] = df[['sn_1_maize_Total_Yield_dry','sn_2_maize_Total_Yield_dry']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/790865532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_yield_dry'] = df[['sn_1_maize_Total_Yield_dry','sn_2_maize_Total_Yield_dry']].sum(axis=1)

In [468]:
df['maize_price_fresh'] = df[['sn_1_maize_Market_Price_fresh','sn_2_maize_Market_Price_fresh']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2074214222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_price_fresh'] = df[['sn_1_maize_Market_Price_fresh','sn_2_maize_Market_Price_fresh']].mean(axis=1)

In [469]:
df['maize_price_dry'] = df[['sn_1_maize_Market_Price_dry','sn_2_maize_Market_Price_dry']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1222526888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_price_dry'] = df[['sn_1_maize_Market_Price_dry','sn_2_maize_Market_Price_dry']].mean(axis=1)

In [470]:
df['maize_price_dry'] = (df['maize_price_dry']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3490224141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_price_dry'] = (df['maize_price_dry']*0.8066) / 1270.608

In [471]:
df['maize_price_fresh'] = (df['maize_price_fresh']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/4062492533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_price_fresh'] = (df['maize_price_fresh']*0.8066) / 1270.608

In [472]:
df['maize_dry_value'] = df[['maize_yield_dry','maize_price_dry']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2411875017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_dry_value'] = df[['maize_yield_dry','maize_price_dry']].product(axis=1)

In [473]:
df['maize_fresh_value'] = df[['maize_yield_fresh','maize_price_fresh']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2084119589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_fresh_value'] = df[['maize_yield_fresh','maize_price_fresh']].product(axis=1)

In [474]:
df['total_maize_value'] = df[['maize_dry_value','maize_fresh_value']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2847411569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_maize_value'] = df[['maize_dry_value','maize_fresh_value']].sum(axis=1)

In [475]:
df['maize_fresh_value'] = df[['maize_yield_fresh','maize_price_fresh']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2084119589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_fresh_value'] = df[['maize_yield_fresh','maize_price_fresh']].product(axis=1)

In [521]:
below_ = df[df['above2'] == 'above 2.15']
above_ = df[df['above2'] == 'below 2.15']

In [520]:
df_ = df[df['total_maize_value'] != 0]

In [522]:
df_.groupby('above2')['total_maize_value'].mean()

above2
above 2.15    84.659657
below 2.15    51.266635
Name: total_maize_value, dtype: float64

In [523]:
df_.groupby('above2')['total_maize_value'].median()

above2
above 2.15    57.450685
below 2.15    36.184409
Name: total_maize_value, dtype: float64

In [524]:
f_oneway(above_['total_bean_value'].dropna(),below_['total_bean_value'].dropna())

F_onewayResult(statistic=173.3426139325533, pvalue=9.164485420461923e-39)

### Gnuts

In [486]:
df['gnuts_yield']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3892    0.0
3893    0.0
3894    0.0
3895    0.0
3896    0.0
Name: gnuts_yield, Length: 3897, dtype: float64

In [489]:
df['gnuts_price'] = df[['sn_1_gnuts_Market_Price','sn_2_gnuts_Market_Price']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1418844226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_price'] = df[['sn_1_gnuts_Market_Price','sn_2_gnuts_Market_Price']].mean(axis=1)

In [490]:
df['gnuts_price'] = (df['gnuts_price']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3296395724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_price'] = (df['gnuts_price']*0.8066) / 1270.608

In [491]:
df['gnuts_value'] = df[['gnuts_yield','gnuts_price']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2665226028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_value'] = df[['gnuts_yield','gnuts_price']].product(axis=1)

In [518]:
below_ = df[df['above2'] == 'above 2.15']
above_ = df[df['above2'] == 'below 2.15']

In [515]:
df_ = df[df['gnuts_value'] != 0]

In [516]:
df_.groupby('above2')['gnuts_value'].mean()

above2
above 2.15    186.599615
below 2.15    153.697373
Name: gnuts_value, dtype: float64

In [517]:
df_.groupby('above2')['gnuts_value'].median()

above2
above 2.15    148.546523
below 2.15    126.962840
Name: gnuts_value, dtype: float64

In [519]:
f_oneway(above_['gnuts_value'].dropna(),below_['gnuts_value'].dropna())

F_onewayResult(statistic=45.205095932133894, pvalue=2.0326669263344954e-11)

### irish

In [502]:
df['irish_yield']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
3892     0.0
3893     8.0
3894     0.0
3895    11.0
3896     7.0
Name: irish_yield, Length: 3897, dtype: float64

In [503]:
df['irish_price'] = df[['sn_1_irish_potatoes_Market_Price','sn_2_irish_potatoes_Market_Price']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3860861857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_price'] = df[['sn_1_irish_potatoes_Market_Price','sn_2_irish_potatoes_Market_Price']].mean(axis=1)

In [504]:
df['irish_price'] = (df['irish_price']*0.8066) / 1270.608

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/822916957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_price'] = (df['irish_price']*0.8066) / 1270.608

In [505]:
df['irish_value'] = df[['irish_yield','irish_price']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/353239147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_value'] = df[['irish_yield','irish_price']].product(axis=1)

In [506]:
below_ = df[df['above2'] == 'above 2.15']
above_ = df[df['above2'] == 'below 2.15']

In [507]:
df_ = df[df['irish_value'] != 0]

In [510]:
df_.groupby('above2')['irish_value'].mean()

above2
above 2.15    478.794860
below 2.15    245.520684
Name: irish_value, dtype: float64

In [511]:
df_.groupby('above2')['irish_value'].median()

above2
above 2.15    323.755242
below 2.15    190.444260
Name: irish_value, dtype: float64

In [512]:
f_oneway(above_['irish_value'].dropna(),below_['irish_value'].dropna())

F_onewayResult(statistic=41.721924580416484, pvalue=1.1818912361888562e-10)

In [ ]:
sn_1_gnuts_Market_Price

In [ ]:
sn_1_beans_Total_Yield_Fresh

In [ ]:
sn_1_beans_Market_Price_fresh

In [303]:
df['maize_planted'] = df[['sn_1_maize_planted','sn_2_maize_planted']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/369593718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_planted'] = df[['sn_1_maize_planted','sn_2_maize_planted']].sum(axis=1)

In [304]:
df['maize_yield'] = df[['sn_1_maize_Total_Yield','sn_2_maize_Total_Yield']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1466422790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_yield'] = df[['sn_1_maize_Total_Yield','sn_2_maize_Total_Yield']].sum(axis=1)

In [305]:
df['maize_yield_per_u'] = df['maize_yield'] / df['maize_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1142878643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maize_yield_per_u'] = df['maize_yield'] / df['maize_planted']

In [319]:
df.groupby('above2')['maize_yield_per_u'].mean()

above2
above 2.15    24.120403
below 2.15    20.728287
Name: maize_yield_per_u, dtype: float64

In [321]:
f_oneway(above['maize_yield_per_u'].dropna(),below['maize_yield_per_u'].dropna())

F_onewayResult(statistic=10.074581581320055, pvalue=0.001526410722166961)

In [322]:
df.groupby(['Household_Head_Gender','above2'])['maize_yield_per_u'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    21.340404
                       below 2.15    21.957276
Male Headed            above 2.15    25.610651
                       below 2.15    20.731894
Youth Headed           above 2.15    22.929398
                       below 2.15    17.325017
Name: maize_yield_per_u, dtype: float64

In [323]:
pvalue('maize_yield_per_u')

Female Headed:0.7506609722657799
Male Headed:0.0003395252452256863
Youth Headed:0.1275401813958019

In [306]:
df['irish_planted'] = df[['sn_1_irish_potatoes_planted','sn_2_irish_potatoes_planted']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/794040103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_planted'] = df[['sn_1_irish_potatoes_planted','sn_2_irish_potatoes_planted']].sum(axis=1)

In [307]:
df['irish_yield'] = df[['sn_1_irish_potatoes_Total_Yield','sn_2_irish_potatoes_Total_Yield']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1111601365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_yield'] = df[['sn_1_irish_potatoes_Total_Yield','sn_2_irish_potatoes_Total_Yield']].sum(axis=1)

In [308]:
df['irish_potatoes_yield_per_u'] = df['irish_yield'] / df['irish_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1275664288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['irish_potatoes_yield_per_u'] = df['irish_yield'] / df['irish_planted']

In [324]:
df.groupby('above2')['irish_potatoes_yield_per_u'].mean()

above2
above 2.15    4.431264
below 2.15    3.969952
Name: irish_potatoes_yield_per_u, dtype: float64

In [325]:
f_oneway(above['irish_potatoes_yield_per_u'].dropna(),below['irish_potatoes_yield_per_u'].dropna())

F_onewayResult(statistic=2.0296067412218206, pvalue=0.15469022613061337)

In [326]:
df.groupby(['Household_Head_Gender','above2'])['irish_potatoes_yield_per_u'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    4.437111
                       below 2.15    4.679322
Male Headed            above 2.15    4.550296
                       below 2.15    3.862262
Youth Headed           above 2.15    3.733345
                       below 2.15    3.291667
Name: irish_potatoes_yield_per_u, dtype: float64

In [327]:
pvalue('irish_potatoes_yield_per_u')

Female Headed:0.7207463256556379
Male Headed:0.10718703492754679
Youth Headed:0.41307396561598353

In [309]:
df['gnuts_planted'] = df[['sn_1_gnuts_planted','sn_2_gnuts_planted']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2259223592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_planted'] = df[['sn_1_gnuts_planted','sn_2_gnuts_planted']].sum(axis=1)

In [310]:
df['gnuts_yield'] = df[['sn_1_gnuts_Total_Yield','sn_2_gnuts_Total_Yield']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2716322990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_yield'] = df[['sn_1_gnuts_Total_Yield','sn_2_gnuts_Total_Yield']].sum(axis=1)

In [311]:
df['gnuts_yield_per_u'] = df['gnuts_yield'] / df['gnuts_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2685050400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gnuts_yield_per_u'] = df['gnuts_yield'] / df['gnuts_planted']

In [328]:
df.groupby('above2')['gnuts_yield_per_u'].mean()

above2
above 2.15    6.697399
below 2.15    7.134366
Name: gnuts_yield_per_u, dtype: float64

In [329]:
f_oneway(above['gnuts_yield_per_u'].dropna(),below['gnuts_yield_per_u'].dropna())

F_onewayResult(statistic=1.9989274814516762, pvalue=0.15761071872903593)

In [330]:
df.groupby(['Household_Head_Gender','above2'])['gnuts_yield_per_u'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    6.620673
                       below 2.15    7.543793
Male Headed            above 2.15    6.724041
                       below 2.15    6.969108
Youth Headed           above 2.15    6.764661
                       below 2.15    7.274457
Name: gnuts_yield_per_u, dtype: float64

In [331]:
pvalue('gnuts_yield_per_u')

Female Headed:0.1711863913793805
Male Headed:0.5112156670384093
Youth Headed:0.5833126777366724

In [270]:
df.groupby('above2')['coffee_price_dry'].mean()

above2
above 2.15    1963.076829
below 2.15    2080.990960
Name: coffee_price_dry, dtype: float64

In [271]:
f_oneway(above['coffee_price_dry'].dropna(), below['coffee_price_dry'].dropna())

F_onewayResult(statistic=2.340618627806415, pvalue=0.12617368165686924)

In [272]:
df.groupby(['Household_Head_Gender','above2'])['coffee_price_dry'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    2042.022936
                       below 2.15    2105.127389
Male Headed            above 2.15    1935.006757
                       below 2.15    2072.289959
Youth Headed           above 2.15    1931.291667
                       below 2.15    2087.162162
Name: coffee_price_dry, dtype: float64

In [273]:
pvalue('coffee_price_dry')

Female Headed:0.6918115081164214
Male Headed:0.1464935096929233
Youth Headed:0.5303912024840671

food Banana

In [333]:
df['food_banana_yeild']

0       70.0
1       80.0
2       20.0
3       20.0
4       55.0
        ...
3892     8.0
3893     NaN
3894    20.0
3895     NaN
3896    40.0
Name: food_banana_yeild, Length: 3897, dtype: float64

In [332]:
df['mature_food_banana_planted']

0        80.0
1       100.0
2        30.0
3        10.0
4        70.0
        ...
3892      8.0
3893      NaN
3894    170.0
3895      NaN
3896     15.0
Name: mature_food_banana_planted, Length: 3897, dtype: float64

In [357]:
import numpy as np

In [358]:
df['food_banana_yield_per_u'] = np.where(df['mature_food_banana_planted'] != 0, 
                                         df['food_banana_yeild'] / df['mature_food_banana_planted'], 
                                         0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/975940242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['food_banana_yield_per_u'] = np.where(df['mature_food_banana_planted'] != 0,

In [359]:
df['mature_food_banana_planted'].unique()

array([8.00e+01, 1.00e+02, 3.00e+01, 1.00e+01, 7.00e+01, 5.00e+01,
       7.50e+01, 1.50e+02, 2.00e+02, 3.00e+02, 1.60e+02, 1.10e+02,
       3.00e+00, 6.00e+00, 9.00e+01, 1.20e+02, 6.00e+01, 2.50e+01,
       1.40e+02, 1.50e+01, 0.00e+00, 4.00e+01, 2.00e+01, 3.50e+02,
            nan, 2.00e+00, 1.30e+02, 1.25e+02, 3.50e+01, 2.50e+02,
       8.80e+01, 2.60e+02, 4.00e+02, 4.00e+00, 1.80e+02, 5.00e+00,
       5.00e+02, 2.40e+02, 4.00e+03, 4.80e+02, 4.50e+02, 2.80e+02,
       3.10e+02, 2.25e+02, 1.70e+02, 8.50e+01, 3.40e+02, 6.00e+02,
       4.60e+01, 4.30e+02, 3.80e+01, 4.50e+01, 9.50e+01, 1.60e+01,
       7.00e+00, 6.50e+01, 1.00e+00, 8.00e+00, 2.10e+01, 1.00e+03,
       2.30e+02, 4.20e+02, 1.40e+01, 3.20e+02, 1.20e+01, 1.90e+02,
       1.30e+01, 1.50e+03, 7.00e+02, 9.00e+02, 8.00e+02, 8.90e+02,
       1.80e+01, 2.00e+04, 1.90e+01, 8.60e+01, 2.80e+01, 5.50e+02,
       6.00e+03, 9.00e+00, 2.20e+01, 3.60e+01, 4.20e+01])

In [346]:
df['food_banana_yield_per_u'] = df['food_banana_yeild'] / df['mature_food_banana_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/583469647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['food_banana_yield_per_u'] = df['food_banana_yeild'] / df['mature_food_banana_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/4263040704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['food_banana_yield_per_u'].dropna(inplace=True)

In [361]:
df.groupby('above2')['food_banana_yield_per_u'].mean()

above2
above 2.15    2.349872
below 2.15    2.117280
Name: food_banana_yield_per_u, dtype: float64

In [365]:
f_oneway(above['food_banana_yield_per_u'].dropna(), below['food_banana_yield_per_u'].dropna())

F_onewayResult(statistic=0.9702655944504842, pvalue=0.32468555446460645)



## coffeee per unt

In [369]:
df['coffee_planted'] = df[['mature_coffee_planted_nasaland','mature_coffee_planted_robusta']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/558901480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_planted'] = df[['mature_coffee_planted_nasaland','mature_coffee_planted_robusta']].sum(axis=1)

In [370]:
df['coffee_yield'] = df[['coffee_yeild_nasaland','coffee_yeild_robusta']].sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1878261104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_yield'] = df[['coffee_yeild_nasaland','coffee_yeild_robusta']].sum(axis=1)

In [371]:
df['coffee_yield_per_unit'] = df['coffee_yield'] / df['coffee_planted']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2377805685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_yield_per_unit'] = df['coffee_yield'] / df['coffee_planted']

In [373]:
df['coffee_yield_per_unit'] = np.where(df['coffee_planted'] != 0, 
                                         df['coffee_yield'] / df['coffee_planted'], 
                                         0)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/1801357950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_yield_per_unit'] = np.where(df['coffee_planted'] != 0,

In [374]:
df['coffee_yield_per_unit'].unique()

array([0.00000000e+00, 3.00000000e+00, 4.28571429e+00, 2.50000000e+00,
       2.20000000e+01, 8.00000000e-01, 1.20000000e+00, 3.33333333e+00,
       1.66666667e+00, 1.50000000e+00, 2.25000000e+00, 2.66666667e+00,
       1.40000000e+00, 1.00000000e+00, 2.40000000e+00, 2.33333333e+00,
       2.00000000e+00, 4.00000000e+00, 7.00000000e-01, 1.00000000e+01,
       7.24137931e-01, 7.00000000e+00, 1.14285714e+00, 2.00000000e-01,
       1.10000000e+00, 4.50000000e+00, 1.25000000e+00, 2.14285714e+00,
       1.90909091e+00, 2.30000000e+00, 5.00000000e+00, 1.12500000e+00,
       5.71428571e+00, 2.94117647e+00, 6.80000000e-01, 3.00000000e-01,
       2.75000000e+00, 1.87500000e+00, 6.66666667e-01, 2.61538462e+00,
       1.89873418e+00, 6.00000000e+00, 1.80000000e+00, 3.75000000e+00,
       6.66666667e+00, 2.60000000e+00, 6.25000000e+00, 4.28571429e-01,
       3.57142857e+00, 7.29927007e-01, 1.16666667e+00, 2.57142857e+00,
       2.80000000e+00, 1.42857143e+00, 3.33333333e-01, 2.87500000e+00,
       1.33333333e+00, 3.60000000e+00, 7.50000000e-01, 4.66666667e-01,
       6.00000000e-01, 2.13333333e+00, 4.00000000e-01, 2.80000000e-01,
       1.50000000e-01, 1.16000000e+00, 2.44444444e+00, 1.60000000e+00,
       2.77777778e+00, 2.28571429e+00, 4.80000000e-01, 4.33333333e+00,
       3.50000000e+00, 9.85185185e-01, 1.86956522e+00, 5.00000000e-01,
       1.62500000e+00, 2.22222222e+00, 2.10000000e+00, 2.00000000e+01,
       2.83333333e+00, 7.14285714e+00, 1.27272727e+00, 2.08000000e+00,
       8.00000000e+00, 1.20000000e-01, 3.20000000e+00, 2.37500000e+00,
       2.66666667e-01, 4.16666667e-01, 4.44444444e-01, 3.12500000e+00,
       1.90000000e+00, 3.16666667e+00, 2.15000000e+00, 1.57142857e+00,
       1.70000000e+00, 3.25000000e+00, 1.71428571e+00, 9.00000000e-01,
       3.57142857e-01, 5.18518519e+00, 2.20000000e+00, 2.62500000e+00,
       4.25000000e+00, 5.33333333e-01, 2.40000000e-01, 8.00000000e-02,
       5.55555556e-01, 2.71428571e+00, 1.25000000e-01, 1.60000000e-01,
       2.70000000e+00, 5.42857143e-01, 3.45454545e-01, 2.26666667e+00,
       5.75000000e-01, 1.20000000e+01, 7.75000000e-01, 2.42857143e+00,
       3.40000000e+00, 2.12500000e+00, 3.20000000e-01, 1.17647059e+00,
       1.38333333e-01, 3.14285714e+00, 1.53846154e+00, 9.56521739e-01,
       3.50000000e-01, 1.93675889e-01, 7.36842105e-01, 1.83333333e-01,
       8.57142857e-01, 8.33333333e-01, 9.35483871e-01, 6.15384615e+00,
       7.14285714e-01, 1.45454545e+00, 1.66666667e+01, 4.44444444e+00,
       7.33333333e-01, 1.13333333e+00, 1.33333333e+01, 9.20000000e-02,
       3.24324324e+00, 3.91304348e+00, 1.38461538e+01, 1.75000000e+00,
       2.64285714e+00, 3.33333333e+01, 8.75000000e-01, 4.71428571e+00,
       1.29411765e+00, 2.85714286e+00, 3.00000000e+01, 1.90476190e+00,
       5.42857143e+00, 5.55555556e+00, 6.29213483e+00, 1.41666667e+00,
       2.76923077e+00, 2.30769231e+00, 1.31250000e+00, 7.50000000e+00,
       5.83333333e-01, 1.52173913e+01, 2.50000000e-01, 1.11111111e+00,
       1.09090909e+00, 2.08333333e+00, 4.66666667e+00, 1.76923077e+00,
       4.16666667e+00, 6.36363636e+00, 5.71428571e-01, 6.25000000e-01,
       4.67500000e+00, 3.70370370e+00, 1.70967742e+00, 1.50000000e+01,
       4.61538462e+00, 2.22222222e+01, 4.25531915e+00, 1.63043478e+00,
       1.85714286e+00, 1.36363636e+00, 1.52173913e+00, 6.95652174e-01,
       1.00000000e-01, 6.40000000e-01, 1.66666667e-01, 4.45000000e+00,
       8.57142857e+00, 4.80000000e+00, 4.33333333e-01, 8.33333333e+00,
       2.08333333e-01, 2.38095238e+00, 4.92063492e-01, 2.14285714e+01,
       1.55555556e+00, 9.00000000e+00, 2.30769231e-01, 4.73684211e+00,
       4.53333333e-01, 1.46666667e+00, 1.84615385e+00, 1.13636364e+00,
       2.86666667e+00, 6.81666667e+00, 5.98958333e-01, 5.00000000e-03,
       2.33333333e-01, 5.33333333e+00, 7.64705882e+00, 8.50000000e-01,
       3.65384615e+00, 5.77777778e+00, 1.28571429e+00, 8.88888889e-01,
       3.80952381e+00, 3.30578512e-01, 1.54545455e-01, 4.14285714e+00,
       3.05921053e+00, 1.21951220e+00, 1.11538462e+00, 1.13333333e+01,
       2.60869565e+00, 3.11111111e+00, 8.88888889e+00, 6.84210526e+00,
       1.19333333e+00, 3.75000000e-01, 7.69230769e-01, 3.09090909e-01,
       3.07692308e-01, 3.62222222e+00, 1.05000000e+00, 4.85714286e+00,
       3.28571429e+00, 5.60000000e-01, 2.85714286e-01, 2.16216216e+00,
       6.66666667e-02, 1.05714286e+00, 4.03846154e+00, 2.34782609e+00,
       8.83720930e-01, 9.16666667e-01, 5.50000000e-01, 4.40000000e-01,
       1.25000000e+01, 1.80281690e+00, 4.34782609e+00, 1.14285714e+01,
       2.75000000e-01, 9.60000000e-01, 3.18750000e+00, 6.42857143e-01,
       7.55555556e-01, 7.77777778e+00, 4.42307692e+00, 1.22000000e+00,
       2.92307692e+00, 1.44000000e+00, 3.14285714e-01, 4.61538462e-01,
       2.10526316e+00, 5.21739130e-01, 1.83333333e+00, 3.86666667e+00,
       5.14285714e-01, 2.02500000e+00, 6.85714286e+00, 1.37500000e+00,
       1.13888889e+00, 2.16666667e+00, 1.77777778e+00, 1.23076923e+00,
       1.52000000e+00, 2.47619048e-01, 1.72000000e+01, 4.78260870e+00,
       5.60000000e+00, 1.31578947e+00, 5.45454545e+00, 1.05263158e+00,
       5.20000000e+00, 5.25714286e-01, 1.35922330e+00, 5.62500000e-01,
       2.33644860e+00, 4.00000000e-02, 8.82352941e-01, 1.81818182e+00,
       3.28358209e-01, 2.17500000e+00, 4.25000000e-01, 5.88235294e-01,
       1.73913043e+00, 8.80000000e-01, 6.92307692e+00, 1.12000000e+00,
       2.90909091e+00, 2.41666667e+00, 1.94444444e+00, 1.06666667e+01,
       4.50000000e-01, 4.60000000e+00, 7.82608696e-01, 1.64285714e+00,
       9.09090909e-01, 1.41843972e+00, 6.00000000e-02, 1.47368421e+00,
       7.33333333e-02, 1.30000000e+00, 1.82608696e+00, 1.57894737e+00,
       3.45454545e+00, 1.85000000e+00, 3.48837209e-01, 2.15384615e+00,
       2.95238095e+00, 8.69565217e-01, 3.07692308e-02, 1.76470588e+00,
       7.40000000e+00, 1.73333333e+00, 2.19047619e+00, 4.76190476e+00,
       2.58333333e+00, 1.33333333e-01, 1.55000000e+00, 5.40000000e+00,
       1.70212766e+00, 1.08888889e+00, 2.18181818e+00, 3.23076923e-01,
       3.06666667e-01, 2.20000000e-01, 5.23809524e+00, 2.87500000e-01,
       5.25000000e-01, 3.63636364e+00, 6.75000000e+00, 3.66666667e-01,
       2.08695652e-01, 2.47058824e-01, 5.76923077e+00, 6.50000000e-01,
       2.58333333e-01, 8.27272727e-01, 1.75000000e-01, 8.66666667e-01,
       8.33333333e-02])

In [380]:
df_copy = df[df['coffee_yield_per_unit'] != 0]

In [381]:
df_copy.groupby('above2')['coffee_yield_per_unit'].mean()

above2
above 2.15    2.536317
below 2.15    2.695950
Name: coffee_yield_per_unit, dtype: float64

In [385]:
df.groupby('above2')['coffee_yield_per_unit'].mean()

above2
above 2.15    1.536769
below 2.15    1.346982
Name: coffee_yield_per_unit, dtype: float64

In [382]:
above_copy = df_copy[df_copy['above2'] == 'above 2.15']
below_copy = df_copy[df_copy['above2'] == 'below 2.15']

In [384]:
f_oneway(above['coffee_yield_per_unit'].dropna(), below['coffee_yield_per_unit'].dropna())

F_onewayResult(statistic=5.375511705025344, pvalue=0.020472871588690354)

In [275]:
df.groupby('above2')['coffee_price_processed'].mean()

above2
above 2.15    4284.491159
below 2.15    4694.401947
Name: coffee_price_processed, dtype: float64

In [276]:
f_oneway(above['coffee_price_processed'].dropna(), below['coffee_price_processed'].dropna())

F_onewayResult(statistic=6.094214021505826, pvalue=0.013632986628837185)

In [277]:
df.groupby(['Household_Head_Gender','above2'])['coffee_price_processed'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    4415.790138
                       below 2.15    4799.872611
Male Headed            above 2.15    4245.348456
                       below 2.15    4670.471311
Youth Headed           above 2.15    4185.119048
                       below 2.15    4628.445946
Name: coffee_price_processed, dtype: float64

In [278]:
pvalue('coffee_price_processed')

Female Headed:0.26080994789090545
Male Headed:0.03776934015866465
Youth Headed:0.40063536812260625

In [283]:
df['coffee_mkt_value'] = df[['coffee_price_fresh','coffee_yield']].product(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2114905085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_mkt_value'] = df[['coffee_price_fresh','coffee_yield']].product(axis=1)

In [290]:
df.groupby('above2')['coffee_mkt_value'].mean()

above2
above 2.15    130816.882480
below 2.15     62932.672439
Name: coffee_mkt_value, dtype: float64

In [291]:
f_oneway(above['coffee_mkt_value'].dropna(), below['coffee_mkt_value'].dropna())

F_onewayResult(statistic=73.57357552621764, pvalue=1.3791782866439117e-17)

In [285]:
df.groupby(['Household_Head_Gender','above2'])['coffee_mkt_value'].mean()

Household_Head_Gender  above2
Female Headed          above 2.15    121396.873333
                       below 2.15     46900.657813
Male Headed            above 2.15    141454.541776
                       below 2.15     67931.611419
Youth Headed           above 2.15     97097.492593
                       below 2.15     67534.166667
Name: coffee_mkt_value, dtype: float64

In [292]:
pvalue('coffee_mkt_value')

Female Headed:2.1182318748754674e-05
Male Headed:3.0579241514334507e-14
Youth Headed:0.15283248050478046

In [257]:
df['coffee_price_dry'] = df[['coffee_price_dried_nasaland','coffee_sold_dry_robusta']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/3806066688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_price_dry'] = df[['coffee_price_dried_nasaland','coffee_sold_dry_robusta']].mean(axis=1)

In [258]:
df['coffee_price_processed'] = df[['coffee_price_process_nasaland','coffee_sold_process_robusta']].mean(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/2858950365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coffee_price_processed'] = df[['coffee_price_process_nasaland','coffee_sold_process_robusta']].mean(axis=1)

In [179]:
df['perennial_crops_grown']

0                             1
1                        1 3 15
2                           1 4
3                      1 2 4 16
4                             1
                 ...
3892                       1 16
3893                         15
3894                    1 15 16
3895                         16
3896    1 2 4 10 15 16 17 25 26
Name: perennial_crops_grown, Length: 3897, dtype: object

In [120]:
df['perenial Count'] = per_df.sum(axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_20832/944613766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['perenial Count'] = per_df.sum(axis=1)

In [172]:
df[df['perenial Count'] == 30]

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,text_audit,district,Surveyor_Name,...,seasonal adjusted,formal adjusted,business adjusted,perenial adjusted,casual adjusted,business_participation,perenial Count,rem adjusted,assets adjusted,live adjusted
96,2023-08-04 19:04:48.000,2023-08-04 15:15:41.000,2023-08-04 15:59:59.000,2308030036,2608,13.0,13.0,https://rtvuganda.surveycto.com/view/submissio...,2,29,...,124.613451,0.000000,0.000000,0.0,0.000000,0,30,0.000000,634.062557,5.497652
129,2023-08-03 20:40:01.000,2023-08-03 17:54:39.000,2023-08-03 19:06:54.000,2308030036,3905,2.0,2.0,https://rtvuganda.surveycto.com/view/submissio...,2,29,...,187.510933,0.000000,0.000000,0.0,115.169863,0,30,0.000000,387.498601,0.000000
266,2023-08-04 22:06:06.000,2023-08-04 12:41:58.000,2023-08-04 18:31:49.000,2308030036,3524,27.0,27.0,https://rtvuganda.surveycto.com/view/submissio...,2,27,...,270.019342,0.000000,436.685730,0.0,0.000000,1,30,11.516986,23.033973,0.000000
290,2023-08-04 19:04:53.000,2023-08-04 09:45:53.000,2023-08-04 11:15:39.000,2308030036,3525,65.0,65.0,https://rtvuganda.surveycto.com/view/submissio...,2,29,...,181.413268,388.742717,93.298252,0.0,0.000000,1,30,0.000000,72.565307,0.000000
304,2023-08-05 20:25:03.000,2023-08-05 15:00:04.000,2023-08-05 15:52:29.000,2308030036,3145,3.0,3.0,https://rtvuganda.surveycto.com/view/submissio...,2,29,...,151.175440,0.000000,0.000000,0.0,190.779147,0,30,5.677951,354.871926,85.169262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3790,2023-08-12 12:09:50.976,2023-08-12 10:23:21.005,2023-08-12 12:09:41.990,2308112000,6253,9.0,9.0,https://rtvuganda.surveycto.com/view/submissio...,7,112,...,811.176470,0.000000,0.000000,0.0,0.000000,0,30,31.099417,305.810938,25.916181
3817,2023-08-10 20:58:36.970,2023-08-10 09:43:55.027,2023-08-10 10:30:55.037,2308100803,2722,3.0,3.0,https://rtvuganda.surveycto.com/view/submissio...,7,121,...,421.587848,0.000000,56.779508,0.0,141.948770,1,30,36.906680,630.252540,457.075040
3821,2023-08-07 18:10:44.976,2023-08-07 07:44:51.994,2023-08-07 10:49:37.027,2308070650,5130,6.0,6.0,https://rtvuganda.surveycto.com/view/submissio...,7,121,...,835.701317,0.000000,0.000000,0.0,0.000000,0,30,0.000000,544.417539,0.000000
3839,2023-08-12 20:30:56.966,2023-08-12 06:41:25.987,2023-08-12 09:44:06.000,2308112000,3521,9.0,9.0,https://rtvuganda.surveycto.com/view/submissio...,7,110,...,208.664692,1226.437375,0.000000,0.0,0.000000,0,30,36.906680,339.257561,99.364139
3875,2023-08-07 18:10:51.974,2023-08-07 13:41:29.040,2023-08-07 14:37:35.011,2308070650,3276,3.0,3.0,https://rtvuganda.surveycto.com/view/submissio...,7,121,...,609.811917,0.000000,141.948770,0.0,0.000000,1,30,17.033852,1022.315043,445.719139

In [157]:
df.groupby('above2')['perenial Count'].mean()

above2
above 2.15    4.919685
below 2.15    5.941046
Name: perenial Count, dtype: float64

In [288]:
df.groupby(['above2','Quartile'])['perenial Count'].mean()

above2      Quartile
above 2.15  Group 1     4.518310
            Group 2     4.675806
            Group 3     5.262611
            Group 4     5.003429
below 2.15  Group 1     3.941799
            Group 2     6.590452
            Group 3     7.708075
            Group 4     4.970387
Name: perenial Count, dtype: float64

In [158]:
df.groupby(['above2', 'Household_Head_Gender'])['perenial Count'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            4.810667
            Male Headed              5.000000
            Youth Headed             4.770370
below 2.15  Female Headed            5.981250
            Male Headed              5.606430
            Youth Headed             8.081481
Name: perenial Count, dtype: float64

In [125]:
f_oneway(above['perenial Count'].dropna(), below['perenial Count'].dropna())

F_onewayResult(statistic=27.981642474760797, pvalue=1.2920828820997691e-07)

In [126]:
perform_anova_for_gender_and_variable('Female Headed','perenial Count')

F_onewayResult(statistic=9.511430053842638, pvalue=0.00209441153205132)

In [127]:
perform_anova_for_gender_and_variable('Male Headed','perenial Count')

F_onewayResult(statistic=6.834135919580719, pvalue=0.008998650636646371)

In [128]:
perform_anova_for_gender_and_variable('Youth Headed','perenial Count')

F_onewayResult(statistic=20.434085422533435, pvalue=8.12472716018591e-06)

In [132]:
f_oneway(group3_below['perenial Count'].dropna(), group3_above['perenial Count'].dropna())

F_onewayResult(statistic=25.264435633392974, pvalue=5.925974486517219e-07)

In [133]:
f_oneway(group4_below['perenial Count'].dropna(), group4_above['perenial Count'].dropna())

F_onewayResult(statistic=0.014125213129116621, pvalue=0.9054127535654152)

In [176]:
below['Land_size_for_Crop_Agriculture_Acres']

5       1.0
10      1.5
13      2.0
16      0.5
20      1.0
       ...
3892    1.0
3893    1.5
3894    7.0
3895    3.0
3896    2.0
Name: Land_size_for_Crop_Agriculture_Acres, Length: 2540, dtype: float64

Which of the following perennial crops does your household own?
Select all that apply

1	Food Banana
2	Ripe Banana
3	Alcohol Banana
4	Coffee
5	Vanilla
6	Tea
7	Sugar cane
8	Jackfruit
9	Mangoes
10	Oranges
11	Passion Fruits
12	Tomato Fruits
13	Apple
14	Guava
15	Avocado
16	Eucalyptus
17	Pine
18	Mahogany
19	Cyprus
20	Oak
21	Musizi
22	Acacia
23	Hog Thorn
24	Neem
25	Caliandra
26	Graveria
27	Bamboo
28	Cocoa
97	Other,specify

In [162]:
df['perennial_crops_grown_4'].mean()

0.6353353083759763

coffee COUNTS

In [164]:
df.groupby('above2')['perennial_crops_grown_4'].mean()

above2
above 2.15    0.662359
below 2.15    0.581245
Name: perennial_crops_grown_4, dtype: float64

In [165]:
df.groupby(['above2','Household_Head_Gender'])['perennial_crops_grown_4'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.597260
            Male Headed              0.698113
            Youth Headed             0.641221
below 2.15  Female Headed            0.539519
            Male Headed              0.585132
            Youth Headed             0.660714
Name: perennial_crops_grown_4, dtype: float64

Banana COUNTS

In [163]:
df['perennial_crops_grown_1'].mean()

0.8957716132507406

In [166]:
df.groupby('above2')['perennial_crops_grown_1'].mean()

above2
above 2.15    0.913974
below 2.15    0.859337
Name: perennial_crops_grown_1, dtype: float64

In [168]:
df.groupby(['above2','Quartile'])['perennial_crops_grown_1'].mean()

above2      Quartile
above 2.15  Group 1     0.971831
            Group 2     0.900662
            Group 3     0.894574
            Group 4     0.912383
below 2.15  Group 1     0.973404
            Group 2     0.854701
            Group 3     0.856089
            Group 4     0.811005
Name: perennial_crops_grown_1, dtype: float64

In [169]:
df.groupby(['above2','Quartile'])['perennial_crops_grown_4'].mean()

above2      Quartile
above 2.15  Group 1     0.797183
            Group 2     0.508278
            Group 3     0.586047
            Group 4     0.769860
below 2.15  Group 1     0.675532
            Group 2     0.484330
            Group 3     0.450185
            Group 4     0.703349
Name: perennial_crops_grown_4, dtype: float64

In [167]:
df.groupby(['above2','Household_Head_Gender'])['perennial_crops_grown_1'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            0.902740
            Male Headed              0.918464
            Youth Headed             0.919847
below 2.15  Female Headed            0.848797
            Male Headed              0.863309
            Youth Headed             0.857143
Name: perennial_crops_grown_1, dtype: float64

In [161]:
df.groupby('above2')['Land_size_for_Crop_Agriculture_Acres'].mean()

above2
above 2.15    1.661611
below 2.15    1.437143
Name: Land_size_for_Crop_Agriculture_Acres, dtype: float64

In [163]:
df.groupby(['above2','Household_Head_Gender'])['Land_size_for_Crop_Agriculture_Acres'].mean()

above2      Household_Head_Gender
above 2.15  Female Headed            1.474289
            Male Headed              1.855809
            Youth Headed             1.075954
below 2.15  Female Headed            1.288916
            Male Headed              1.556173
            Youth Headed             0.980682
Name: Land_size_for_Crop_Agriculture_Acres, dtype: float64

In [164]:
below = df[df['above2'] == 'above 2.15']
above = df[df['above2'] == 'below 2.15']

In [166]:
df['Land_size_for_Crop_Agriculture_Acres']

0       0.25
1       1.00
2        NaN
3       1.00
4       1.00
        ...
3892    1.00
3893    1.50
3894    7.00
3895    3.00
3896    2.00
Name: Land_size_for_Crop_Agriculture_Acres, Length: 3897, dtype: float64

In [177]:
f_oneway(above['Land_size_for_Crop_Agriculture_Acres'].dropna(), below['Land_size_for_Crop_Agriculture_Acres'].dropna())

F_onewayResult(statistic=11.869979941821425, pvalue=0.0005765862942619117)

In [112]:
f_oneway(group3['Land_size_for_Crop_Agriculture_Acres'].dropna(), group3['Land_size_for_Crop_Agriculture_Acres'].dropna())

F_onewayResult(statistic=-8.889081273280369e-31, pvalue=nan)

In [113]:
f_oneway(group4['Land_size_for_Crop_Agriculture_Acres'].dropna(), group4['Land_size_for_Crop_Agriculture_Acres'].dropna())

F_onewayResult(statistic=1.1622584286195135e-30, pvalue=1.0)

In [176]:
below['Land_size_for_Crop_Agriculture_Acres']

5       1.0
10      1.5
13      2.0
16      0.5
20      1.0
       ...
3892    1.0
3893    1.5
3894    7.0
3895    3.0
3896    2.0
Name: Land_size_for_Crop_Agriculture_Acres, Length: 2540, dtype: float64

In [362]:
df.to_excel("Year2_transformed.xlsx", index=False)

In [114]:
group3.to_excel("group3_transformed.xlsx", index=False)
group4.to_excel("group4_transformed.xlsx", index=False)

## Year one

In [29]:
df_y1 = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021CohortYr1',header=5)

In [30]:
df_y1.iloc[:3918,:]

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,district,Surveyor_Name,Surveyor_Name2,...,WASH (%),AGRIC (%),Status,Unnamed: 4650,hh_size.1,hh_size_adjusted.1,HH Income/Day (USD_adult_equiv_adj),Consumption/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj),HH Income + Consumption + Assets + Residues / Day (USD_adult_equiv_adj)
0,"Aug 18, 2022 10:47:35 PM","Aug 18, 2022 2:40:30 PM","Aug 18, 2022 9:57:10 PM",2.208122e+09,4054.0,3.0,3.0,2.0,27.0,Godwin Rukundo,...,0.535714,0.333333,RTV,NaN,7.0,2.645751,0.286840,0.441187,0.728027,0.728027
1,"Aug 20, 2022 7:05:30 PM","Aug 20, 2022 8:58:31 AM","Aug 20, 2022 6:22:37 PM",2.208122e+09,2852.0,2.0,2.0,2.0,32.0,Jallah Kembabazi,...,0.857143,0.638889,RTV,NaN,2.0,1.414214,1.106988,0.336032,1.443020,1.443020
2,"Aug 22, 2022 7:49:27 PM","Aug 22, 2022 10:55:03 AM","Aug 22, 2022 5:30:42 PM",2.208122e+09,1468.0,3.0,3.0,2.0,14.0,Agatha Babirye,...,0.500000,0.305556,RTV,NaN,3.0,1.732051,0.224294,0.970201,1.194495,1.194495
3,"Aug 19, 2022 7:26:56 PM","Aug 19, 2022 10:40:08 AM","Aug 19, 2022 3:13:17 PM",2.208122e+09,2821.0,20.0,20.0,2.0,22.0,Dickens Ainebyona,...,0.464286,0.555556,RTV,NaN,3.0,1.732051,0.787011,0.274369,1.061379,1.207431
4,"Aug 22, 2022 5:39:13 PM","Aug 22, 2022 2:53:16 PM","Aug 22, 2022 4:16:27 PM",2.208122e+09,3735.0,27.0,27.0,2.0,27.0,Godwin Rukundo,...,0.607143,0.500000,RTV,NaN,5.0,2.236068,0.175063,0.095192,0.270254,0.965204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3913,"Aug 5, 2022 6:10:02 PM","Aug 5, 2022 12:05:07 PM","Aug 5, 2022 1:19:00 PM",2.208042e+09,4375.0,24.0,24.0,7.0,116.0,Akatukunda Nosi,...,0.500000,0.500000,RTV,NaN,5.0,2.236068,6.145451,0.268283,6.413734,6.893734
3914,"Aug 12, 2022 8:45:26 AM","Aug 11, 2022 12:00:08 PM","Aug 11, 2022 10:09:35 PM",2.208100e+09,6878.0,2.0,2.0,7.0,117.0,Manzi Patrick,...,0.428571,0.833333,RTV,NaN,2.0,1.414214,3.094559,0.587736,3.682295,11.028997
3915,"Aug 6, 2022 8:52:26 PM","Aug 6, 2022 12:02:31 PM","Aug 6, 2022 8:28:39 PM",2.208052e+09,4968.0,3.0,3.0,7.0,127.0,Akandwanaho Charles,...,0.785714,0.472222,RTV,NaN,9.0,3.000000,2.106571,0.808598,2.915169,5.225018
3916,"Aug 6, 2022 8:52:29 PM","Aug 6, 2022 1:24:45 PM","Aug 6, 2022 8:51:27 PM",2.208052e+09,4548.0,3.0,3.0,7.0,127.0,Akandwanaho Charles,...,0.785714,0.472222,RTV,NaN,8.0,2.828427,2.107545,1.116379,3.223924,5.549315
3917,"Aug 4, 2022 6:58:05 PM","Aug 4, 2022 2:54:25 PM","Aug 4, 2022 4:17:44 PM",2.208012e+09,4942.0,6.0,6.0,7.0,105.0,Mugabe Dickson,...,0.392857,0.416667,RTV,NaN,7.0,2.645751,3.181535,0.182690,3.364224,6.027739

In [31]:
df_y1['Gender'] = df_y1['hhh_sex'].replace(sex_mapping)
df_y1['Gender'].value_counts()

Gender
Male      2719
Female    1199
Name: count, dtype: int64

In [32]:
df_y1['Household_Head_Gender'] = df_y1['Gender']

In [33]:
df_y1['Household_Head_Gender'] = df_y1.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [34]:
df_y1['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      2367
Female Headed    1153
Youth Headed      398
nan Headed          2
Name: count, dtype: int64

In [35]:
df_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,1.340591,2.281453
Male Headed,1.495538,2.403108
Youth Headed,1.721100,2.588078
nan Headed,NaN,NaN

In [36]:
df_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.980256,1.897269
Male Headed,1.153268,2.015757
Youth Headed,1.311826,2.199827
nan Headed,NaN,NaN

In [37]:
df_y1['HH Income/Day (USD_adult_equiv_adj)'].mean(), df_y1['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.4728526520828218, 1.128702795652476)

In [38]:
df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(2.386096820884156, 2.0036418895636734)

In [39]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [40]:
df_y1['income_group'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [41]:
df_y1['income_group'].value_counts(normalize=True)

income_group
3+/Day            0.262124
1.25-<2/Day       0.258806
2-<3/Day          0.238897
0.75-<1.25/Day    0.149566
0-<0.75/Day       0.090607
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [42]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [43]:
df_y1['income_group_1'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [44]:
df_y1['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.548239
2.15+/Day      0.451761
Name: proportion, dtype: float64

In [45]:
df_y1['income_group_2'] = pd.cut(df_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [46]:
df_y1['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.308065
3+/Day            0.262124
2.5-<3/Day        0.189638
0.75-<1.25/Day    0.149566
0-<0.75/Day       0.090607
Name: proportion, dtype: float64

## Baseline

In [47]:
import numpy as np

In [48]:
base = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021CohortBaseline',header=5)
rub_base = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='Rubanda2021Cohort_Base',header=5)

In [5]:
base.shape

(1419, 6736)

In [6]:
rub_base.shape

(319, 6715)

Income

In [7]:
not_rub = np.array(base['HH Income/Day (USD_adult_equiv_adj)'])

In [8]:
rub = np.array(rub_base['HH Income/Day (USD_adult_equiv_adj)'])

In [9]:
base_income = np.concatenate([rub, not_rub])
base_income.mean()

0.6349192540696366

In [27]:
base_cohort['HH Income/Day (USD_adult_equiv_adj)'].mean(), base_cohort['HH Income/Day (USD_adult_equiv_adj)'].median()

(0.6349192540696368, 0.36896133476836035)

Income and production

In [11]:
not_rub_ = np.array(base['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [12]:
rub_ = np.array(rub_base['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [13]:
base_income_production = np.concatenate([rub_, not_rub_])
base_income_production.mean()

1.1698599562155263

In [14]:
base.shape, rub_base.shape

((1419, 6736), (319, 6715))

In [15]:
base_cohort = pd.concat([base[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']],
               rub_base[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]])

In [68]:
base_cohort.shape

(1738, 6)

In [17]:
base_cohort['Gender'] = base_cohort['hhh_sex'].replace(sex_mapping)
base_cohort['Gender'].value_counts()

NameError: name 'sex_mapping' is not defined

In [22]:
base_cohort['Household_Head_Gender'] = base_cohort['Gender']

In [23]:
base_cohort['Household_Head_Gender'] = base_cohort.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [24]:
base_cohort['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1034
Female Headed     396
Youth Headed      308
Name: count, dtype: int64

In [105]:
base_cohort.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.529179,1.159329
Male Headed,0.644360,1.152417
Youth Headed,0.739178,1.241958

In [106]:
base_cohort.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.368777,0.863817
Male Headed,0.337692,0.782185
Youth Headed,0.448730,0.863416

In [59]:
base_cohort.to_excel("base_cohort.xlsx")

In [74]:
## with median

In [104]:
base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.1698599562155263, 0.8124417601652123)

In [102]:
base_cohort['income_group'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [103]:
base_cohort['income_group'].value_counts(normalize=True)

income_group
0-<0.75/Day       0.450518
0.75-<1.25/Day    0.265247
1.25-<2/Day       0.157652
2-<3/Day          0.070771
3+/Day            0.055811
Name: proportion, dtype: float64

In [18]:
base_cohort['income_group_1'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [19]:
base_cohort['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.886076
3+/Day         0.113924
Name: proportion, dtype: float64

In [56]:
base_cohort['income_group_2'] = pd.cut(base_cohort['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [58]:
base_cohort['income_group_2'].value_counts(normalize=True)

income_group_2
0-<0.75/Day       0.450518
0.75-<1.25/Day    0.265247
1.25-<2.15/Day    0.170311
2.5-<3/Day        0.058113
3+/Day            0.055811
Name: proportion, dtype: float64

## Peer

# Year 2

In [30]:
peer_grad = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlYr2',header=5)

In [32]:
df1['Status'].value_counts()

Status
RTV     3897
PEER    1899
Name: count, dtype: int64

In [33]:
peer_grad = df1[df1['Status'] == "PEER"]

In [34]:
peer_grad.shape

(1899, 5670)

In [63]:
peer_grad['Gender'] = peer_grad['hhh_sex'].replace(sex_mapping)
peer_grad['Gender'].value_counts()

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_3524/439533858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['Gender'] = peer_grad['hhh_sex'].replace(sex_mapping)

Gender
Male      1357
Female     542
Name: count, dtype: int64

In [65]:
peer_grad['Household_Head_Gender'] = peer_grad['Gender']

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_3524/1685898727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['Household_Head_Gender'] = peer_grad['Gender']

In [66]:
peer_grad['Household_Head_Gender'] = peer_grad.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_3524/2411608141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['Household_Head_Gender'] = peer_grad.apply(lambda row: 'Youth Headed' if row['hhh_age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [67]:
peer_grad['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1152
Female Headed     512
Youth Headed      235
Name: count, dtype: int64

In [71]:
peer_grad.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.904958,1.767008
Male Headed,1.045394,1.799758
Youth Headed,1.349831,2.059824

In [72]:
peer_grad.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.687371,1.531812
Male Headed,0.794294,1.598325
Youth Headed,1.110576,1.806055

In [69]:
peer_grad['HH Income/Day (USD_adult_equiv_adj)'].mean(), peer_grad['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.045204170284326, 0.7948221617212186)

In [70]:
peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.8231110959752512, 1.6087757102672366)

In [21]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [35]:
peer_grad['income_group'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_71511/3354475881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['income_group'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [36]:
peer_grad['income_group'].value_counts(normalize=True)

income_group
1.25-<2/Day       0.272249
2-<3/Day          0.226962
0.75-<1.25/Day    0.211164
0-<0.75/Day       0.152712
3+/Day            0.136914
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [25]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [37]:
peer_grad['income_group_1'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_71511/3264097000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['income_group_1'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [38]:
peer_grad['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.681411
2.15+/Day      0.318589
Name: proportion, dtype: float64

In [59]:
peer_grad['income_group_2'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_71511/1083476796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peer_grad['income_group_2'] = pd.cut(peer_grad['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [60]:
peer_grad['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.317536
0.75-<1.25/Day    0.211164
2.5-<3/Day        0.181675
0-<0.75/Day       0.152712
3+/Day            0.136914
Name: proportion, dtype: float64

# Year one

In [39]:
peer_grad_y1 = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlYr1',header=5)

In [122]:
peer_grad_y1['Gender'] = peer_grad_y1['hhh_sex'].replace(sex_mapping)
peer_grad_y1['Gender'].value_counts()

Gender
Male      1369
Female     524
Name: count, dtype: int64

In [123]:
peer_grad_y1['Household_Head_Gender'] = peer_grad_y1['Gender']

In [124]:
peer_grad_y1['Household_Head_Gender'] = peer_grad_y1.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [125]:
peer_grad_y1['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1200
Female Headed     496
Youth Headed      197
Name: count, dtype: int64

In [126]:
peer_grad_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.886557,1.587980
Male Headed,1.116796,1.802425
Youth Headed,1.235355,1.970656

In [127]:
peer_grad_y1.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.598974,1.228293
Male Headed,0.727223,1.340883
Youth Headed,0.884135,1.563892

In [82]:
peer_grad_y1['HH Income/Day (USD_adult_equiv_adj)'].mean(), peer_grad_y1['HH Income/Day (USD_adult_equiv_adj)'].median()

(1.0688074882256249, 0.7041784240993112)

In [76]:
peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.7637438616537733, 1.3416400889471705)

In [21]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [40]:
peer_grad_y1['income_group'] = pd.cut(peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [41]:
peer_grad_y1['income_group'].value_counts(normalize=True)

income_group
1.25-<2/Day       0.266772
0.75-<1.25/Day    0.250924
0-<0.75/Day       0.208663
2-<3/Day          0.151083
3+/Day            0.122557
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [25]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [42]:
peer_grad_y1['income_group_1'] = pd.cut(peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [43]:
peer_grad_y1['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.755415
2.15+/Day      0.244585
Name: proportion, dtype: float64

In [61]:
peer_grad_y1['income_group_2'] = pd.cut(peer_grad_y1['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [62]:
peer_grad_y1['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.295827
0.75-<1.25/Day    0.250924
0-<0.75/Day       0.208663
3+/Day            0.122557
2.5-<3/Day        0.122029
Name: proportion, dtype: float64

# Baseline

In [44]:
base_peer = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='All2021ControlBaseline',header=5)
rub_base_peer = pd.read_excel('ALL2021cohorts.xlsx', sheet_name='Rubanda2021Control_Base',header=5)

In [74]:
base_peer.shape

(1241, 4280)

In [75]:
rub_base_peer.shape

(710, 4493)

## Income

In [82]:
not_rub_peer = np.array(base_peer['HH Income/Day (USD_adult_equiv_adj)'])

In [83]:
rub_peer = np.array(rub_base_peer['HH Income/Day (USD_adult_equiv_adj)'])

In [84]:
base_income_peer = np.concatenate([rub_peer, not_rub_peer])
base_income_peer.mean()

0.9674011587096087

In [87]:
base_peer['HH Income/Day (USD_adult_equiv_adj)'].mean(), base_peer['HH Income/Day (USD_adult_equiv_adj)'].median()

(0.9674011587096087, 0.7699375968395449)

Income and production

In [46]:
prod_not_rub_ = np.array(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [47]:
prod_rub_ = np.array(rub_base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'])

In [129]:
base_income_production = np.concatenate([prod_rub_, prod_not_rub_])
base_income_production.mean()

1.620533365795722

In [128]:
base_peer.shape, rub_base_peer.shape

((1951, 2), (710, 4488))

In [45]:
base_peer = pd.concat([base_peer[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']],
               rub_base_peer[['hhh_sex','hhh_age','HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']]])

In [146]:
base_peer.head()

,hhh_sex,hhh_age,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
0,1,58,0.215799,0.443370
1,1,27,0.290348,0.497341
2,1,70,0.293836,0.543204
3,1,78,0.360799,0.573547
4,2,36,0.302555,0.573721

In [89]:
base_peer['Gender'] = base_peer['hhh_sex'].replace(sex_mapping)
base_peer['Gender'].value_counts()

Gender
Male      1479
Female     472
Name: count, dtype: int64

In [90]:
base_peer['Household_Head_Gender'] = base_peer['Gender']

In [91]:
base_peer['Household_Head_Gender'] = base_peer.apply(lambda row: 'Youth Headed' if row['hhh_age'] < 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [92]:
base_peer['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      1260
Female Headed     453
Youth Headed      238
Name: count, dtype: int64

In [93]:
base_peer.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)','HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].mean()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.859761,1.525616
Male Headed,0.964693,1.613478
Youth Headed,1.186615,1.838549

In [152]:
base_peer.groupby('Household_Head_Gender')[['HH Income/Day (USD_adult_equiv_adj)',
                                     'HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)']].median()

,HH Income/Day (USD_adult_equiv_adj),HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)
Household_Head_Gender,,
Female Headed,0.725275,1.268257
Male Headed,0.747561,1.274203
Youth Headed,1.070241,1.631893

In [80]:
base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].mean(), base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'].median()

(1.9436957903052967, 1.6217652665883164)

In [58]:
base_peer.to_excel("base_peer.xlsx")

In [21]:
boundaries = [0, 0.75, 1.25, 2, 3, float('inf')]
labels = ["0-<0.75/Day", "0.75-<1.25/Day", "1.25-<2/Day", "2-<3/Day", "3+/Day"]

In [46]:
base_peer['income_group'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries, labels=labels, right=False)

In [47]:
base_peer['income_group'].value_counts(normalize=True)

income_group
0.75-<1.25/Day    0.303947
1.25-<2/Day       0.285495
0-<0.75/Day       0.162993
2-<3/Day          0.154280
3+/Day            0.093285
Name: proportion, dtype: float64

0-<2.15/Day
2.15+/Day

In [25]:
boundaries_1 = [0, 2.15,float('inf')]
labels_1 = ["0-<2.15/Day", "2.15+/Day"]

In [48]:
base_peer['income_group_1'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_1, labels=labels_1, right=False)

In [49]:
base_peer['income_group_1'].value_counts(normalize=True)

income_group_1
0-<2.15/Day    0.783701
2.15+/Day      0.216299
Name: proportion, dtype: float64

In [63]:
base_peer['income_group_2'] = pd.cut(base_peer['HH Income + Consumption + Residues/Day (USD_adult_equiv_adj)'], bins=boundaries_2, labels=labels_2, right=False)

In [64]:
base_peer['income_group_2'].value_counts(normalize=True)

income_group_2
1.25-<2.15/Day    0.316761
0.75-<1.25/Day    0.303947
0-<0.75/Day       0.162993
2.5-<3/Day        0.123014
3+/Day            0.093285
Name: proportion, dtype: float64