In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("AllSouthWest&Midwest&KaliroCohorts_Yr1.xlsx", sheet_name='AllMidW&SouthW&Kaliro_Yr1', header=5)

## Year One 2022 cohort

In [3]:
df.head()

,SubmissionDate,starttime,endtime,version,duration,survey_start,intro_start,text_audit,district,Surveyor_Name,...,gs_pen_clean.1,gs_droppings_rem_composted.1,pg_pen_constr.1,pg_pen_clean.1,pg_droppings_rem_composted.1,WASH (%),AGRIC (%),Livestock (%),Household Compliance (%),Status
0,2023-08-19 07:49:58,2023-08-18 10:50:41,2023-08-18 11:33:03,2308161022,1601,7.0,7.0,https://rtvuganda.surveycto.com/view/submissio...,5,75,...,NaN,NaN,1.0,1.0,1.0,0.944444,0.25,NaN,0.597222,RTV
1,2023-08-17 19:25:07,2023-08-17 17:04:13,2023-08-17 17:36:33,2308161022,1538,18.0,18.0,https://rtvuganda.surveycto.com/view/submissio...,5,87,...,NaN,NaN,NaN,NaN,NaN,0.750000,0.60,NaN,0.675000,RTV
2,2023-08-29 19:22:34,2023-08-29 07:06:02,2023-08-29 13:14:22,2308281050,1177,4.0,4.0,https://rtvuganda.surveycto.com/view/submissio...,2,16,...,NaN,NaN,NaN,NaN,NaN,0.812500,0.60,NaN,0.706250,RTV
3,2023-08-21 18:30:33,2023-08-21 11:47:13,2023-08-21 13:31:06,2308202234,1632,4.0,4.0,https://rtvuganda.surveycto.com/view/submissio...,5,75,...,NaN,NaN,NaN,NaN,NaN,0.777778,0.30,NaN,0.538889,RTV
4,2023-08-25 20:32:40,2023-08-25 10:00:16,2023-08-25 10:56:06,2308250033,1387,23.0,23.0,https://rtvuganda.surveycto.com/view/submissio...,13,127,...,0.0,0.0,NaN,NaN,NaN,0.597222,0.20,NaN,0.398611,RTV

In [4]:
df['Status'].unique()

array(['RTV'], dtype=object)

In [23]:
rate = 3600
rate_22 = 3700
rate_21 = 3800
adjusted_cpi_22 = 80.66
adjusted_cpi_21 = 83.80

## Total savings

In [24]:
df['Total Savings (Ugx)'].mean(), df['Total Savings (Ugx)'].mean() / rate_22

(247110.87085375586, 66.78672185236644)

In [30]:
# Inflationary adjusted
(df['Total Savings (Ugx)'].mean() * (adjusted_cpi_22/100)) / rate_22

53.87016984611878

In [26]:
df.loc[df['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'].mean(), df.loc[df['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'].mean()/rate_22

(278579.24312516063, 75.29168733112449)

In [41]:
(df.loc[df['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'].mean() * (adjusted_cpi_22/100)) / rate_22

60.730275001285015

## Percentage of households actively saving

In [60]:
percent = (len(df[df['Total Savings (Ugx)'] != 0]) / len(df))
percent

0.8870397811467001

In [25]:
df['Loan Amount (Ugx)'].mean(), df['Loan Amount (Ugx)'].mean() /rate_22

(77656.6183745583, 20.98827523636711)

In [38]:
(df['Loan Amount (Ugx)'].mean() * (adjusted_cpi_22/100))  / rate_22

16.929142805653708

In [63]:
columns1 = ['bank_loan_remaining',
            'sacco_loan_remaining',
            'shop_keeper_loan_remaining',
            'family_friend_loan_remaining',
            'rtv_vsla_loan_remaining',
            'other_village_VSLA_loan_remaining',
            'money_lender_loan_remaining',
            'other_loan_source_loan_remaining']

In [64]:
df[columns1]

,bank_loan_remaining,sacco_loan_remaining,shop_keeper_loan_remaining,family_friend_loan_remaining,rtv_vsla_loan_remaining,other_village_VSLA_loan_remaining,money_lender_loan_remaining,other_loan_source_loan_remaining
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
debt = df[columns1].fillna(0).sum(axis=1).mean() * (adjusted_cpi_22/100)
debt / rate_22

14.776909689045937

In [58]:
df['borrowed_past_12_months'].mean()

0.19582810897070557

## Year 1 2021 cohorts

In [19]:
df2 = pd.read_excel('All2021Cohorts_merged_outlier managed_copy_2.xlsx', sheet_name='All2021CohortYr1',header=5)

In [27]:
df2['Total Savings (Ugx)'].mean(), df2['Total Savings (Ugx)'].mean() / rate_21

(153515.16947422153, 40.39872880900567)

In [31]:
# Inflationary adjusted
(df2['Total Savings (Ugx)'].mean() * (adjusted_cpi_21/100)) / rate_21

33.85413474194675

In [29]:
df2.loc[df2['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'].mean(), df2.loc[df2['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'].mean()/rate_21

(210378.60580622594, 55.362791001638406)

In [33]:
(df2.loc[df2['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'].mean() * (adjusted_cpi_21/100))/rate_21

46.394018859372984

## Percentage of households actively saving

In [59]:
percent = (len(df2[df2['Total Savings (Ugx)'] != 0]) / len(df2))
percent

0.7297090352220521

In [28]:
df2['Loan Amount (Ugx)'].mean(), df2['Loan Amount (Ugx)'].mean() /rate_21

(71304.4920877999, 18.764340023105234)

In [39]:
(df2['Loan Amount (Ugx)'].mean() * (adjusted_cpi_21/100))  / rate_21

15.724516939362188

## Total outstanding debt

In [50]:
columns =   [
            'bank_loan_remaining',
            'vsla_loan_remaining', 
            'mobile_lender_loan_remaining', 
            'telecom_loan_remaining', 
            'individual_loan_remaining', 
            'other_loan_remaining'
            ]

In [46]:
columns = ['bank_loan_remaining',
            'saaco_loan_remaining',
            'shop_keeper_loan_remaining',
            'family_friend_loan_remaining',
            'rtv_vsla_loan_remaining',
            'other_village_VSLA_loan_remaining',
            'money_lender_loan_remaining',
            'other_loan_source_loan_remaining']

In [53]:
debt = df2[columns].fillna(0).sum(axis=1).mean() * (adjusted_cpi_21/100)
debt / rate_21

7.996839747723059

In [57]:
df2['Loan_in_the_past_12_months_'].mean()

0.17023991832567636

In [72]:
import numpy as np

In [86]:
array1 = np.array(df['Total Savings (Ugx)'] * (adjusted_cpi_22/100)/ rate_22)
len(array1)

8773

In [85]:
array2 = np.array(df2['Total Savings (Ugx)'] * (adjusted_cpi_21/100)/ rate_21)
len(array2)

3918

In [87]:
merged_array = np.concatenate([array1, array2])
len(merged_array)

12691

In [88]:
merged_array.mean()

47.6907651074736

## Active Savings

In [93]:
array1 = np.array(df.loc[df['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'] * (adjusted_cpi_22/100)/ rate_22)
len(array1)

7782

In [95]:
array2 = np.array(df2.loc[df2['Total Savings (Ugx)'] != 0]['Total Savings (Ugx)'] * (adjusted_cpi_21/100)/ rate_21)
len(array2)

2859

In [96]:
merged_array = np.concatenate([array1, array2])
len(merged_array)

10641

In [97]:
merged_array.mean()

56.87844187378512

## Loan Amount

In [89]:
array3 = np.array(df['Loan Amount (Ugx)'] * (adjusted_cpi_22/100)/ rate_22)
len(array1)

8773

In [90]:
array4 = np.array(df2['Loan Amount (Ugx)'] * (adjusted_cpi_21/100)/ rate_21)
len(array2)

3918

In [91]:
merged_array_1 = np.concatenate([array3, array4])
len(merged_array_1)

12691

In [92]:
merged_array_1.mean()

16.55724743538106